Add username to Desk Authorisation_FlowDef.json
{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_an_item_is_created":{"recurrence":{"frequency":"Minute","interval":1},"splitOn":"@triggerOutputs()?['body/value']","type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetOnNewItems"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","table":"ec42bc27-4c19-43cb-9657-dbd22b220e37"},"authentication":"@parameters('$authentication')"}}},"actions":{"Condition":{"actions":{"Get_user_profile_(V2)":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365users","connectionName":"shared_office365users","operationId":"UserProfile_V2"},"parameters":{"id":"@triggerOutputs()?['body/Name/Email']"},"authentication":"@parameters('$authentication')"}},"Update_item":{"runAfter":{"Get_user_profile_(V2)":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","table":"ec42bc27-4c19-43cb-9657-dbd22b220e37","id":"@triggerOutputs()?['body/ID']","item/Title":"@outputs('Get_user_profile_(V2)')?['body/mailNickname']"},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"expression":{"equals":["@triggerOutputs()?['body/Title']","@null"]},"type":"If"}}}