Backup_Flow_FlowDef.json
{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"fea27944-3ab0-405e-9bfd-8ca0714aa0d0"},"type":"Request","kind":"Button","inputs":{"schema":{"type":"object","properties":{},"required":[]}}}},"actions":{"Get_Flow":{"runAfter":{},"metadata":{"operationMetadataId":"00382ec3-dcf7-4a8d-b6b6-a4976843e4c9"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_flowmanagement","connectionName":"shared_flowmanagement","operationId":"GetFlow"},"parameters":{"environmentName":"Default-b2e47f30-cd7d-4a4e-a5da-b18cf1a4151b","flowName":"c234fb79-cae8-4cb9-bc39-7c4faece88aa"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"FlowDef":{"runAfter":{"Get_Flow":["Succeeded"]},"metadata":{"operationMetadataId":"1a939a2a-882a-4c34-8fee-d5936c08b01b"},"type":"Compose","inputs":"@outputs('Get_Flow')?['body/properties/definition']"},"FlowConnRef":{"runAfter":{"FlowDef":["Succeeded"]},"metadata":{"operationMetadataId":"c909a0ee-0e39-4ec9-a25b-06796eda1803"},"type":"Compose","inputs":"@outputs('Get_Flow')?['body/properties/connectionReferences']"},"Create_flow_definition_file":{"runAfter":{"FlowConnRef":["Succeeded"]},"metadata":{"operationMetadataId":"f1e5fd39-03ac-402b-92d7-397ba71fc562"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","connectionName":"shared_onedriveforbusiness","operationId":"CreateFile"},"parameters":{"folderPath":"/PowerBackup","name":"@{outputs('Get_Flow')?['body/properties/displayName']}_FlowDef.json","body":"@outputs('FlowDef')"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}},"Create_flow_connection_references_file":{"runAfter":{"Create_flow_definition_file":["Succeeded"]},"metadata":{"operationMetadataId":"f8d8758d-c195-4b48-afb9-80484cc5f100"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","connectionName":"shared_onedriveforbusiness","operationId":"CreateFile"},"parameters":{"folderPath":"/PowerBackup","name":"@{outputs('Get_Flow')?['body/properties/displayName']}_FlowConnRef.json","body":"@outputs('FlowConnRef')"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}}}}