BCI Storage Registration_FlowDef.json
{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_new_response_is_submitted":{"splitOn":"@triggerOutputs()?['body/value']","metadata":{"operationMetadataId":"d6d7f04f-2f53-4eff-a339-928b5e99fd96"},"type":"OpenApiConnectionWebhook","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_microsoftforms","connectionName":"shared_microsoftforms","operationId":"CreateFormWebhook"},"parameters":{"form_id":"MH_ksn3NTkql2rGM8aQVG2PvPX4q_EVEiz61XmYMV4RUODlIWVRPTVg1UUlWRTRFV1RHQkRPMEc2QSQlQCN0PWcu"},"authentication":"@parameters('$authentication')"}}},"actions":{"Get_response_details":{"runAfter":{},"metadata":{"operationMetadataId":"4fce491e-19d4-49b9-8cc2-61c2a397c480"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_microsoftforms","connectionName":"shared_microsoftforms","operationId":"GetFormResponseById"},"parameters":{"form_id":"MH_ksn3NTkql2rGM8aQVG2PvPX4q_EVEiz61XmYMV4RUODlIWVRPTVg1UUlWRTRFV1RHQkRPMEc2QSQlQCN0PWcu","response_id":"@triggerOutputs()?['body/resourceData/responseId']"},"authentication":"@parameters('$authentication')"}},"Switch":{"runAfter":{"Initialize_variable_-_path":["Succeeded"]},"cases":{"Case":{"case":"Annexe","actions":{"Condition":{"actions":{"Set_variable":{"runAfter":{},"type":"SetVariable","inputs":{"name":"vReviewDate","value":"@{string(formatDateTime(addDays(utcNow(), 1825), 'dd/MM/yyyy'))}"},"description":"if null add 5 years"}},"runAfter":{},"else":{"actions":{"Set_variable_17":{"runAfter":{},"type":"SetVariable","inputs":{"name":"vReviewDate","value":"@{string(formatDateTime(outputs('Get_response_details')?['body/r1a0c5f713b9f4867b1d93ddcd65af211'], 'dd/MM/yyyy'))}"}}}},"expression":{"equals":["@empty(outputs('Get_response_details')?['body/r1a0c5f713b9f4867b1d93ddcd65af211'])",true]},"type":"If"},"Update_item":{"runAfter":{"Condition":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","table":"1d6d527e-1984-4fc0-9925-b5b0c20250ce","id":"@outputs('Create_item')?['body/ID']","item/Title":"@concat('AX', outputs('Create_item')?['body/Title'])","item/Domain/Value":"Annexe","item/ReviewDate":"@variables('vReviewDate')","item/Shelflocation":"@outputs('Get_response_details')?['body/r53f280016c4f401eb86ddfed6663a016']"},"authentication":"@parameters('$authentication')"}}}},"Case_2":{"case":"Archive","actions":{"Condition_2":{"actions":{"Set_variable_2":{"runAfter":{},"type":"SetVariable","inputs":{"name":"vReviewDate","value":"@{string(formatDateTime(addDays(utcNow(), 1825), 'dd/MM/yyyy'))}"}}},"runAfter":{},"else":{"actions":{"Set_variable_18":{"runAfter":{},"type":"SetVariable","inputs":{"name":"vReviewDate","value":"@{string(formatDateTime(outputs('Get_response_details')?['body/r1a0c5f713b9f4867b1d93ddcd65af211'], 'dd/MM/yyyy'))}"}}}},"expression":{"equals":["@empty(outputs('Get_response_details')?['body/r1a0c5f713b9f4867b1d93ddcd65af211'])",true]},"type":"If"},"Update_item_2":{"runAfter":{"Condition_2":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","table":"1d6d527e-1984-4fc0-9925-b5b0c20250ce","id":"@outputs('Create_item')?['body/ID']","item/Title":"@concat('AR', outputs('Create_item')?['body/Title'])","item/Domain/Value":"Archive","item/ReviewDate":"@variables('vReviewDate')","item/Shelflocation":"@outputs('Get_response_details')?['body/r53f280016c4f401eb86ddfed6663a016']"},"authentication":"@parameters('$authentication')"}}}},"Case_3":{"case":"Dry Fibre","actions":{"Condition_3":{"actions":{"Set_variable_3":{"runAfter":{},"type":"SetVariable","inputs":{"name":"vReviewDate","value":"@{string(formatDateTime(addDays(utcNow(), 730), 'dd/MM/yyyy'))}"}}},"runAfter":{},"else":{"actions":{"Set_variable_19":{"runAfter":{},"type":"SetVariable","inputs":{"name":"vReviewDate","value":"@{string(formatDateTime(outputs('Get_response_details')?['body/r1a0c5f713b9f4867b1d93ddcd65af211'], 'dd/MM/yyyy'))}"}}}},"expression":{"equals":["@empty(outputs('Get_response_details')?['body/r1a0c5f713b9f4867b1d93ddcd65af211'])",true]},"type":"If"},"Update_item_3":{"runAfter":{"Condition_3":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","table":"1d6d527e-1984-4fc0-9925-b5b0c20250ce","id":"@outputs('Create_item')?['body/ID']","item/Title":"@concat('DF', outputs('Create_item')?['body/Title'])","item/Domain/Value":"Dry Fibre","item/ReviewDate":"@variables('vReviewDate')","item/Shelflocation":"@outputs('Get_response_details')?['body/r53f280016c4f401eb86ddfed6663a016']","item/MaterialDescription":"@outputs('Get_response_details')?['body/rea8e4d697ceb4d71b7fbd4aa1f67db79']","item/Width":"@outputs('Get_response_details')?['body/r88d7190a862843f6bb0d4aa5a552e60a']","item/Length":"@outputs('Get_response_details')?['body/rb1394d43b56740918fee1f06e344a684']"},"authentication":"@parameters('$authentication')"}}}},"Case_4":{"case":"Freezer","actions":{"Condition_4":{"actions":{"Set_variable_4":{"runAfter":{},"type":"SetVariable","inputs":{"name":"vReviewDate","value":"@{string(formatDateTime(addDays(utcNow(), 730), 'dd/MM/yyyy'))}"}}},"runAfter":{},"else":{"actions":{"Set_variable_20":{"runAfter":{},"type":"SetVariable","inputs":{"name":"vReviewDate","value":"@{string(formatDateTime(outputs('Get_response_details')?['body/r1a0c5f713b9f4867b1d93ddcd65af211'], 'dd/MM/yyyy'))}"}}}},"expression":{"equals":["@empty(outputs('Get_response_details')?['body/r1a0c5f713b9f4867b1d93ddcd65af211'])",true]},"type":"If"},"Update_item_4":{"runAfter":{"Condition_4":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","table":"1d6d527e-1984-4fc0-9925-b5b0c20250ce","id":"@outputs('Create_item')?['body/ID']","item/Title":"@concat('FZ',outputs('Create_item')?['body/Title'] )","item/Domain/Value":"Freezer","item/ReviewDate":"@variables('vReviewDate')","item/Shelflocation":"@outputs('Get_response_details')?['body/r53f280016c4f401eb86ddfed6663a016']","item/MaterialDescription":"@outputs('Get_response_details')?['body/r69794da3000246b1b8db9634bbe7c51f']","item/Width":"@outputs('Get_response_details')?['body/r88d7190a862843f6bb0d4aa5a552e60a']","item/Length":"@outputs('Get_response_details')?['body/rb1394d43b56740918fee1f06e344a684']","item/ExpiryDate":"@outputs('Get_response_details')?['body/ra5e1c94362c74d6f937ca4f1673feb19']"},"authentication":"@parameters('$authentication')"}}}},"Case_5":{"case":"Jigs & Fixtures","actions":{"Condition_5":{"actions":{"Set_variable_5":{"runAfter":{},"type":"SetVariable","inputs":{"name":"vReviewDate","value":"@{string(formatDateTime(addDays(utcNow(), 1825), 'dd/MM/yyyy'))}"}}},"runAfter":{},"else":{"actions":{"Set_variable_21":{"runAfter":{},"type":"SetVariable","inputs":{"name":"vReviewDate","value":"@{string(formatDateTime(outputs('Get_response_details')?['body/r1a0c5f713b9f4867b1d93ddcd65af211'], 'dd/MM/yyyy'))}"}}}},"expression":{"equals":["@empty(outputs('Get_response_details')?['body/r1a0c5f713b9f4867b1d93ddcd65af211'])",true]},"type":"If"},"Update_item_5":{"runAfter":{"Condition_5":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","table":"1d6d527e-1984-4fc0-9925-b5b0c20250ce","id":"@outputs('Create_item')?['body/ID']","item/Title":"@concat('JF', outputs('Create_item')?['body/Title'])","item/Domain/Value":"Jigs & Fixtures","item/ReviewDate":"@variables('vReviewDate')","item/Shelflocation":"@outputs('Get_response_details')?['body/r53f280016c4f401eb86ddfed6663a016']","item/Description":"@outputs('Get_response_details')?['body/ra43d4b3fd7e34b84817fc96be46e474a']"},"authentication":"@parameters('$authentication')"}}}},"Case_6":{"case":"Lockers","actions":{"Condition_6":{"actions":{"Set_variable_6":{"runAfter":{},"type":"SetVariable","inputs":{"name":"vReviewDate","value":"@{formatDateTime(addDays(utcNow(), 90), 'dd/MM/yyyy')}"}}},"runAfter":{},"else":{"actions":{"Set_variable_22":{"runAfter":{},"type":"SetVariable","inputs":{"name":"vReviewDate","value":"@{formatDateTime(outputs('Get_response_details')?['body/r1a0c5f713b9f4867b1d93ddcd65af211'], 'dd/MM/yyyy')}"}}}},"expression":{"equals":["@empty(outputs('Get_response_details')?['body/r1a0c5f713b9f4867b1d93ddcd65af211'])",true]},"type":"If"},"Update_item_6":{"runAfter":{"Condition_6":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","table":"1d6d527e-1984-4fc0-9925-b5b0c20250ce","id":"@outputs('Create_item')?['body/ID']","item/Title":"@concat('LK', outputs('Create_item')?['body/Title'])","item/Domain/Value":"Lockers","item/ReviewDate":"@variables('vReviewDate')","item/Lockernumber":"@outputs('Get_response_details')?['body/r11f8bc85b45443ef813f5adcb3c8cebf']"},"authentication":"@parameters('$authentication')"}}}},"Case_7":{"case":"Chemical","actions":{"Terminate":{"runAfter":{},"type":"Terminate","inputs":{"runStatus":"Cancelled"}}}},"Case_8":{"case":"Nano","actions":{"Condition_16":{"actions":{"Set_variable_28":{"runAfter":{},"type":"SetVariable","inputs":{"name":"vReviewDate","value":"@{formatDateTime(addDays(utcNow(), 365), 'dd/MM/yyyy')}"}}},"runAfter":{},"else":{"actions":{"Set_variable_29":{"runAfter":{},"type":"SetVariable","inputs":{"name":"vReviewDate","value":"@{formatDateTime(outputs('Get_response_details')?['body/r1a0c5f713b9f4867b1d93ddcd65af211'], 'dd/MM/yyyy')}"}}}},"expression":{"equals":["@empty(outputs('Get_response_details')?['body/r1a0c5f713b9f4867b1d93ddcd65af211'])",true]},"type":"If"},"Update_item_9":{"runAfter":{"Condition_16":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","table":"1d6d527e-1984-4fc0-9925-b5b0c20250ce","id":"@outputs('Create_item')?['body/ID']","item/Title":"@concat('NA', outputs('Create_item')?['body/Title'])","item/Domain/Value":"Nano","item/ReviewDate":"@variables('vReviewDate')","item/Description":"@outputs('Get_response_details')?['body/r320bcad08dfd4b11b55a12b76a9c459a']"},"authentication":"@parameters('$authentication')"}}}},"Case_9":{"case":"Helpdesk","actions":{"Condition_17":{"actions":{"Set_variable_30":{"runAfter":{},"type":"SetVariable","inputs":{"name":"vReviewDate","value":"@{formatDateTime(addDays(utcNow(), 365), 'dd/MM/yyyy')}"}}},"runAfter":{},"else":{"actions":{"Set_variable_31":{"runAfter":{},"type":"SetVariable","inputs":{"name":"vReviewDate","value":"@{formatDateTime(outputs('Get_response_details')?['body/r1a0c5f713b9f4867b1d93ddcd65af211'], 'dd/MM/yyyy')}"}}}},"expression":{"equals":["@empty(outputs('Get_response_details')?['body/r1a0c5f713b9f4867b1d93ddcd65af211'])",true]},"type":"If"},"Update_item_10":{"runAfter":{"Condition_17":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","table":"1d6d527e-1984-4fc0-9925-b5b0c20250ce","id":"@outputs('Create_item')?['body/ID']","item/Title":"@concat('HD', outputs('Create_item')?['body/Title'])","item/Domain/Value":"Helpdesk","item/ReviewDate":"@variables('vReviewDate')","item/Description":"@outputs('Get_response_details')?['body/r73c341fddcdd47fb94e59660cb2fcba1']"},"authentication":"@parameters('$authentication')"}}}}},"default":{"actions":{"Condition_7":{"actions":{"Set_variable_7":{"runAfter":{},"type":"SetVariable","inputs":{"name":"vReviewDate","value":"@{string(formatDateTime(addDays(utcNow(), 180), 'dd/MM/yyyy'))}"}}},"runAfter":{},"else":{"actions":{"Set_variable_23":{"runAfter":{},"type":"SetVariable","inputs":{"name":"vReviewDate","value":"@{string(formatDateTime(outputs('Get_response_details')?['body/r1a0c5f713b9f4867b1d93ddcd65af211'], 'dd/MM/yyyy'))}"}}}},"expression":{"equals":["@empty(outputs('Get_response_details')?['body/r1a0c5f713b9f4867b1d93ddcd65af211'])",true]},"type":"If"},"Update_item_7":{"runAfter":{"Condition_7":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","table":"1d6d527e-1984-4fc0-9925-b5b0c20250ce","id":"@outputs('Create_item')?['body/ID']","item/Title":"@concat('ZZ', outputs('Create_item')?['body/Title'])","item/Domain/Value":"@outputs('Get_response_details')?['body/r536732ee2658414f8e35cddc33e54b35']","item/ReviewDate":"@variables('vReviewDate')","item/Shelflocation":"@outputs('Get_response_details')?['body/r53f280016c4f401eb86ddfed6663a016']"},"authentication":"@parameters('$authentication')"}}}},"expression":"@outputs('Get_response_details')?['body/r536732ee2658414f8e35cddc33e54b35']","metadata":{"operationMetadataId":"8d3f9c9a-dead-462e-8838-70c18a007579"},"type":"Switch"},"Create_item":{"runAfter":{"Initialize_variable_-_Review_Date":["Succeeded"]},"metadata":{"operationMetadataId":"ce5c98f0-f63e-4fdb-b312-c2e845d69e53"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PostItem"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","table":"1d6d527e-1984-4fc0-9925-b5b0c20250ce","item/Title":"@variables('vResponseID')","item/Approved":"@if(equals(outputs('Get_response_details')?['body/r0459a58663f345b1bb1baca053c69964'], 'Yes'), 'No', 'Yes')","item/Domain/Value":"@outputs('Get_response_details')?['body/r536732ee2658414f8e35cddc33e54b35']","item/Owner/Claims":"@variables('display_name')","item/Supervisor/Claims":"@variables('varSuper')","item/Shelflocation":"@outputs('Get_response_details')?['body/r53f280016c4f401eb86ddfed6663a016']","item/Lockernumber":"@outputs('Get_response_details')?['body/r11f8bc85b45443ef813f5adcb3c8cebf']","item/MaterialDescription":"@{outputs('Get_response_details')?['body/r69794da3000246b1b8db9634bbe7c51f']}@{outputs('Get_response_details')?['body/rea8e4d697ceb4d71b7fbd4aa1f67db79']}","item/BatchNo_x002f_RollNo":"@outputs('Get_response_details')?['body/r2e71b89a20a04fe5863b014fab67ae09']","item/Width":"@outputs('Get_response_details')?['body/r88d7190a862843f6bb0d4aa5a552e60a']","item/Length":"@outputs('Get_response_details')?['body/rb1394d43b56740918fee1f06e344a684']","item/Mass_x0028_kg_x0029_":"@outputs('Get_response_details')?['body/r17c914b4f6804eefb63ea8a8c21ac1ff']","item/ExpiryDate":"@outputs('Get_response_details')?['body/ra5e1c94362c74d6f937ca4f1673feb19']","item/Description":"@outputs('Get_response_details')?['body/ra43d4b3fd7e34b84817fc96be46e474a']","item/Location/Value":"@outputs('Get_response_details')?['body/rf960ecff342b4b70b33cd93216a5967a']"},"authentication":"@parameters('$authentication')"}},"Initialize_variable_-_Response_ID":{"runAfter":{"Condition_11":["Succeeded"]},"metadata":{"operationMetadataId":"afbf3c6b-f079-48a7-8fc7-f77b7bac5f4a"},"type":"InitializeVariable","inputs":{"variables":[{"name":"vResponseID","type":"string","value":"@{formatNumber(triggerOutputs()?['body/resourceData/responseId'], '0000')}"}]}},"Initialize_variable_-_Review_Date":{"runAfter":{"Initialize_variable_-_Response_ID":["Succeeded"]},"metadata":{"operationMetadataId":"11247b42-2f72-484f-bb62-15d91297ed32"},"type":"InitializeVariable","inputs":{"variables":[{"name":"vReviewDate","type":"string","value":"@{if(empty(outputs('Get_response_details')?['body/r1a0c5f713b9f4867b1d93ddcd65af211']), null, outputs('Get_response_details')?['body/r1a0c5f713b9f4867b1d93ddcd65af211'])}"}]},"description":"if(empty(outputs('Get_response_details')?['body/r1a']), 'null', formatDateTime(outputs('Get_response_details')?['body/r1a'], 'dd/MM/yyyy'))"},"Initialize_variable_-_path":{"runAfter":{"Create_item":["Succeeded"]},"metadata":{"operationMetadataId":"2f726c79-3289-4dfe-b840-1edffd4146ec"},"type":"InitializeVariable","inputs":{"variables":[{"name":"path","type":"string","value":"@outputs('Create_item')?['body/{Link}']"}]}},"QR_code_req":{"actions":{"Delete_temp_QR_file":{"runAfter":{"Add_QR_attachment":["Succeeded"]},"metadata":{"operationMetadataId":"95aeb0f1-a45a-4522-a93f-19e28015929a"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"DeleteFile"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","id":"@outputs('Create_file_-_QR_in_SP_Lib')?['body/Id']"},"authentication":"@parameters('$authentication')"}},"Add_QR_attachment":{"runAfter":{"Create_file_-_QR_in_SP_Lib":["Succeeded"]},"metadata":{"operationMetadataId":"d9aeee85-57f1-43ca-abc9-1141c7817474"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"CreateAttachment"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","table":"1d6d527e-1984-4fc0-9925-b5b0c20250ce","itemId":"@outputs('Create_item')?['body/ID']","displayName":"@outputs('Create_file_-_QR_in_SP_Lib')?['body/Name']","body":"@body('HTTP')"},"authentication":"@parameters('$authentication')"}},"Create_file_-_QR_in_SP_Lib":{"runAfter":{"Get_item":["Succeeded"]},"metadata":{"operationMetadataId":"e42d63ba-c415-4d3a-a133-0c5a2a7b23be"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"CreateFile"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","folderPath":"/MasterStorage","name":"@{outputs('Get_item')?['body/Title']}_QR.png","body":"@body('HTTP')"},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}},"HTTP":{"runAfter":{"Compose_path":["Succeeded"]},"metadata":{"operationMetadataId":"a6d1f702-06ad-4b19-a9d3-7edf7e442d41"},"type":"Http","inputs":{"method":"GET","uri":"https://api.qrserver.com/v1/create-qr-code/?data=@{outputs('Compose_path')}"}},"Compose_path":{"runAfter":{},"metadata":{"operationMetadataId":"6f399391-b5b1-491a-beb9-6a4c171f8b67"},"type":"Compose","inputs":"@replace(variables('path'), '&', '%26')"},"Get_item":{"runAfter":{"HTTP":["Succeeded"]},"metadata":{"operationMetadataId":"c6d922b9-ac9c-4fc9-8258-fd136ca21ef4"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItem"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","table":"1d6d527e-1984-4fc0-9925-b5b0c20250ce","id":"@outputs('Create_item')?['body/ID']"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Switch":["Succeeded"]},"expression":{"or":[{"equals":["@outputs('Get_response_details')?['body/r536732ee2658414f8e35cddc33e54b35']","Annexe"]},{"equals":["@outputs('Get_response_details')?['body/r536732ee2658414f8e35cddc33e54b35']","Archive"]},{"equals":["@outputs('Get_response_details')?['body/r536732ee2658414f8e35cddc33e54b35']","Dry Fibre"]},{"equals":["@outputs('Get_response_details')?['body/r536732ee2658414f8e35cddc33e54b35']","Freezer"]},{"equals":["@outputs('Get_response_details')?['body/r536732ee2658414f8e35cddc33e54b35']","Jigs & Fixtures"]},{"equals":["@outputs('Get_response_details')?['body/r536732ee2658414f8e35cddc33e54b35']","Nano"]},{"equals":["@outputs('Get_response_details')?['body/r536732ee2658414f8e35cddc33e54b35']","Helpdesk"]}]},"metadata":{"operationMetadataId":"8bf2ec38-6040-4fd3-8ec4-eedc713780ed"},"type":"If"},"Switch_2":{"runAfter":{"QR_code_req":["Succeeded"]},"cases":{"Case":{"case":"Annexe","actions":{"Get_template_file_content":{"runAfter":{},"metadata":{"%252fMasterStorage%252fAnnexeTemp.docx":"/MasterStorage/AnnexeTemp.docx","%252fMasterStorage%252fFullTempQR.docx":"/MasterStorage/FullTempQR.docx"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetFileContent"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","id":"%252fMasterStorage%252fFullTempQR.docx","inferContentType":true},"authentication":"@parameters('$authentication')"}},"Create_file":{"runAfter":{"Get_template_file_content":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"CreateFile"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","folderPath":"/MasterStorage","name":"@{outputs('Update_item')?['body/Title']}.docx","body":"@outputs('Get_template_file_content')?['body']"},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}},"Update_file_properties":{"runAfter":{"Create_file":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchFileItem"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","table":"e5000f0c-486c-464a-b31f-779478954d38","id":"@outputs('Create_file')?['body/ItemId']","item/varTitle":"@outputs('Update_item')?['body/Title']","item/varName":"@outputs('Create_item')?['body/Owner/DisplayName']","item/varSuper":"@outputs('Create_item')?['body/Supervisor/DisplayName']","item/varReviewDate":"@variables('vReviewDate')"},"authentication":"@parameters('$authentication')"}},"Get_file_content":{"runAfter":{"Update_file_properties":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetFileContent"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","id":"@outputs('Create_file')?['body/Id']","inferContentType":true},"authentication":"@parameters('$authentication')"}},"Add_attachment":{"runAfter":{"Get_file_content":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"CreateAttachment"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","table":"1d6d527e-1984-4fc0-9925-b5b0c20250ce","itemId":"@outputs('Update_item')?['body/ID']","displayName":"@outputs('Create_file')?['body/Name']","body":"@outputs('Get_file_content')?['body']"},"authentication":"@parameters('$authentication')"}},"Delete_file":{"runAfter":{"Add_attachment":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"DeleteFile"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","id":"@outputs('Create_file')?['body/Id']"},"authentication":"@parameters('$authentication')"}},"Get_file_content_9":{"runAfter":{"Get_template_file_content":["Succeeded"]},"metadata":{"%252fMasterStorage%252fSmallTempQR.docx":"/MasterStorage/SmallTempQR.docx"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetFileContent"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","id":"%252fMasterStorage%252fSmallTempQR.docx","inferContentType":true},"authentication":"@parameters('$authentication')"}},"Create_file_9":{"runAfter":{"Get_file_content_9":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"CreateFile"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","folderPath":"/MasterStorage","name":"@{outputs('Update_item')?['body/Title']}_Small.docx","body":"@outputs('Get_file_content_9')?['body']"},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}},"Update_file_properties_8":{"runAfter":{"Create_file_9":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchFileItem"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","table":"e5000f0c-486c-464a-b31f-779478954d38","id":"@outputs('Create_file_9')?['body/ItemId']","item/varTitle":"@outputs('Update_item')?['body/Title']","item/varName":"@outputs('Create_item')?['body/Owner/DisplayName']","item/varSuper":"@outputs('Create_item')?['body/Supervisor/DisplayName']","item/varReviewDate":"@variables('vReviewDate')"},"authentication":"@parameters('$authentication')"}},"Get_file_content_10":{"runAfter":{"Update_file_properties_8":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetFileContent"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","id":"@outputs('Create_file_9')?['body/Id']","inferContentType":true},"authentication":"@parameters('$authentication')"}},"Add_attachment_10":{"runAfter":{"Get_file_content_10":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"CreateAttachment"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","table":"1d6d527e-1984-4fc0-9925-b5b0c20250ce","itemId":"@outputs('Update_item')?['body/ID']","displayName":"@outputs('Create_file_9')?['body/Name']","body":"@outputs('Get_file_content_10')?['body']"},"authentication":"@parameters('$authentication')"}},"Delete_file_10":{"runAfter":{"Add_attachment_10":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"DeleteFile"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","id":"@outputs('Create_file_9')?['body/Id']"},"authentication":"@parameters('$authentication')"}}}},"Case_2":{"case":"Archive","actions":{"Get_template_file_content_2":{"runAfter":{},"metadata":{"%252fMasterStorage%252fFullTempQR.docx":"/MasterStorage/FullTempQR.docx"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetFileContent"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","id":"%252fMasterStorage%252fFullTempQR.docx","inferContentType":true},"authentication":"@parameters('$authentication')"}},"Create_file_2":{"runAfter":{"Get_template_file_content_2":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"CreateFile"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","folderPath":"/MasterStorage","name":"@{outputs('Update_item_2')?['body/Title']}.docx","body":"@outputs('Get_template_file_content_2')?['body']"},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}},"Update_file_properties_2":{"runAfter":{"Create_file_2":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchFileItem"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","table":"e5000f0c-486c-464a-b31f-779478954d38","id":"@outputs('Create_file_2')?['body/ItemId']","item/varTitle":"@outputs('Update_item_2')?['body/Title']","item/varName":"@outputs('Create_item')?['body/Owner/DisplayName']","item/varSuper":"@outputs('Create_item')?['body/Supervisor/DisplayName']","item/varReviewDate":"@variables('vReviewDate')"},"authentication":"@parameters('$authentication')"}},"Get_file_content_2":{"runAfter":{"Update_file_properties_2":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetFileContent"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","id":"@outputs('Create_file_2')?['body/Id']","inferContentType":true},"authentication":"@parameters('$authentication')"}},"Add_attachment_2":{"runAfter":{"Get_file_content_2":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"CreateAttachment"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","table":"1d6d527e-1984-4fc0-9925-b5b0c20250ce","itemId":"@outputs('Update_item_2')?['body/ID']","displayName":"@outputs('Create_file_2')?['body/Name']","body":"@outputs('Get_file_content_2')?['body']"},"authentication":"@parameters('$authentication')"}},"Delete_file_2":{"runAfter":{"Add_attachment_2":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"DeleteFile"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","id":"@outputs('Create_file_2')?['body/Id']"},"authentication":"@parameters('$authentication')"}},"Get_file_content_11":{"runAfter":{"Get_template_file_content_2":["Succeeded"]},"metadata":{"%252fMasterStorage%252fSmallTempQR.docx":"/MasterStorage/SmallTempQR.docx"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetFileContent"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","id":"%252fMasterStorage%252fSmallTempQR.docx","inferContentType":true},"authentication":"@parameters('$authentication')"}},"Create_file_10":{"runAfter":{"Get_file_content_11":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"CreateFile"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","folderPath":"/MasterStorage","name":"@{outputs('Update_item_2')?['body/Title']}_Small.docx","body":"@outputs('Get_file_content_11')?['body']"},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}},"Update_file_properties_9":{"runAfter":{"Create_file_10":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchFileItem"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","table":"e5000f0c-486c-464a-b31f-779478954d38","id":"@outputs('Create_file_10')?['body/ItemId']","item/varTitle":"@outputs('Update_item_2')?['body/Title']","item/varName":"@outputs('Create_item')?['body/Owner/DisplayName']","item/varSuper":"@outputs('Create_item')?['body/Supervisor/DisplayName']","item/varReviewDate":"@variables('vReviewDate')"},"authentication":"@parameters('$authentication')"}},"Get_file_content_12":{"runAfter":{"Update_file_properties_9":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetFileContent"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","id":"@outputs('Create_file_10')?['body/Id']","inferContentType":true},"authentication":"@parameters('$authentication')"}},"Add_attachment_11":{"runAfter":{"Get_file_content_12":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"CreateAttachment"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","table":"1d6d527e-1984-4fc0-9925-b5b0c20250ce","itemId":"@outputs('Update_item_2')?['body/ID']","displayName":"@outputs('Create_file_10')?['body/Name']","body":"@outputs('Get_file_content_12')?['body']"},"authentication":"@parameters('$authentication')"}},"Delete_file_11":{"runAfter":{"Add_attachment_11":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"DeleteFile"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","id":"@outputs('Create_file_10')?['body/Id']"},"authentication":"@parameters('$authentication')"}}}},"Case_3":{"case":"Dry Fibre","actions":{"Get_template_file_content_3":{"runAfter":{},"metadata":{"%252fMasterStorage%252fSmallTempQR.docx":"/MasterStorage/SmallTempQR.docx"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetFileContent"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","id":"%252fMasterStorage%252fSmallTempQR.docx","inferContentType":true},"authentication":"@parameters('$authentication')"}},"Create_file_3":{"runAfter":{"Get_template_file_content_3":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"CreateFile"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","folderPath":"/MasterStorage","name":"@{outputs('Update_item_3')?['body/Title']}.docx","body":"@outputs('Get_template_file_content_3')?['body']"},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}},"Update_file_properties_3":{"runAfter":{"Create_file_3":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchFileItem"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","table":"e5000f0c-486c-464a-b31f-779478954d38","id":"@outputs('Create_file_3')?['body/ItemId']","item/varTitle":"@outputs('Update_item_3')?['body/Title']"},"authentication":"@parameters('$authentication')"}},"Get_file_content_3":{"runAfter":{"Update_file_properties_3":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetFileContent"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","id":"@outputs('Create_file_3')?['body/Id']","inferContentType":true},"authentication":"@parameters('$authentication')"}},"Add_attachment_3":{"runAfter":{"Get_file_content_3":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"CreateAttachment"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","table":"1d6d527e-1984-4fc0-9925-b5b0c20250ce","itemId":"@outputs('Update_item_3')?['body/ID']","displayName":"@outputs('Create_file_3')?['body/Name']","body":"@outputs('Get_file_content_3')?['body']"},"authentication":"@parameters('$authentication')"}},"Delete_file_3":{"runAfter":{"Add_attachment_3":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"DeleteFile"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","id":"@outputs('Create_file_3')?['body/Id']"},"authentication":"@parameters('$authentication')"}}}},"Case_4":{"case":"Freezer","actions":{"Get_template_file_content_4":{"runAfter":{},"metadata":{"%252fMasterStorage%252fSmallTempQR.docx":"/MasterStorage/SmallTempQR.docx"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetFileContent"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","id":"%252fMasterStorage%252fSmallTempQR.docx","inferContentType":true},"authentication":"@parameters('$authentication')"}},"Create_file_4":{"runAfter":{"Get_template_file_content_4":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"CreateFile"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","folderPath":"/MasterStorage","name":"@{outputs('Update_item_4')?['body/Title']}.docx","body":"@outputs('Get_template_file_content_4')?['body']"},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}},"Update_file_properties_4":{"runAfter":{"Create_file_4":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchFileItem"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","table":"e5000f0c-486c-464a-b31f-779478954d38","id":"@outputs('Create_file_4')?['body/ItemId']","item/varTitle":"@outputs('Update_item_4')?['body/Title']"},"authentication":"@parameters('$authentication')"}},"Get_file_content_4":{"runAfter":{"Update_file_properties_4":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetFileContent"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","id":"@outputs('Create_file_4')?['body/Id']","inferContentType":true},"authentication":"@parameters('$authentication')"}},"Add_attachment_4":{"runAfter":{"Get_file_content_4":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"CreateAttachment"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","table":"1d6d527e-1984-4fc0-9925-b5b0c20250ce","itemId":"@outputs('Update_item_4')?['body/ID']","displayName":"@outputs('Create_file_4')?['body/Name']","body":"@outputs('Get_file_content_4')?['body']"},"authentication":"@parameters('$authentication')"}},"Delete_file_4":{"runAfter":{"Add_attachment_4":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"DeleteFile"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","id":"@outputs('Create_file_4')?['body/Id']"},"authentication":"@parameters('$authentication')"}}}},"Case_5":{"case":"Jigs & Fixtures","actions":{"Get_template_file_content_5":{"runAfter":{},"metadata":{"%252fMasterStorage%252fSmallTempQR.docx":"/MasterStorage/SmallTempQR.docx"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetFileContent"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","id":"%252fMasterStorage%252fSmallTempQR.docx","inferContentType":true},"authentication":"@parameters('$authentication')"}},"Create_file_5":{"runAfter":{"Get_template_file_content_5":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"CreateFile"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","folderPath":"/MasterStorage","name":"@{outputs('Update_item_5')?['body/Title']}.docx","body":"@outputs('Get_template_file_content_5')?['body']"},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}},"Update_file_properties_5":{"runAfter":{"Create_file_5":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchFileItem"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","table":"e5000f0c-486c-464a-b31f-779478954d38","id":"@outputs('Create_file_5')?['body/ItemId']","item/varTitle":"@outputs('Update_item_5')?['body/Title']"},"authentication":"@parameters('$authentication')"}},"Get_file_content_5":{"runAfter":{"Update_file_properties_5":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetFileContent"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","id":"@outputs('Create_file_5')?['body/Id']","inferContentType":true},"authentication":"@parameters('$authentication')"}},"Add_attachment_5":{"runAfter":{"Get_file_content_5":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"CreateAttachment"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","table":"1d6d527e-1984-4fc0-9925-b5b0c20250ce","itemId":"@outputs('Update_item_5')?['body/ID']","displayName":"@outputs('Create_file_5')?['body/Name']","body":"@outputs('Get_file_content_5')?['body']"},"authentication":"@parameters('$authentication')"}},"Delete_file_5":{"runAfter":{"Add_attachment_5":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"DeleteFile"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","id":"@outputs('Create_file_5')?['body/Id']"},"authentication":"@parameters('$authentication')"}}}},"Case_6":{"case":"Lockers","actions":{"Get_template_file_content_6":{"runAfter":{},"metadata":{"%252fMasterStorage%252fFullTemp.docx":"/MasterStorage/FullTemp.docx"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetFileContent"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","id":"%252fMasterStorage%252fFullTemp.docx","inferContentType":true},"authentication":"@parameters('$authentication')"}},"Create_file_6":{"runAfter":{"Get_template_file_content_6":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"CreateFile"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","folderPath":"/MasterStorage","name":"@{outputs('Update_item_6')?['body/Title']}.docx","body":"@outputs('Get_template_file_content_6')?['body']"},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}},"Update_file_properties_6":{"runAfter":{"Create_file_6":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchFileItem"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","table":"e5000f0c-486c-464a-b31f-779478954d38","id":"@outputs('Create_file_6')?['body/ItemId']","item/varTitle":"@outputs('Update_item_6')?['body/Lockernumber']","item/varName":"@outputs('Create_item')?['body/Owner/DisplayName']","item/varSuper":"@outputs('Create_item')?['body/Supervisor/DisplayName']","item/varReviewDate":"@variables('vReviewDate')"},"authentication":"@parameters('$authentication')"}},"Get_file_content_6":{"runAfter":{"Update_file_properties_6":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetFileContent"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","id":"@outputs('Create_file_6')?['body/Id']","inferContentType":true},"authentication":"@parameters('$authentication')"}},"Add_attachment_6":{"runAfter":{"Get_file_content_6":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"CreateAttachment"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","table":"1d6d527e-1984-4fc0-9925-b5b0c20250ce","itemId":"@outputs('Update_item_6')?['body/ID']","displayName":"@outputs('Create_file_6')?['body/Name']","body":"@outputs('Get_file_content_6')?['body']"},"authentication":"@parameters('$authentication')"}},"Delete_file_6":{"runAfter":{"Add_attachment_6":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"DeleteFile"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","id":"@outputs('Create_file_6')?['body/Id']"},"authentication":"@parameters('$authentication')"}}}},"Case_7":{"case":"Nano","actions":{"Get_file_content_15":{"runAfter":{},"metadata":{"%252fMasterStorage%252fFullTempQR.docx":"/MasterStorage/FullTempQR.docx"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetFileContent"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","id":"%252fMasterStorage%252fFullTempQR.docx","inferContentType":true},"authentication":"@parameters('$authentication')"}},"Create_file_12":{"runAfter":{"Get_file_content_15":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"CreateFile"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","folderPath":"/MasterStorage","name":"@{outputs('Update_item_9')?['body/Title']}.docx","body":"@body('Get_file_content_15')"},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}},"Update_file_properties_11":{"runAfter":{"Create_file_12":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchFileItem"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","table":"e5000f0c-486c-464a-b31f-779478954d38","id":"@outputs('Create_file_12')?['body/ItemId']","item/varTitle":"@outputs('Update_item_9')?['body/Title']","item/varName":"@outputs('Create_item')?['body/Owner/DisplayName']","item/varSuper":"@outputs('Create_item')?['body/Supervisor/DisplayName']","item/varReviewDate":"@variables('vReviewDate')"},"authentication":"@parameters('$authentication')"}},"Get_file_content_16":{"runAfter":{"Update_file_properties_11":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetFileContent"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","id":"@outputs('Create_file_12')?['body/Id']","inferContentType":true},"authentication":"@parameters('$authentication')"}},"Add_attachment_13":{"runAfter":{"Get_file_content_16":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"CreateAttachment"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","table":"1d6d527e-1984-4fc0-9925-b5b0c20250ce","itemId":"@outputs('Update_item_9')?['body/ID']","displayName":"@outputs('Create_file_12')?['body/Name']","body":"@body('Get_file_content_16')"},"authentication":"@parameters('$authentication')"}},"Delete_file_13":{"runAfter":{"Add_attachment_13":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"DeleteFile"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","id":"@outputs('Create_file_12')?['body/Id']"},"authentication":"@parameters('$authentication')"}}}},"Case_8":{"case":"Helpdesk","actions":{"Get_file_content_17":{"runAfter":{},"metadata":{"%252fMasterStorage%252fFullTempQR.docx":"/MasterStorage/FullTempQR.docx"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetFileContent"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","id":"%252fMasterStorage%252fFullTempQR.docx","inferContentType":true},"authentication":"@parameters('$authentication')"}},"Create_file_13":{"runAfter":{"Get_file_content_17":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"CreateFile"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","folderPath":"/MasterStorage","name":"@{outputs('Update_item_10')?['body/Title']}.docx","body":"@body('Get_file_content_17')"},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}},"Update_file_properties_12":{"runAfter":{"Create_file_13":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchFileItem"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","table":"e5000f0c-486c-464a-b31f-779478954d38","id":"@outputs('Create_file_13')?['body/ItemId']","item/varTitle":"@outputs('Update_item_10')?['body/Title']","item/varName":"@outputs('Create_item')?['body/Owner/DisplayName']","item/varSuper":"@outputs('Create_item')?['body/Supervisor/DisplayName']","item/varReviewDate":"@variables('vReviewDate')"},"authentication":"@parameters('$authentication')"}},"Get_file_content_18":{"runAfter":{"Update_file_properties_12":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetFileContent"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","id":"@outputs('Create_file_13')?['body/Id']","inferContentType":true},"authentication":"@parameters('$authentication')"}},"Add_attachment_14":{"runAfter":{"Get_file_content_18":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"CreateAttachment"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","table":"1d6d527e-1984-4fc0-9925-b5b0c20250ce","itemId":"@outputs('Update_item_10')?['body/ID']","displayName":"@outputs('Create_file_13')?['body/Name']","body":"@body('Get_file_content_18')"},"authentication":"@parameters('$authentication')"}},"Delete_file_14":{"runAfter":{"Add_attachment_14":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"DeleteFile"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","id":"@outputs('Create_file_13')?['body/Id']"},"authentication":"@parameters('$authentication')"}}}}},"default":{"actions":{"Get_template_file_content_7":{"runAfter":{},"metadata":{"%252fMasterStorage%252fFullTemp.docx":"/MasterStorage/FullTemp.docx"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetFileContent"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","id":"%252fMasterStorage%252fFullTemp.docx","inferContentType":true},"authentication":"@parameters('$authentication')"}},"Create_file_7":{"runAfter":{"Get_template_file_content_7":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"CreateFile"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","folderPath":"/MasterStorage","name":"@{outputs('Update_item_7')?['body/Title']}.docx","body":"@outputs('Get_template_file_content_7')?['body']"},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}},"Update_file_properties_7":{"runAfter":{"Create_file_7":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchFileItem"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","table":"e5000f0c-486c-464a-b31f-779478954d38","id":"@outputs('Create_file_7')?['body/ItemId']","item/varTitle":"@outputs('Update_item_7')?['body/Title']","item/varName":"@outputs('Create_item')?['body/Owner/DisplayName']","item/varSuper":"@outputs('Create_item')?['body/Supervisor/DisplayName']","item/varReviewDate":"@variables('vReviewDate')"},"authentication":"@parameters('$authentication')"}},"Get_file_content_7":{"runAfter":{"Update_file_properties_7":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetFileContent"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","id":"@outputs('Create_file_7')?['body/Id']","inferContentType":true},"authentication":"@parameters('$authentication')"}},"Add_attachment_7":{"runAfter":{"Get_file_content_7":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"CreateAttachment"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","table":"1d6d527e-1984-4fc0-9925-b5b0c20250ce","itemId":"@outputs('Update_item_7')?['body/ID']","displayName":"@outputs('Create_file_7')?['body/Name']","body":"@outputs('Get_file_content_7')?['body']"},"authentication":"@parameters('$authentication')"}},"Delete_file_7":{"runAfter":{"Add_attachment_7":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"DeleteFile"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","id":"@outputs('Create_file_7')?['body/Id']"},"authentication":"@parameters('$authentication')"}},"Get_file_content_13":{"runAfter":{"Get_template_file_content_7":["Succeeded"]},"metadata":{"%252fMasterStorage%252fSmallTemp.docx":"/MasterStorage/SmallTemp.docx"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetFileContent"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","id":"%252fMasterStorage%252fSmallTemp.docx","inferContentType":true},"authentication":"@parameters('$authentication')"}},"Create_file_11":{"runAfter":{"Get_file_content_13":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"CreateFile"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","folderPath":"/MasterStorage","name":"@{outputs('Update_item_7')?['body/Title']}_Small.docx","body":"@outputs('Get_file_content_13')?['body']"},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}},"Update_file_properties_10":{"runAfter":{"Create_file_11":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchFileItem"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","table":"e5000f0c-486c-464a-b31f-779478954d38","id":"@outputs('Create_file_11')?['body/ItemId']","item/varTitle":"@outputs('Update_item_7')?['body/Title']","item/varName":"@outputs('Create_item')?['body/Owner/DisplayName']","item/varSuper":"@outputs('Create_item')?['body/Supervisor/DisplayName']","item/varReviewDate":"@variables('vReviewDate')"},"authentication":"@parameters('$authentication')"}},"Get_file_content_14":{"runAfter":{"Update_file_properties_10":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetFileContent"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","id":"@outputs('Create_file_11')?['body/Id']","inferContentType":true},"authentication":"@parameters('$authentication')"}},"Add_attachment_12":{"runAfter":{"Get_file_content_14":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"CreateAttachment"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","table":"1d6d527e-1984-4fc0-9925-b5b0c20250ce","itemId":"@outputs('Update_item_7')?['body/ID']","displayName":"@outputs('Create_file_11')?['body/Name']","body":"@outputs('Get_file_content_14')?['body']"},"authentication":"@parameters('$authentication')"}},"Delete_file_12":{"runAfter":{"Add_attachment_12":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"DeleteFile"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","id":"@outputs('Create_file_11')?['body/Id']"},"authentication":"@parameters('$authentication')"}}}},"expression":"@outputs('Get_response_details')?['body/r536732ee2658414f8e35cddc33e54b35']","metadata":{"operationMetadataId":"04b379c9-6fb7-41bf-bc55-f53d73f0cdc5"},"type":"Switch"},"Compose_2":{"runAfter":{"Switch_2":["Succeeded"]},"metadata":{"operationMetadataId":"cb7dda59-1c6b-46d1-b528-e97038b09408"},"type":"Compose","inputs":"@split(replace(replace(replace(outputs('Get_response_details')?['body/rcc258ad48e1a45e3bcb157554833de5f'], '[', ''), ']', ''), '\"', ''), ',')","description":"take string output of \"array\" from supplementary info and trims to comma separated list"},"Condition_8":{"actions":{"Parse_JSON":{"runAfter":{},"metadata":{"operationMetadataId":"6045d798-bc3d-4069-9e34-6a38d4a003f2"},"type":"ParseJson","inputs":{"content":"@outputs('Get_response_details')?['body/rca8c654b3fe044b4a1632c9fd0a49ee2']","schema":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"link":{"type":"string"},"id":{"type":"string"},"type":{},"size":{"type":"integer"},"referenceId":{"type":"string"},"driveId":{"type":"string"},"status":{"type":"integer"},"uploadSessionUrl":{}},"required":["name","link","id","type","size","referenceId","driveId","status","uploadSessionUrl"]}}}},"Apply_to_each":{"foreach":"@body('Parse_JSON')","actions":{"Add_attachment_8":{"runAfter":{"Get_file_metadata_using_path_2":["Succeeded"]},"metadata":{"operationMetadataId":"c622b354-70e4-49c1-a306-5c2d88bc7ce6"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"CreateAttachment"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","table":"1d6d527e-1984-4fc0-9925-b5b0c20250ce","itemId":"@outputs('Create_item')?['body/ID']","displayName":"@items('Apply_to_each')['name']","body":"@body('Get_file_content_using_path')"},"authentication":"@parameters('$authentication')"}},"Get_file_content_using_path":{"runAfter":{},"metadata":{"operationMetadataId":"efa0ea6e-39db-49d0-9220-8859311d0921"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetFileContentByPath"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","path":"Shared Documents/Apps/Microsoft Forms/BCI Storage/Question/@{items('Apply_to_each')['name']}","inferContentType":true},"authentication":"@parameters('$authentication')"}},"Get_file_metadata_using_path_2":{"runAfter":{"Get_file_content_using_path":["Succeeded"]},"metadata":{"operationMetadataId":"6aa6b5b1-f43e-4c9d-a5b3-e2a1dd417ef3"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetFileMetadataByPath"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","path":"Shared Documents/Apps/Microsoft Forms/BCI Storage/Question/@{items('Apply_to_each')['name']}"},"authentication":"@parameters('$authentication')"}},"Delete_file_8":{"runAfter":{"Add_attachment_8":["Succeeded"]},"metadata":{"operationMetadataId":"b3ae2178-1f37-4802-b57e-c9d2c54a93a0"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"DeleteFile"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","id":"@outputs('Get_file_metadata_using_path_2')?['body/Id']"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Parse_JSON":["Succeeded"]},"metadata":{"operationMetadataId":"d26b055b-d88f-4cea-9658-ca784c22e6e7"},"type":"Foreach"},"Send_an_email_from_a_shared_mailbox_(V2)_3":{"runAfter":{"Apply_to_each":["Failed"]},"metadata":{"operationMetadataId":"2e527e09-c120-4992-9749-8f31ee12649d"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SharedMailboxSendEmailV2"},"parameters":{"emailMessage/MailboxAddress":"BCITechSupport@bristol.ac.uk","emailMessage/To":"@outputs('Get_response_details')?['body/responder']","emailMessage/Subject":"Issue Attaching Content","emailMessage/Body":"<p>There was an issue attaching the supplementary files to the storage item. The item will still be registered but please send the file to be attached, along with the ID number of the item, to the BCI team.<br>\n<br>\nFor future reference, please make sure files are renamed to match the type selected.</p>"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Compose_2":["Succeeded"]},"expression":{"greater":["@length(outputs('Compose_2')?[0])",0]},"metadata":{"operationMetadataId":"2787612d-3502-4db6-aae2-5c94a1aeeae3"},"type":"If"},"Condition_9":{"actions":{},"runAfter":{"Condition_8":["Succeeded","Failed"]},"else":{"actions":{"Compose":{"runAfter":{},"metadata":{"operationMetadataId":"97eb8d69-634c-43e8-b924-e5f27c8c9fa6"},"type":"Compose","inputs":"@outputs('Get_response_details')?['body/r527e7685ad7e44518072876ca03344e9']"},"Create_file_8":{"runAfter":{"Compose":["Succeeded"]},"metadata":{"operationMetadataId":"8f9ce9e5-5ad1-46b9-9ff7-01a4a910379c"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","connectionName":"shared_onedriveforbusiness","operationId":"CreateFile"},"parameters":{"folderPath":"/Apps/Microsoft Forms/BCI Storage","name":"video.txt","body":"@outputs('Compose')"},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}},"Add_attachment_9":{"runAfter":{"Get_file_content_8":["Succeeded"]},"metadata":{"operationMetadataId":"c0dbc50f-7394-4687-bccc-41b8cc5f3149"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"CreateAttachment"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","table":"1d6d527e-1984-4fc0-9925-b5b0c20250ce","itemId":"@outputs('Create_item')?['body/ID']","displayName":"@outputs('Create_file_8')?['body/Name']","body":"@outputs('Get_file_content_8')?['body']"},"authentication":"@parameters('$authentication')"}},"Get_file_content_8":{"runAfter":{"Create_file_8":["Succeeded"]},"metadata":{"operationMetadataId":"6e4ce006-70b3-4b02-8871-6165cddad483"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","connectionName":"shared_onedriveforbusiness","operationId":"GetFileContent"},"parameters":{"id":"@outputs('Create_file_8')?['body/Id']","inferContentType":true},"authentication":"@parameters('$authentication')"}},"Delete_file_9":{"runAfter":{"Add_attachment_9":["Succeeded"]},"metadata":{"operationMetadataId":"eb96578c-17af-4ac0-a9e1-a5d136525e57"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","connectionName":"shared_onedriveforbusiness","operationId":"DeleteFile"},"parameters":{"id":"@outputs('Create_file_8')?['body/Id']"},"authentication":"@parameters('$authentication')"}}}},"expression":{"equals":["@empty(outputs('Get_response_details')?['body/r527e7685ad7e44518072876ca03344e9'])",true]},"metadata":{"operationMetadataId":"174c481c-b130-4e10-b50d-0c7ab2fb00a2"},"type":"If"},"Condition_11":{"actions":{"Get_user_profile_(V2)_2":{"runAfter":{},"metadata":{"operationMetadataId":"7cad9c95-d448-43d1-b98d-e8fbcbb270ae"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365users","connectionName":"shared_office365users","operationId":"UserProfile_V2"},"parameters":{"id":"@outputs('Get_response_details')?['body/responder']"},"authentication":"@parameters('$authentication')"}},"Set_variable_11":{"runAfter":{"Get_user_profile_(V2)_2":["Succeeded"]},"metadata":{"operationMetadataId":"4b4d9ca0-5325-45dc-9a7e-36950ec6d94e"},"type":"SetVariable","inputs":{"name":"display_name","value":"@outputs('Get_user_profile_(V2)_2')?['body/displayName']"}},"Get_items":{"runAfter":{"Get_manager_(V2)_2":["Failed"]},"metadata":{"operationMetadataId":"9a411ee9-97bd-4f6f-b1c9-5f25fd7bc725"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItems"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","table":"a2df07f2-720d-4869-a439-dfe282b0af0c","$filter":"Title eq '@{variables('varUser')}'"},"authentication":"@parameters('$authentication')"}},"Set_variable_13":{"runAfter":{"Set_variable_11":["Succeeded"]},"metadata":{"operationMetadataId":"617b8298-68a5-450f-bbc4-291f6c4beded"},"type":"SetVariable","inputs":{"name":"varUser","value":"@outputs('Get_user_profile_(V2)_2')?['body/mailNickname']"}},"Filter_array":{"runAfter":{"Get_items":["Succeeded"]},"metadata":{"operationMetadataId":"d6cc2b52-2a91-4a6f-a82b-ab13a7845f9f"},"type":"Query","inputs":{"from":"@outputs('Get_items')?['body/value']","where":"@equals(item()?['AcademicYear'], '2021 - 2022')"}},"Condition_10":{"actions":{"Compose_3":{"runAfter":{},"metadata":{"operationMetadataId":"661ee99d-0162-4a61-abba-feb4ac1a595f"},"type":"Compose","inputs":"@first(body('Filter_array'))"},"Parse_JSON_2":{"runAfter":{"Compose_3":["Succeeded"]},"metadata":{"operationMetadataId":"238955dc-006e-4918-9f26-d01dfa3c8c6c"},"type":"ParseJson","inputs":{"content":"@outputs('Compose_3')","schema":{"type":"object","properties":{"@@odata.etag":{"type":"string"},"ItemInternalId":{"type":"string"},"ID":{"type":"integer"},"Title":{"type":"string"},"Surname":{"type":"string"},"FirstName":{"type":"string"},"Status":{"type":"string"},"ChargeCode":{"type":"string"},"AcademicYear":{"type":"string"},"Duration":{"type":"string"},"Lab":{"type":"string"},"Supervisor":{"type":"string"},"Supervisoremail":{"type":"string"},"Created":{"type":"string"},"Date":{"type":"string"},"Modified":{"type":"string"},"Author":{"type":"object","properties":{"@@odata.type":{"type":"string"},"Claims":{"type":"string"},"DisplayName":{"type":"string"},"Email":{"type":"string"},"Picture":{"type":"string"},"Department":{"type":"string"},"JobTitle":{"type":"string"}}},"Author#Claims":{"type":"string"},"Editor":{"type":"object","properties":{"@@odata.type":{"type":"string"},"Claims":{"type":"string"},"DisplayName":{"type":"string"},"Email":{"type":"string"},"Picture":{"type":"string"},"Department":{"type":"string"},"JobTitle":{"type":"string"}}},"Editor#Claims":{"type":"string"},"{Identifier}":{"type":"string"},"{IsFolder}":{"type":"boolean"},"{Thumbnail}":{"type":"object","properties":{"Large":{},"Medium":{},"Small":{}}},"{Link}":{"type":"string"},"{Name}":{"type":"string"},"{FilenameWithExtension}":{"type":"string"},"{Path}":{"type":"string"},"{FullPath}":{"type":"string"},"{HasAttachments}":{"type":"boolean"},"{VersionNumber}":{"type":"string"}}}}},"Compose_4":{"runAfter":{"Parse_JSON_2":["Succeeded"]},"metadata":{"operationMetadataId":"38dfc99b-a767-48d7-b417-617b422b5ee1"},"type":"Compose","inputs":"@body('Parse_JSON_2')?['Supervisor']"},"Set_variable_9":{"runAfter":{"Compose_4":["Succeeded"]},"metadata":{"operationMetadataId":"ca46db28-a8ef-44a2-b4a7-db75b27bde6a"},"type":"SetVariable","inputs":{"name":"varSuper","value":"@{outputs('Compose_4')}"}}},"runAfter":{"Filter_array":["Succeeded"]},"else":{"actions":{"Set_variable_8":{"runAfter":{},"metadata":{"operationMetadataId":"605f5259-eb63-49c4-9b11-dd61ef208d0c"},"type":"SetVariable","inputs":{"name":"varSuper","value":"aesir@bristol.ac.uk"}},"Send_an_email_(V2)":{"runAfter":{"Set_variable_8":["Succeeded"]},"metadata":{"operationMetadataId":"82bd5822-a38b-4a1b-b93c-02b76de78ed2"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"BCITechSupport@bristol.ac.uk","emailMessage/Subject":"Storage Registration Issue Found","emailMessage/Body":"<p>Storage registration for @{variables('display_name')} has been made but an issue found in identifying a supervisor (temporarily set to Steven Rae to allow flow to run).<br>\n<br>\nPlease check '<a href=\"https://uob.sharepoint.com/teams/ACCISLabSupportTeam/Lists/BCI%20Lab%20Charging/AllItems.aspx\">BCI Lab Registration</a> ' list and ensure user is registered for current academic year and supervisor listed (Firstname Surname only - no titles).<br>\n<br>\nEdit supervisor manually in the <a href=\"https://uob.sharepoint.com/teams/ACCISLabSupportTeam/Lists/Master%20Storage%20List/AllItems.aspx\">Master Storage List</a>. Any labels attached to the item containing supervisor details should be updated manually.<br>\n</p>","emailMessage/From":"steven.rae@bristol.ac.uk","emailMessage/Cc":"steven.rae@bristol.ac.uk","emailMessage/ReplyTo":"steven.rae@bristol.ac.uk"},"authentication":"@parameters('$authentication')"}}}},"expression":{"and":[{"greater":["@length(body('Filter_array'))",0]},{"less":["@length(body('Filter_array'))",2]}]},"metadata":{"operationMetadataId":"d6991293-ead4-4322-b561-4c824f1bd746"},"type":"If"},"Get_manager_(V2)_2":{"runAfter":{"Set_variable_13":["Succeeded"]},"metadata":{"operationMetadataId":"273c52ac-1af7-41e5-8677-521dc0956901"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365users","connectionName":"shared_office365users","operationId":"Manager_V2"},"parameters":{"id":"@outputs('Get_user_profile_(V2)_2')?['body/userPrincipalName']"},"authentication":"@parameters('$authentication')"}},"Set_variable_27":{"runAfter":{"Get_manager_(V2)_2":["Succeeded"]},"metadata":{"operationMetadataId":"bb19f185-8103-406e-a621-9e8ce13eded8"},"type":"SetVariable","inputs":{"name":"varSuper","value":"@outputs('Get_manager_(V2)_2')?['body/displayName']"}},"Set_variable_16":{"runAfter":{"Set_variable_27":["Succeeded","Skipped","Failed"],"Condition_10":["Succeeded","Skipped","Failed"]},"metadata":{"operationMetadataId":"41a46237-6814-4440-b34b-037c6a2881b6"},"type":"SetVariable","inputs":{"name":"approved","value":"No"}}},"runAfter":{"Initialize_variable_-_Approve":["Succeeded"]},"else":{"actions":{"Set_variable_12":{"runAfter":{"Get_user_profile_(V2)":["Succeeded"]},"metadata":{"operationMetadataId":"2326c586-f05a-41a1-86f7-4b765db45abc"},"type":"SetVariable","inputs":{"name":"display_name","value":"@outputs('Get_user_profile_(V2)')?['body/displayName']"}},"Get_manager_(V2)":{"runAfter":{"Set_variable_14":["Succeeded"]},"metadata":{"operationMetadataId":"2dc6f4b1-a267-42c5-abfb-49aab1e54385"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365users","connectionName":"shared_office365users","operationId":"Manager_V2"},"parameters":{"id":"@outputs('Get_user_profile_(V2)')?['body/userPrincipalName']"},"authentication":"@parameters('$authentication')"}},"Set_variable_14":{"runAfter":{"Set_variable_12":["Succeeded"]},"metadata":{"operationMetadataId":"7693b5f3-8672-4fd9-9cc8-b9a9190131d7"},"type":"SetVariable","inputs":{"name":"varUser","value":"@outputs('Get_user_profile_(V2)')?['body/mailNickname']"}},"Set_variable_15":{"runAfter":{"Get_manager_(V2)":["Succeeded"]},"metadata":{"operationMetadataId":"e0142f57-4442-4a50-bdfd-9e93702d4fed"},"type":"SetVariable","inputs":{"name":"varSuper","value":"@outputs('Get_manager_(V2)')?['body/displayName']"}},"Get_items_2":{"runAfter":{"Get_manager_(V2)":["Failed"]},"metadata":{"operationMetadataId":"84a6e8f9-fbeb-413f-92ca-8b4d5a98e10c"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItems"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","table":"a2df07f2-720d-4869-a439-dfe282b0af0c","$filter":"Title eq '@{variables('varUser')}'"},"authentication":"@parameters('$authentication')"}},"Filter_array_2":{"runAfter":{"Get_items_2":["Succeeded"]},"metadata":{"operationMetadataId":"fbbadf0c-7833-4658-b412-7e0a0fd198b1"},"type":"Query","inputs":{"from":"@outputs('Get_items_2')?['body/value']","where":"@equals(item()?['AcademicYear'], '2021 - 2022')"}},"Condition_14":{"actions":{"Compose_5":{"runAfter":{},"metadata":{"operationMetadataId":"12ec3e65-f96b-4e6b-ae4e-e0371c9927bd"},"type":"Compose","inputs":"@first(body('Filter_array_2'))"},"Parse_JSON_3":{"runAfter":{"Compose_5":["Succeeded"]},"metadata":{"operationMetadataId":"a7254591-6554-47c4-8c9b-58b90ce4e7bb"},"type":"ParseJson","inputs":{"content":"@outputs('Compose_5')","schema":{"type":"object","properties":{"@@odata.etag":{"type":"string"},"ItemInternalId":{"type":"string"},"ID":{"type":"integer"},"Title":{"type":"string"},"Surname":{"type":"string"},"FirstName":{"type":"string"},"Status":{"type":"string"},"ChargeCode":{"type":"string"},"AcademicYear":{"type":"string"},"Duration":{"type":"string"},"Lab":{"type":"string"},"Supervisor":{"type":"string"},"Supervisoremail":{"type":"string"},"Created":{"type":"string"},"Date":{"type":"string"},"Modified":{"type":"string"},"Author":{"type":"object","properties":{"@@odata.type":{"type":"string"},"Claims":{"type":"string"},"DisplayName":{"type":"string"},"Email":{"type":"string"},"Picture":{"type":"string"},"Department":{"type":"string"},"JobTitle":{"type":"string"}}},"Author#Claims":{"type":"string"},"Editor":{"type":"object","properties":{"@@odata.type":{"type":"string"},"Claims":{"type":"string"},"DisplayName":{"type":"string"},"Email":{"type":"string"},"Picture":{"type":"string"},"Department":{"type":"string"},"JobTitle":{"type":"string"}}},"Editor#Claims":{"type":"string"},"{Identifier}":{"type":"string"},"{IsFolder}":{"type":"boolean"},"{Thumbnail}":{"type":"object","properties":{"Large":{},"Medium":{},"Small":{}}},"{Link}":{"type":"string"},"{Name}":{"type":"string"},"{FilenameWithExtension}":{"type":"string"},"{Path}":{"type":"string"},"{FullPath}":{"type":"string"},"{HasAttachments}":{"type":"boolean"},"{VersionNumber}":{"type":"string"}}}}},"Compose_6":{"runAfter":{"Parse_JSON_3":["Succeeded"]},"metadata":{"operationMetadataId":"7d9a7d73-1417-4000-a58f-7fc7a2ecb50d"},"type":"Compose","inputs":"@body('Parse_JSON_3')?['Supervisor']"},"Set_variable_26":{"runAfter":{"Compose_6":["Succeeded"]},"metadata":{"operationMetadataId":"e2dcd38f-9ab9-45c7-aec6-dc1823420b46"},"type":"SetVariable","inputs":{"name":"varSuper","value":"@{outputs('Compose_6')}"}}},"runAfter":{"Filter_array_2":["Succeeded"]},"else":{"actions":{"Set_variable_25":{"runAfter":{},"metadata":{"operationMetadataId":"19406507-adca-464c-9264-248de8829cd6"},"type":"SetVariable","inputs":{"name":"varSuper","value":"aesir@bristol.ac.uk"}},"Send_an_email_(V2)_2":{"runAfter":{"Set_variable_25":["Succeeded"]},"metadata":{"operationMetadataId":"83f70226-f76d-4ecc-97b6-f65f8ec65dc4"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"BCITechSupport@bristol.ac.uk","emailMessage/Subject":"Storage Registration Issue Found","emailMessage/Body":"<p>Storage registration for @{variables('display_name')} has been made but an issue found in identifying a supervisor (temporarily set to Steven Rae to allow flow to run).<br>\n<br>\nPlease check 'BCI Lab Registration ' list and ensure user is registered for current academic year and supervisor listed (Firstname Surname only - no titles).<br>\n<br>\nEdit supervisor manually in the Master Storage List. Any labels attached to the item containing supervisor details should be updated manually.<br>\n</p>","emailMessage/Cc":"steven.rae@bristol.ac.uk"},"authentication":"@parameters('$authentication')"}}}},"expression":{"and":[{"greater":["@length(body('Filter_array_2'))",0]},{"less":["@length(body('Filter_array_2'))",2]}]},"metadata":{"operationMetadataId":"fbf800ae-134b-4ef1-8974-e20ceb53d457"},"type":"If"},"Set_variable_10":{"runAfter":{"Condition_14":["Succeeded","Skipped"],"Set_variable_15":["Skipped","Succeeded"]},"metadata":{"operationMetadataId":"9fb4ec2e-cb83-4f59-b707-5aaf0f0ccfaa"},"type":"SetVariable","inputs":{"name":"approved","value":"Yes"}},"Get_user_profile_(V2)":{"runAfter":{"Condition_15":["Succeeded"]},"metadata":{"operationMetadataId":"3f8183eb-5225-434f-89c4-9ecc15831a6f"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365users","connectionName":"shared_office365users","operationId":"UserProfile_V2"},"parameters":{"id":"@concat(outputs('Get_response_details')?['body/ref660c3c463542c9ba021e5ed6b92a71'], '@bristol.ac.uk')"},"authentication":"@parameters('$authentication')"}},"Get_form_submitters_profile":{"runAfter":{},"metadata":{"operationMetadataId":"3b3f0be8-b593-42dd-8007-93ea20a07a8f"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365users","connectionName":"shared_office365users","operationId":"UserProfile_V2"},"parameters":{"id":"@outputs('Get_response_details')?['body/responder']"},"authentication":"@parameters('$authentication')"}},"Condition_15":{"actions":{},"runAfter":{"Get_form_submitters_profile":["Succeeded"]},"else":{"actions":{"Send_an_email_(V2)_3":{"runAfter":{},"metadata":{"operationMetadataId":"663dd296-9d12-4fef-ba7a-9528062e0339"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"@outputs('Get_response_details')?['body/responder']","emailMessage/Subject":"Denied","emailMessage/Body":"<p>You do not have permission to book storage via this method.</p>"},"authentication":"@parameters('$authentication')"}},"Terminate_2":{"runAfter":{"Send_an_email_(V2)_3":["Succeeded"]},"metadata":{"operationMetadataId":"711295c7-9468-473d-bba7-ea84307a49aa"},"type":"Terminate","inputs":{"runStatus":"Cancelled"}}}},"expression":{"or":[{"contains":["@outputs('Get_form_submitters_profile')?['body/mailNickname']","aesir"]},{"contains":["@outputs('Get_form_submitters_profile')?['body/mailNickname']","cdakmis"]},{"contains":["@outputs('Get_form_submitters_profile')?['body/mailNickname']","rn19205"]},{"contains":["@outputs('Get_form_submitters_profile')?['body/mailNickname']","rv15685"]}]},"metadata":{"operationMetadataId":"926cba54-4698-4486-8a09-5052b261a36d"},"type":"If"}}},"expression":{"equals":["@outputs('Get_response_details')?['body/r0459a58663f345b1bb1baca053c69964']","Yes"]},"metadata":{"operationMetadataId":"83908429-7a9c-4fc4-9de4-6c37c00cc0c9"},"type":"If"},"Initialize_variable_-_display_name":{"runAfter":{"Get_response_details":["Succeeded"]},"metadata":{"operationMetadataId":"08603f1f-7d9f-48d3-be7e-fd9fceec8d6f"},"type":"InitializeVariable","inputs":{"variables":[{"name":"display_name","type":"string"}]}},"Initialize_variable_-_varUser":{"runAfter":{"Initialize_variable_-_display_name":["Succeeded"]},"metadata":{"operationMetadataId":"d191e3e0-1b5f-479c-8a38-7f77e9086827"},"type":"InitializeVariable","inputs":{"variables":[{"name":"varUser","type":"string"}]}},"Initialize_variable_-varSuper":{"runAfter":{"Initialize_variable_-_varUser":["Succeeded"]},"metadata":{"operationMetadataId":"3d5ed244-958f-4491-add3-815d0b25ad61"},"type":"InitializeVariable","inputs":{"variables":[{"name":"varSuper","type":"string"}]}},"Initialize_variable_-_Approve":{"runAfter":{"Initialize_variable_-varSuper":["Succeeded"]},"metadata":{"operationMetadataId":"a51bb6af-948f-4cbe-83f6-722e6a605b0a"},"type":"InitializeVariable","inputs":{"variables":[{"name":"approved","type":"string"}]}},"Condition_12":{"actions":{"Start_and_wait_for_an_approval":{"runAfter":{},"metadata":{"operationMetadataId":"b5723e39-112d-4bdb-aa57-ddd13a1b0ff9"},"type":"OpenApiConnectionWebhook","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_approvals","connectionName":"shared_approvals","operationId":"StartAndWaitForAnApproval"},"parameters":{"approvalType":"Basic","WebhookApprovalCreationInput/title":"Storage Approval Required","WebhookApprovalCreationInput/assignedTo":"steven.rae@bristol.ac.uk; allison.mcintosh-smith@bristol.ac.uk; rn19205@bristol.ac.uk","WebhookApprovalCreationInput/details":"# Storage Request Approval\n\n@{variables('display_name')} has submitted a request for storage in the labs with the below details. Only details relevant to the storage domain indicated will have values included.\n\n**Name:** @{variables('display_name')}\n**Supervisor:** @{variables('varSuper')}\n**Domain:** @{outputs('Get_response_details')?['body/r536732ee2658414f8e35cddc33e54b35']}\n**BoxID:** @{outputs('Get_item_2')?['body/Title']}\n\n## Annexe\n- **Review Date:** @{outputs('Get_item_2')?['body/ReviewDate']}\n- **Shelf Location:** @{outputs('Get_item_2')?['body/Shelflocation']}\n\n## Archive\n- **Review Date:** \n- **Shelf Location:** @{outputs('Get_item_2')?['body/Shelflocation']}\n## Dry Fibre\n\n- **Dry Fibre Description:** @{outputs('Get_response_details')?['body/rea8e4d697ceb4d71b7fbd4aa1f67db79']}\n- **Width (mm):** @{outputs('Get_item_2')?['body/Width']}\n- **Length (m):** @{outputs('Get_item_2')?['body/Length']}\n- **Mass (kg):** @{outputs('Get_item_2')?['body/Mass_x0028_kg_x0029_']}\n- **Review Date:** @{outputs('Get_item_2')?['body/ReviewDate']}\n- **Shelf Location:** @{outputs('Get_item_2')?['body/Shelflocation']}\n\n## Freezer\n\n- **Prepreg Description:** @{outputs('Get_response_details')?['body/r69794da3000246b1b8db9634bbe7c51f']}\n- **Expiry Date:** @{outputs('Get_item_2')?['body/ExpiryDate']}\n- **Width (mm):** @{outputs('Get_item_2')?['body/Width']}\n- **Length (m):** @{outputs('Get_item_2')?['body/Length']}\n- **Mass (kg):** @{outputs('Get_item_2')?['body/Mass_x0028_kg_x0029_']}\n- **Review Date:** @{outputs('Get_item_2')?['body/ReviewDate']}\n- **Shelf Location:** @{outputs('Get_item_2')?['body/Shelflocation']}\n-\n## Jigs & Fixtures\n\n- **Description:** @{outputs('Get_item_2')?['body/Description']}\n- **Review Date:** @{outputs('Get_item_2')?['body/ReviewDate']}\n- **Shelf Location:** @{outputs('Get_item_2')?['body/Shelflocation']}\n\n## Nano\n\n-**Description:**  @{outputs('Update_file_properties_9')?['body/OData__ExtendedDescription']}\n\n@{variables('display_name')} has indicated that they have included the below supplementary information. Please make sure these documents are attached to the item.\n\n@{outputs('Compose_2')}\n\n# Action\n\nIf all details are correct, please select **Approve** and **Submit**. This will finalise the item in the storage register. @{variables('display_name')} will be notified and asked to contact you for a label. Please print the @{outputs('Get_item_2')?['body/Title']}.docx file attached to the item using the label printer.\n\nIf any details require amending or are missing, please select **Reject** and **Submit**. You will subsequently be sent a link to the specific list item where details can be amended directly. If this method is used, **please manually change the approval status to \"Yes\".**","WebhookApprovalCreationInput/enableNotifications":true,"WebhookApprovalCreationInput/enableReassignment":true},"authentication":"@parameters('$authentication')"}},"Condition_13":{"actions":{"Apply_to_each_2":{"foreach":"@outputs('Start_and_wait_for_an_approval')?['body/responses']","actions":{"Send_an_email_from_a_shared_mailbox_(V2)":{"runAfter":{},"metadata":{"operationMetadataId":"d30ed8ae-10ff-4dc3-8957-bf93f568f653"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SharedMailboxSendEmailV2"},"parameters":{"emailMessage/MailboxAddress":"BCITechSupport@bristol.ac.uk","emailMessage/To":"@outputs('Get_response_details')?['body/responder']","emailMessage/Subject":"Storage Request Approved","emailMessage/Body":"<p>Hi @{variables('display_name')},<br>\n<br>\nYour storage request has been approved. Please discuss with @{items('Apply_to_each_2')?['responder/displayName']} to arrange labelling and storage of your items.</p>","emailMessage/Cc":"@items('Apply_to_each_2')?['responder/email']"},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"metadata":{"operationMetadataId":"974757a8-96b2-444c-b5cf-005ad8b1ec46"},"type":"Foreach"},"Update_item_8":{"runAfter":{"Apply_to_each_2":["Succeeded"]},"metadata":{"operationMetadataId":"4f491c03-6c4c-4c09-871f-26336e8ed4cc"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","table":"1d6d527e-1984-4fc0-9925-b5b0c20250ce","id":"@outputs('Get_item_2')?['body/ID']","item/Title":"@outputs('Get_item_2')?['body/Title']","item/Approved":"Yes"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Start_and_wait_for_an_approval":["Succeeded"]},"else":{"actions":{"Set_variable_24":{"runAfter":{},"metadata":{"operationMetadataId":"ff8cd816-4635-4bd7-a7e2-15432fa7484a"},"type":"SetVariable","inputs":{"name":"link","value":"<a href=@{outputs('Get_item_2')?['body/{Link}']}>Item</a>"}},"Apply_to_each_3":{"foreach":"@outputs('Start_and_wait_for_an_approval')?['body/responses']","actions":{"Send_an_email_from_a_shared_mailbox_(V2)_2":{"runAfter":{},"metadata":{"operationMetadataId":"48ad1afc-de93-4af1-ac8d-1cf701b5066c"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SharedMailboxSendEmailV2"},"parameters":{"emailMessage/MailboxAddress":"BCITechSupport@bristol.ac.uk","emailMessage/To":"@items('Apply_to_each_3')?['responder/email']","emailMessage/Subject":"Storage Request Action Requred","emailMessage/Body":"<p>You rejected @{variables('display_name')}'s storage request. Please edit directly in the <a href=\"https://uob.sharepoint.com/teams/ACCISLabSupportTeam/Lists/Master%20Storage%20List/AllItems.aspx?viewid=36c0dd93%2D8d3f%2D406d%2Dba46%2Df8faea1db2fd&amp;id=%2Fteams%2FACCISLabSupportTeam%2FLists%2FMaster%20Storage%20List\">Master Storage List</a> . <strong>Please update the 'Approved' field to \"Yes\" when complete.<br>\n<br>\nThis link will take you directly to the item in question:<br>\n</strong>@{variables('link')}<br>\n<br>\n<strong>Please note, currently, the label will need to be updated manually following any changes to pertaining fields.</strong></p>"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Set_variable_24":["Succeeded"]},"metadata":{"operationMetadataId":"0d4bc38d-3825-4b39-b5b7-e8b52818e20c"},"type":"Foreach"}}},"expression":{"equals":["@outputs('Start_and_wait_for_an_approval')?['body/outcome']","Approve"]},"metadata":{"operationMetadataId":"5d16e4c0-329b-417e-8075-ecd4d73c928a"},"type":"If"}},"runAfter":{"Initialize_variable_2":["Succeeded"]},"expression":{"equals":["@outputs('Get_response_details')?['body/r0459a58663f345b1bb1baca053c69964']","Yes"]},"metadata":{"operationMetadataId":"aba81d4f-09e5-46f5-b924-b638ec2e847c"},"type":"If"},"Get_item_2":{"runAfter":{"Condition_9":["Succeeded"]},"metadata":{"operationMetadataId":"aea6a7c4-37f2-4e93-bfdb-32fc7d7bc087"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItem"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","table":"1d6d527e-1984-4fc0-9925-b5b0c20250ce","id":"@outputs('Create_item')?['body/ID']"},"authentication":"@parameters('$authentication')"}},"Initialize_variable_2":{"runAfter":{"Get_item_2":["Succeeded"]},"metadata":{"operationMetadataId":"d1078ba4-ef81-42b6-a3a7-b5cc623494a2"},"type":"InitializeVariable","inputs":{"variables":[{"name":"link","type":"string"}]}}}}