ChemReg_Dispose_FlowDef.json
{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"splitOn":"@triggerBody()['rows']","metadata":{"operationMetadataId":"2f7c986e-204a-4e63-bb80-ab240581a233"},"type":"Request","kind":"ApiConnection","inputs":{"schema":{"type":"object","properties":{"rows":{"type":"array","items":{"type":"object","properties":{"entity":{"type":"object","properties":{"ID":{"title":"ID","type":"integer","format":"int64"}},"required":["ID"]}},"required":["entity"]}}},"required":["rows"]},"host":{"connection":{"name":"@parameters('$connections')['shared_sharepointonline']['connectionId']"}},"operationId":"GetItemHybridTriggerSchema","parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","table":"56c0bc24-452c-4da5-a099-1269768b5269"},"headersSchema":{"x-ms-user-timestamp":{"title":"Timestamp","type":"string","x-ms-dynamically-added":false},"x-ms-user-email-encoded":{"title":"User email","type":"string","format":"byte","x-ms-dynamically-added":false}}}}},"actions":{"Initialize_variable_-_Index":{"runAfter":{"Apply_to_each":["Succeeded"]},"metadata":{"operationMetadataId":"1298b2de-f023-4ec8-be29-7f6f13300d39"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Index","type":"integer","value":1}]}},"Initialize_variable_-_exitLoop":{"runAfter":{"Initialize_variable_-_Index":["Succeeded"]},"metadata":{"operationMetadataId":"ea97dd2e-45b0-48f9-9650-a1c42c9907ea"},"type":"InitializeVariable","inputs":{"variables":[{"name":"exitLoop","type":"integer","value":0}]}},"Get_item":{"runAfter":{},"metadata":{"operationMetadataId":"34adbeb1-a645-4f2b-932f-8bf18ee74448"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItem"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","table":"56c0bc24-452c-4da5-a099-1269768b5269","id":"@triggerBody()?['entity']?['ID']"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Initialize_variable_-_Hazard":{"runAfter":{"Get_item":["Succeeded"]},"metadata":{"operationMetadataId":"ab6b587b-6119-45aa-b281-ecf2a73fa091"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Hazards","type":"array"}]}},"Apply_to_each":{"foreach":"@outputs('Get_item')?['body/MainHazard']","actions":{"Append_to_array_variable":{"runAfter":{},"metadata":{"operationMetadataId":"7bb5aa93-9de2-4a56-a043-29192d378c06"},"type":"AppendToArrayVariable","inputs":{"name":"Hazards","value":"@items('Apply_to_each')['Value']"}}},"runAfter":{"Initialize_variable_-_Hazard":["Succeeded"]},"metadata":{"operationMetadataId":"0ea4a154-045b-4ce5-ab11-994358785564"},"type":"Foreach"},"Scope":{"actions":{"Month":{"runAfter":{},"metadata":{"operationMetadataId":"f0ab8d90-a6e7-4061-8f07-96e466602164"},"type":"Compose","inputs":"@replace(formatDateTime(utcNow(), 'MMMyy'), '\"', '')"},"Get_files_(properties_only)":{"runAfter":{"Month":["Succeeded"]},"metadata":{"operationMetadataId":"18a9194e-cd8a-417b-a6be-34b5ae5a7426"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetFileItems"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","table":"c20d6624-b45e-4498-8621-82f5f8f9df89","folderPath":"/Shared Documents/Lab Process Development/Chemical Disposal Automated/Monthly","viewScopeOption":"Default"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Filter_array":{"runAfter":{"Get_files_(properties_only)":["Succeeded"]},"metadata":{"operationMetadataId":"7903add9-d81e-4ec7-9d05-9ae527a8fadf"},"type":"Query","inputs":{"from":"@outputs('Get_files_(properties_only)')?['body/value']","where":"@startsWith(item()?['{Name}'], outputs('Month'))"}},"FileCount":{"runAfter":{"Filter_array":["Succeeded"]},"metadata":{"operationMetadataId":"cea8a337-d492-4787-a255-b4a5e2cf9124"},"type":"Compose","inputs":"@length(body('Filter_array'))"},"Filename":{"runAfter":{"FileCount":["Succeeded"]},"metadata":{"operationMetadataId":"5d7516ad-21f4-411f-bef2-1e7bed0f13cc"},"type":"Compose","inputs":"@concat(outputs('Month'), '_')"},"Condition_4":{"actions":{"Condition_6":{"actions":{"Get_template_file_content_4":{"runAfter":{},"metadata":{"%252fShared%2bDocuments%252fLab%2bProcess%2bDevelopment%252fChemical%2bDisposal%2bAutomated%252fchemical_waste_Automated.xlsx":"/Shared Documents/Lab Process Development/Chemical Disposal Automated/chemical_waste_Automated.xlsx","operationMetadataId":"ce266376-98b7-4953-872b-1ba05e890e90","%252fShared%2bDocuments%252fLab%2bProcess%2bDevelopment%252fChemical%2bDisposal%2bAutomated%252fAuto_chem_disposal.xlsx":"/Shared Documents/Lab Process Development/Chemical Disposal Automated/Auto_chem_disposal.xlsx"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetFileContent"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","id":"%252fShared%2bDocuments%252fLab%2bProcess%2bDevelopment%252fChemical%2bDisposal%2bAutomated%252fAuto_chem_disposal.xlsx","inferContentType":true},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Create_file_4":{"runAfter":{"Get_template_file_content_4":["Succeeded"]},"metadata":{"operationMetadataId":"e4032b6d-ef9a-41cd-8ef3-d10027dd0a45"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"CreateFile"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","folderPath":"/Shared Documents/Lab Process Development/Chemical Disposal Automated/Monthly","name":"@{outputs('Filename')}@{add(outputs('FileCount'), 1)}.xlsx","body":"@body('Get_template_file_content_4')"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}},"Get_tables_5":{"runAfter":{"Create_file_4":["Succeeded"]},"metadata":{"operationMetadataId":"5d6f7d84-49f9-4fbc-bdc5-7da14405052e","tableId":null},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"GetTables"},"parameters":{"source":"groups/7e3def63-fc2a-4445-8b3e-b55e660c5784","drive":"b!1WsMdW4U40yyjHSR9BC1DJ2HnlIAQsVOucCYui-Wbg4kZg3CXrSYRIYhgvX4-d-J","file":"@outputs('Create_file_4')?['body/Id']"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Table_3":{"runAfter":{"Get_tables_5":["Succeeded"]},"metadata":{"operationMetadataId":"9a774b2e-3fdc-400e-a06e-c6b0bf7709fb"},"type":"Compose","inputs":"@first(outputs('Get_tables_5')['body']['value'])['id']"},"Update_a_row_5":{"runAfter":{"Table_3":["Succeeded"]},"metadata":{"operationMetadataId":"a1bd0a14-94f8-469a-ae66-20bd5d6ef9c4","tableId":"@outputs('Table_3')"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"PatchItem"},"parameters":{"source":"groups/7e3def63-fc2a-4445-8b3e-b55e660c5784","drive":"b!1WsMdW4U40yyjHSR9BC1DJ2HnlIAQsVOucCYui-Wbg4kZg3CXrSYRIYhgvX4-d-J","file":"@outputs('Create_file_4')?['body/Id']","table":"@outputs('Table_3')","idColumn":"Item","id":"1","item":{"Components":"@{outputs('Get_item')?['body/Components']}","Concentration":"@{outputs('Get_item')?['body/Concentration']}","Container Type":"@{outputs('Get_item')?['body/ContainerType/Value']}","No_x002e_ of containers":"@{outputs('Get_item')?['body/Quantity']}","Container size (g, ml, kg, L)":"@{outputs('Get_item')?['body/QuantityUnits/Value']}","Physical State":"@{outputs('Get_item')?['body/PhysicalState/Value']}","Hazard Properties\nHP1-HP15 (list all applicable)":"@{join(variables('Hazards'), '; ')}","Chemical Name or Description of Waste":"@{outputs('Get_item')?['body/Title']} - @{outputs('Get_item')?['body/Chemical']}"}},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}},"runAfter":{"Get_a_row_2":["Succeeded"]},"else":{"actions":{"Apply_to_each_3":{"foreach":"@outputs('List_rows_present_in_a_table_2')?['body/value']","actions":{"Condition_7":{"actions":{"Compose_2":{"runAfter":{},"metadata":{"operationMetadataId":"1f4c21f4-b261-4192-aba2-7f1f2b339afa"},"type":"Compose","inputs":"@length(items('Apply_to_each_3')?['Chemical Name or Description of Waste'])"},"Condition_8":{"actions":{},"runAfter":{"Compose_2":["Succeeded"]},"else":{"actions":{"Set_variable":{"runAfter":{},"metadata":{"operationMetadataId":"4dd0a34a-c269-45cf-b4e6-35e98d35f10c"},"type":"SetVariable","inputs":{"name":"Index","value":"@int(items('Apply_to_each_3')['Item'])"}},"Set_variable_4":{"runAfter":{"Set_variable":["Succeeded"]},"metadata":{"operationMetadataId":"22e3995f-56b0-4012-bd9a-2a17be1bc981"},"type":"SetVariable","inputs":{"name":"exitLoop","value":1}}}},"expression":{"greater":["@outputs('Compose_2')",0]},"metadata":{"operationMetadataId":"41e9b2c9-5b69-4a76-b59f-28df48cdff1a"},"type":"If"}},"runAfter":{},"expression":{"equals":["@variables('exitLoop')",0]},"metadata":{"operationMetadataId":"caf05070-a7ca-406c-93f5-0a2e184477bb"},"type":"If"}},"runAfter":{},"metadata":{"operationMetadataId":"e17bf485-8d43-44d0-b452-f014906cada9"},"type":"Foreach"},"Update_a_row_4":{"runAfter":{"Apply_to_each_3":["Succeeded"]},"metadata":{"operationMetadataId":"d3ab8470-2eef-42ad-a932-66d450809d9d","tableId":"@outputs('Get_Table')"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"PatchItem"},"parameters":{"source":"groups/7e3def63-fc2a-4445-8b3e-b55e660c5784","drive":"b!1WsMdW4U40yyjHSR9BC1DJ2HnlIAQsVOucCYui-Wbg4kZg3CXrSYRIYhgvX4-d-J","file":"/Shared Documents/Lab Process Development/Chemical Disposal Automated/Monthly/@{outputs('Filename')}@{outputs('FileCount')}.xlsx","table":"@outputs('Get_Table')","idColumn":"Item","id":"@variables('Index')","item":{"Components":"@{outputs('Get_item')?['body/Components']}","Concentration":"@{outputs('Get_item')?['body/Concentration']}","Container Type":"@{outputs('Get_item')?['body/ContainerType/Value']}","No_x002e_ of containers":"@{outputs('Get_item')?['body/Quantity']}","Container size (g, ml, kg, L)":"@{outputs('Get_item')?['body/QuantityUnits/Value']}","Physical State":"@{outputs('Get_item')?['body/PhysicalState/Value']}","Hazard Properties\nHP1-HP15 (list all applicable)":"@{join(variables('Hazards'), '; ')}","Chemical Name or Description of Waste":"@{outputs('Get_item')?['body/Title']} - @{outputs('Get_item')?['body/Chemical']}"}},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}}},"expression":{"greater":["@length(outputs('Get_a_row_2')['body']['Chemical Name or Description of Waste'])",0]},"metadata":{"operationMetadataId":"dbde5ca0-71b7-4428-9f82-ced01abacf6c"},"type":"If"},"Get_a_row_2":{"runAfter":{"List_rows_present_in_a_table_2":["Succeeded"]},"metadata":{"operationMetadataId":"b3a9d157-adab-4f92-bc19-1789602128dc","tableId":"@outputs('Get_Table')"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"GetItem"},"parameters":{"source":"groups/7e3def63-fc2a-4445-8b3e-b55e660c5784","drive":"b!1WsMdW4U40yyjHSR9BC1DJ2HnlIAQsVOucCYui-Wbg4kZg3CXrSYRIYhgvX4-d-J","file":"/Shared Documents/Lab Process Development/Chemical Disposal Automated/Monthly/@{outputs('Filename')}@{outputs('FileCount')}.xlsx","table":"@outputs('Get_Table')","idColumn":"Item","id":"30"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Get_tables_4":{"runAfter":{},"metadata":{"operationMetadataId":"cf9504e8-1641-432b-8499-a0dafbc92443","tableId":null},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"GetTables"},"parameters":{"source":"groups/7e3def63-fc2a-4445-8b3e-b55e660c5784","drive":"b!1WsMdW4U40yyjHSR9BC1DJ2HnlIAQsVOucCYui-Wbg4kZg3CXrSYRIYhgvX4-d-J","file":"/Shared Documents/Lab Process Development/Chemical Disposal Automated/Monthly/@{outputs('Filename')}@{outputs('FileCount')}.xlsx"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"List_rows_present_in_a_table_2":{"runAfter":{"Get_Table":["Succeeded"]},"metadata":{"operationMetadataId":"d917329f-9f7a-4482-ac41-d45e83071160","tableId":"@outputs('Get_Table')","01GZFXWAUWVHBWFKNNZ5FLWJ3R47KCRSQZ":"/Lab Process Development/Chemical Disposal Automated/Monthly/Nov21.xlsx"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"GetItems"},"parameters":{"source":"groups/7e3def63-fc2a-4445-8b3e-b55e660c5784","drive":"b!1WsMdW4U40yyjHSR9BC1DJ2HnlIAQsVOucCYui-Wbg4kZg3CXrSYRIYhgvX4-d-J","file":"/Shared Documents/Lab Process Development/Chemical Disposal Automated/Monthly/@{outputs('Filename')}@{outputs('FileCount')}.xlsx","table":"@outputs('Get_Table')"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Get_Table":{"runAfter":{"Get_tables_4":["Succeeded"]},"metadata":{"operationMetadataId":"87d26e6f-bd3c-426a-8e00-6edb4dab28e5"},"type":"Compose","inputs":"@first(outputs('Get_tables_4')['body']['value'])['name']"}},"runAfter":{"Filename":["Succeeded"]},"else":{"actions":{"newSheet_2":{"actions":{"Update_a_row_3":{"runAfter":{"Table_2":["Succeeded"]},"metadata":{"operationMetadataId":"ba1561bf-b8dc-4afe-adeb-b1702f63ad24","tableId":"@outputs('Table_2')"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"PatchItem"},"parameters":{"source":"groups/7e3def63-fc2a-4445-8b3e-b55e660c5784","drive":"b!1WsMdW4U40yyjHSR9BC1DJ2HnlIAQsVOucCYui-Wbg4kZg3CXrSYRIYhgvX4-d-J","file":"@outputs('Create_file_3')?['body/Id']","table":"@outputs('Table_2')","idColumn":"Item","id":"1","item":{"Components":"@{outputs('Get_item')?['body/Components']}","Concentration":"@{outputs('Get_item')?['body/Concentration']}","Container Type":"@{outputs('Get_item')?['body/ContainerType/Value']}","No_x002e_ of containers":"@{outputs('Get_item')?['body/Quantity']}","Container size (g, ml, kg, L)":"@{outputs('Get_item')?['body/QuantityUnits/Value']}","Physical State":"@{outputs('Get_item')?['body/PhysicalState/Value']}","Hazard Properties\nHP1-HP15 (list all applicable)":"@{join(variables('Hazards'), '; ')}","Chemical Name or Description of Waste":"@{outputs('Get_item')?['body/Title']} - @{outputs('Get_item')?['body/Chemical']}"}},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Table_2":{"runAfter":{"Get_tables_3":["Succeeded"]},"metadata":{"operationMetadataId":"9a774b2e-3fdc-400e-a06e-c6b0bf7709fb"},"type":"Compose","inputs":"@first(outputs('Get_tables_3')['body']['value'])['id']"},"Get_tables_3":{"runAfter":{"Create_file_3":["Succeeded"]},"metadata":{"operationMetadataId":"33e12bcf-bdb3-49b8-b130-63c88d0cc8cf","tableId":null},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"GetTables"},"parameters":{"source":"groups/7e3def63-fc2a-4445-8b3e-b55e660c5784","drive":"b!1WsMdW4U40yyjHSR9BC1DJ2HnlIAQsVOucCYui-Wbg4kZg3CXrSYRIYhgvX4-d-J","file":"@outputs('Create_file_3')?['body/Id']"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Create_file_3":{"runAfter":{"Get_template_file_content_3":["Succeeded"]},"metadata":{"operationMetadataId":"e4032b6d-ef9a-41cd-8ef3-d10027dd0a45"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"CreateFile"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","folderPath":"/Shared Documents/Lab Process Development/Chemical Disposal Automated/Monthly","name":"@{outputs('Filename')}@{add(outputs('Filename'), 1)}.xlsx","body":"@body('Get_template_file_content_3')"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}},"Get_template_file_content_3":{"runAfter":{},"metadata":{"%252fShared%2bDocuments%252fLab%2bProcess%2bDevelopment%252fChemical%2bDisposal%2bAutomated%252fchemical_waste_Automated.xlsx":"/Shared Documents/Lab Process Development/Chemical Disposal Automated/chemical_waste_Automated.xlsx","operationMetadataId":"ce266376-98b7-4953-872b-1ba05e890e90","%252fShared%2bDocuments%252fLab%2bProcess%2bDevelopment%252fChemical%2bDisposal%2bAutomated%252fAuto_chem_disposal.xlsx":"/Shared Documents/Lab Process Development/Chemical Disposal Automated/Auto_chem_disposal.xlsx"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetFileContent"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","id":"%252fShared%2bDocuments%252fLab%2bProcess%2bDevelopment%252fChemical%2bDisposal%2bAutomated%252fAuto_chem_disposal.xlsx","inferContentType":true},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}},"runAfter":{},"metadata":{"operationMetadataId":"1b359b1a-7eb8-4b79-9748-c00b7b7d1198"},"type":"Scope"}}},"expression":{"greater":["@outputs('FileCount')",0]},"metadata":{"operationMetadataId":"94cb461c-ffc0-48c5-b6b4-3354fa26d415"},"type":"If"},"Delete_item":{"runAfter":{"Condition_4":["Succeeded"]},"metadata":{"operationMetadataId":"a1a5c778-9718-4164-bc7c-47f015227a8c"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"DeleteItem"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","table":"56c0bc24-452c-4da5-a099-1269768b5269","id":"@triggerBody()?['entity']?['ID']"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Send_an_email_from_a_shared_mailbox_(V2)":{"runAfter":{"Delete_item":["Succeeded"]},"metadata":{"operationMetadataId":"213bde35-202c-4f17-87c5-b0930ce1be6f"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SharedMailboxSendEmailV2"},"parameters":{"emailMessage/MailboxAddress":"BCITechSupport@bristol.ac.uk","emailMessage/To":"@triggerOutputs()['headers']['x-ms-user-email-encoded']","emailMessage/Subject":"Chemical Disposal","emailMessage/Body":"<p>The item with the below details has been successfully removed from the chemical register and added to the disposal form for the next uplift. Please make sure you give the item to a member of the BCI Technical Support team who will place it in the bund for disposal.<br>\n<br>\nIdentifier: @{outputs('Get_item')?['body/Title']}<br>\nChemical: @{outputs('Get_item')?['body/Chemical']}<br>\n<br>\nThis email is automated. Please do not reply. If you have disposed of this item in error, please speak to the Lab Team.</p>","emailMessage/Cc":"steven.rae@bristol.ac.uk;@{outputs('Get_item')?['body/Owner/Email']}","emailMessage/ReplyTo":"aesir@bristol.ac.uk"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}},"runAfter":{"Initialize_variable_-_exitLoop":["Succeeded"]},"metadata":{"operationMetadataId":"cb7107db-61c2-4398-8884-5276033b6791"},"type":"Scope"},"Send_an_email_(V2)":{"runAfter":{"Scope":["Failed"]},"metadata":{"operationMetadataId":"f9e572af-7c55-44f6-bcb1-5c6a726a1de9"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"steven.rae@bristol.ac.uk","emailMessage/Subject":"Chemical Diposal Error","emailMessage/Body":"<p>@{triggerOutputs()['headers']['x-ms-user-timestamp']}<br>\n@{outputs('Get_item')?['body/Title']}<br>\n@{outputs('Get_item')?['body/Chemical']}</p>"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}},"description":"Click \"Run Flow\" to remove this item from the chemical register. Details for the item will be added to the hazardous waste disposal form."}