Chemical Registration_FlowDef.json
{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_new_response_is_submitted":{"splitOn":"@triggerOutputs()?['body/value']","metadata":{"operationMetadataId":"d47a08b7-5411-409c-8adc-69827e3a0f8c"},"type":"OpenApiConnectionWebhook","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_microsoftforms","connectionName":"shared_microsoftforms","operationId":"CreateFormWebhook"},"parameters":{"form_id":"MH_ksn3NTkql2rGM8aQVG2PvPX4q_EVEiz61XmYMV4RUMTJGR0I4UThPUUdQOFMzQzJHQVRDWjZaVCQlQCN0PWcu"},"authentication":"@parameters('$authentication')"}}},"actions":{"Get_response_details":{"runAfter":{},"metadata":{"operationMetadataId":"96dfe51d-04ad-47cf-a0ba-60d44b0c3830"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_microsoftforms","connectionName":"shared_microsoftforms","operationId":"GetFormResponseById"},"parameters":{"form_id":"MH_ksn3NTkql2rGM8aQVG2PvPX4q_EVEiz61XmYMV4RUMTJGR0I4UThPUUdQOFMzQzJHQVRDWjZaVCQlQCN0PWcu","response_id":"@triggerOutputs()?['body/resourceData/responseId']"},"authentication":"@parameters('$authentication')"}},"Condition_-_check_owner":{"actions":{"Get_user_profile_(V2)":{"runAfter":{},"metadata":{"operationMetadataId":"7dae2bbf-575c-4756-830a-2476255176ac"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365users","connectionName":"shared_office365users","operationId":"UserProfile_V2"},"parameters":{"id":"@outputs('Get_response_details')?['body/responder']"},"authentication":"@parameters('$authentication')"}},"Set_variable":{"runAfter":{"Get_user_profile_(V2)":["Succeeded"]},"metadata":{"operationMetadataId":"7eef87b4-6180-4a23-a416-b0d5f83e4fb9"},"type":"SetVariable","inputs":{"name":"owner","value":"@outputs('Get_user_profile_(V2)')?['body/displayName']"}},"Get_items":{"runAfter":{"Set_variable":["Succeeded"]},"metadata":{"operationMetadataId":"7a72e02f-29a3-4a8e-8f93-77cd3d068b25"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItems"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","table":"a2df07f2-720d-4869-a439-dfe282b0af0c","$filter":"Title eq '@{outputs('Get_user_profile_(V2)')?['body/mailNickname']}' and AcademicYear eq '2021 - 2022'"},"authentication":"@parameters('$authentication')"}},"Compose_7":{"runAfter":{"Get_items":["Succeeded"]},"metadata":{"operationMetadataId":"73e08a2e-a7e6-4ade-961f-99e650e72e77"},"type":"Compose","inputs":"@first(outputs('Get_items')?['body/value'])?['supervisoremail']"},"Get_supervisor_profile":{"runAfter":{"Compose_7":["Succeeded"]},"metadata":{"operationMetadataId":"ab7ed88c-cda6-425b-9dca-53295b705dd3"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365users","connectionName":"shared_office365users","operationId":"UserProfile_V2"},"parameters":{"id":"@outputs('Compose_7')"},"authentication":"@parameters('$authentication')"}},"Condition_10":{"actions":{},"runAfter":{"Get_supervisor_profile":["Succeeded"]},"else":{"actions":{"Send_an_email_from_a_shared_mailbox_(V2)_4":{"runAfter":{},"metadata":{"operationMetadataId":"4fef1724-54b0-440e-97f0-194a981a7a75"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SharedMailboxSendEmailV2"},"parameters":{"emailMessage/MailboxAddress":"BCITechSupport@bristol.ac.uk","emailMessage/To":"@outputs('Get_response_details')?['body/responder']","emailMessage/Subject":"Chemical Registration","emailMessage/Body":"<p>Sorry, only registered lab users can store chemicals in the labs. You can register as a lab user <a href=\"https://forms.office.com/Pages/ResponsePage.aspx?id=MH_ksn3NTkql2rGM8aQVG2PvPX4q_EVEiz61XmYMV4RUNEYyWE4zUlZCTDNCNjhCSEE5U1pTSU81RiQlQCN0PWcu\">here</a> .<br>\n<br>\nThis is an automated email. Please do not reply directly.</p>"},"authentication":"@parameters('$authentication')"}},"Terminate_3":{"runAfter":{"Send_an_email_from_a_shared_mailbox_(V2)_4":["Succeeded"]},"metadata":{"operationMetadataId":"13eb78dc-b8a2-4150-908b-e174a7989fb3"},"type":"Terminate","inputs":{"runStatus":"Succeeded"}}}},"expression":{"greater":["@length(outputs('Get_items')?['body/value'])",0]},"metadata":{"operationMetadataId":"1a242c33-d488-4199-8e59-ef445283ce4b"},"type":"If"}},"runAfter":{"Apply_to_each_4":["Succeeded"]},"else":{"actions":{"Condition_2":{"actions":{},"runAfter":{},"else":{"actions":{"Get_user_profile_(V2)_2":{"runAfter":{},"metadata":{"operationMetadataId":"73571f66-2fdc-4165-bb54-a1083f2e3bc3"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365users","connectionName":"shared_office365users","operationId":"UserProfile_V2"},"parameters":{"id":"@outputs('Get_response_details')?['body/rd850d34807e24e16b295fe842e1f21c7']"},"authentication":"@parameters('$authentication')"}},"Set_variable_3":{"runAfter":{"Get_user_profile_(V2)_2":["Succeeded"]},"metadata":{"operationMetadataId":"4f9de5cf-2dc8-4473-92b4-f665660fe9e4"},"type":"SetVariable","inputs":{"name":"owner","value":"@outputs('Get_user_profile_(V2)_2')?['body/displayName']"}},"Send_an_email_from_a_shared_mailbox_(V2)":{"runAfter":{"Get_user_profile_(V2)_2":["Failed","TimedOut"]},"metadata":{"operationMetadataId":"ea4bb096-d95d-4f45-87f1-14f47b992506"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SharedMailboxSendEmailV2"},"parameters":{"emailMessage/MailboxAddress":"BCITechSupport@bristol.ac.uk","emailMessage/To":"steven.rae@bristol.ac.uk","emailMessage/Subject":"Chemical Registration Error","emailMessage/Body":"<p>An active user profile could not be found for the owner specified. Please make sure you enter the owner's univeristy email address.&nbsp;</p>"},"authentication":"@parameters('$authentication')"}},"Terminate_2":{"runAfter":{"Send_an_email_from_a_shared_mailbox_(V2)":["Succeeded"]},"metadata":{"operationMetadataId":"50d552c7-5e02-4bc2-910c-9c024d5fc506"},"type":"Terminate","inputs":{"runStatus":"Cancelled"}}}},"expression":{"equals":["@empty(outputs('Get_response_details')?['body/rd850d34807e24e16b295fe842e1f21c7'])","@true"]},"metadata":{"operationMetadataId":"0109f2c2-238d-499d-9217-f013f1f6f3c7"},"type":"If"}}},"expression":{"equals":["@outputs('Get_response_details')?['body/r71196623b66241eab60a1dfa15fb4be0']","Yes"]},"metadata":{"operationMetadataId":"d6def166-7439-406d-aecc-9ce9ecab079d"},"type":"If"},"Initialize_variable_-_owner":{"runAfter":{"Get_response_details":["Succeeded"]},"metadata":{"operationMetadataId":"d018a38b-4567-416a-9cb1-79a6b0344c91"},"type":"InitializeVariable","inputs":{"variables":[{"name":"owner","type":"string"}]}},"Initialize_variable_-_hazards":{"runAfter":{"Initialize_variable":["Succeeded"]},"metadata":{"operationMetadataId":"0fa0ba7e-735e-4103-8d35-f454873989af"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Hazards","type":"array"}]}},"Condition_-_Fetch_Details":{"actions":{"Scope":{"actions":{"HTTP_4":{"runAfter":{"Determine_CID":["Succeeded"]},"metadata":{"operationMetadataId":"5715d3ad-b2dc-4e4d-982e-62d5fdb780cd"},"type":"Http","inputs":{"method":"GET","uri":"https://pubchem.ncbi.nlm.nih.gov/rest/pug_view/data/compound/@{outputs('Compose_4')}/json?heading=Chemical%20Safety"},"description":"Fetech Chem Safety page for compound"},"Compose_5":{"runAfter":{"HTTP_4":["Succeeded"]},"metadata":{"operationMetadataId":"7a0d865e-0e58-464a-8cf8-a415389a2d54"},"type":"Compose","inputs":"@body('HTTP_4')?['Record']?['Section'][0]?['Information'][0]?['Value']?['StringWithMarkup'][0]?['Markup']","description":"Return section on chemical safety"},"Parse_JSON_2":{"runAfter":{"Compose_5":["Succeeded"]},"metadata":{"operationMetadataId":"967c7833-149c-4e15-9e03-e0fb77ce87f4"},"type":"ParseJson","inputs":{"content":"@outputs('Compose_5')","schema":{"type":"array","items":{"type":"object","properties":{"Start":{"type":"integer"},"Length":{"type":"integer"},"URL":{"type":"string"},"Type":{"type":"string"},"Extra":{"type":"string"}},"required":["Start","Length","URL","Type","Extra"]}}}},"Apply_to_each_2":{"foreach":"@body('Parse_JSON_2')","actions":{"Append_to_array_variable":{"runAfter":{},"metadata":{"operationMetadataId":"8f5d5fef-2302-45e9-a9a9-3c7d5d76e944"},"type":"AppendToArrayVariable","inputs":{"name":"preHazard","value":"@toLower(items('Apply_to_each_2')['Extra'])"}}},"runAfter":{"Parse_JSON_2":["Succeeded"]},"metadata":{"operationMetadataId":"de5d7402-cc60-4ffe-9a53-a89f775a2fe0"},"type":"Foreach"},"Fetch_InchiKey":{"actions":{"HTTP":{"runAfter":{},"metadata":{"operationMetadataId":"99e8b582-cc0b-464d-92ae-dc9b17668aaa"},"type":"Http","inputs":{"method":"GET","uri":"https://commonchemistry.cas.org/api/detail","queries":{"cas_rn":"@outputs('Get_response_details')?['body/ra486781ec7a0440bb7bc6efcbc3be85e']"}}},"Compose":{"runAfter":{"HTTP":["Succeeded"]},"metadata":{"operationMetadataId":"c344d070-dd62-4362-889d-cf7f497705ac"},"type":"Compose","inputs":"@body('HTTP')"},"Compose_3":{"runAfter":{"Compose_2_-_chemical_name":["Succeeded"]},"metadata":{"operationMetadataId":"84a01cce-5fb9-494b-92b2-f1cdf05eb943"},"type":"Compose","inputs":"@last(split(outputs('Compose')?['inchiKey'], 'InChIKey='))"},"Compose_2_-_chemical_name":{"runAfter":{"Compose":["Succeeded"]},"metadata":{"operationMetadataId":"247701cb-caf0-4342-bcf2-95ac36088483"},"type":"Compose","inputs":"@last(split(outputs('Compose')?['name'], 'name='))"}},"runAfter":{},"metadata":{"operationMetadataId":"d190d424-d938-4a4d-b4c1-6c99e7fa3635"},"type":"Scope","description":"Fetch InchiKey from cas no."},"Determine_CID":{"actions":{"HTTP_3":{"runAfter":{},"metadata":{"operationMetadataId":"b60680e6-ebfb-4b8d-bb32-3fc9f68ea6ff"},"type":"Http","inputs":{"method":"GET","uri":"https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/inchikey/@{outputs('Compose_3')}/record/JSON"}},"Parse_JSON":{"runAfter":{"HTTP_3":["Succeeded"]},"metadata":{"operationMetadataId":"3e66e93d-a1e5-4187-be5d-78e0f14bc513"},"type":"ParseJson","inputs":{"content":"@body('HTTP_3')","schema":{"type":"object","properties":{"PC_Compounds":{"type":"array","items":{"type":"object","properties":{"id":{"type":"object","properties":{"id":{"type":"object","properties":{"cid":{"type":["integer","null"]}}}}},"atoms":{"type":"object","properties":{"aid":{"type":"array","items":{"type":["integer","null"]}},"element":{"type":"array","items":{"type":["integer","null"]}}}},"bonds":{"type":"object","properties":{"aid1":{"type":"array","items":{"type":["integer","null"]}},"aid2":{"type":"array","items":{"type":["integer","null"]}},"order":{"type":"array","items":{"type":["integer","null"]}}}}}}}}}}},"Compose_4":{"runAfter":{"Parse_JSON":["Succeeded"]},"metadata":{"operationMetadataId":"c7983ec0-0979-482d-b88e-2531a7b08dda"},"type":"Compose","inputs":"@body('Parse_JSON')?['PC_Compounds'][0]?['id']?['id']?['cid']"}},"runAfter":{"Fetch_InchiKey":["Succeeded"]},"metadata":{"operationMetadataId":"90e2e878-9a60-48a7-adcf-7ef105cb6679"},"type":"Scope"},"Apply_to_each":{"foreach":"@variables('preHazard')","actions":{"Switch":{"runAfter":{},"cases":{"Case":{"case":"explosive","actions":{"Append_to_array_variable_3":{"runAfter":{},"type":"AppendToArrayVariable","inputs":{"name":"Hazards","value":{"Value":"HP1 - Explosive"}}}}},"Case_2":{"case":"oxidizing","actions":{"Append_to_array_variable_4":{"runAfter":{},"type":"AppendToArrayVariable","inputs":{"name":"Hazards","value":{"Value":"HP2 - Oxidizing"}}}}},"Case_3":{"case":"flammable","actions":{"Append_to_array_variable_5":{"runAfter":{},"type":"AppendToArrayVariable","inputs":{"name":"Hazards","value":{"Value":"HP3 - Flammable"}}}}},"Case_4":{"case":"irritant","actions":{"Append_to_array_variable_6":{"runAfter":{},"type":"AppendToArrayVariable","inputs":{"name":"Hazards","value":{"Value":"HP4 - Irritant"}}}}},"Case_5":{"case":"harmful","actions":{"Append_to_array_variable_7":{"runAfter":{},"type":"AppendToArrayVariable","inputs":{"name":"Hazards","value":{"Value":"HP5 - Harmful"}}}}},"Case_6":{"case":"toxic","actions":{"Append_to_array_variable_8":{"runAfter":{},"type":"AppendToArrayVariable","inputs":{"name":"Hazards","value":{"Value":"HP6 - Toxic"}}}}},"Case_7":{"case":"carcinogenic","actions":{"Append_to_array_variable_9":{"runAfter":{},"type":"AppendToArrayVariable","inputs":{"name":"Hazards","value":{"Value":"HP7 - Carcinogenic"}}}}},"Case_8":{"case":"corrosive","actions":{"Append_to_array_variable_10":{"runAfter":{},"type":"AppendToArrayVariable","inputs":{"name":"Hazards","value":{"Value":"HP8 - Corrosive"}}}}},"Case_9":{"case":"environmental hazard","actions":{"Append_to_array_variable_11":{"runAfter":{},"type":"AppendToArrayVariable","inputs":{"name":"Hazards","value":{"Value":"HP14 - Ecotoxic"}}}}},"Case_10":{"case":"health hazard","actions":{"Append_to_array_variable_12":{"runAfter":{},"type":"AppendToArrayVariable","inputs":{"name":"Hazards","value":{"Value":"HP5 - Harmful"}}}}},"Case_11":{"case":"acute toxic","actions":{"Append_to_array_variable_13":{"runAfter":{},"type":"AppendToArrayVariable","inputs":{"name":"Hazards","value":{"Value":"HP6 - Toxic"}}}}}},"default":{"actions":{"Condition":{"actions":{"Append_to_array_variable_14":{"runAfter":{},"type":"AppendToArrayVariable","inputs":{"name":"Hazards","value":{"Value":"HP9 - Infectious"}}}},"runAfter":{},"else":{"actions":{"Condition_3":{"actions":{"Append_to_array_variable_15":{"runAfter":{},"type":"AppendToArrayVariable","inputs":{"name":"Hazards","value":{"Value":"HP10 - Toxic for reproduction"}}}},"runAfter":{},"else":{"actions":{"Condition_4":{"actions":{"Append_to_array_variable_16":{"runAfter":{},"type":"AppendToArrayVariable","inputs":{"name":"Hazards","value":{"Value":"HP11 - Mutagenic"}}}},"runAfter":{},"else":{"actions":{"Condition_5":{"actions":{"Append_to_array_variable_17":{"runAfter":{},"type":"AppendToArrayVariable","inputs":{"name":"Hazards","value":{"Value":"HP13 - Sensitizing"}}}},"runAfter":{},"else":{"actions":{"Append_to_array_variable_18":{"runAfter":{},"type":"AppendToArrayVariable","inputs":{"name":"Hazards","value":{"Value":"@items('Apply_to_each')"}}}}},"expression":{"contains":["@items('Apply_to_each')","Sensiti"]},"type":"If"}}},"expression":{"contains":["@items('Apply_to_each')","mutagen"]},"type":"If"}}},"expression":{"contains":["@items('Apply_to_each')","reproduct"]},"type":"If"}}},"expression":{"contains":["@items('Apply_to_each')","infect"]},"type":"If"}}},"expression":"@items('Apply_to_each')","metadata":{"operationMetadataId":"0709bd3e-c326-4e53-b13b-7da41fbc81de"},"type":"Switch"}},"runAfter":{"Apply_to_each_2":["Succeeded"]},"metadata":{"operationMetadataId":"35609ac4-4fbd-4ade-ac17-76a40cbfe223"},"type":"Foreach"}},"runAfter":{},"metadata":{"operationMetadataId":"d08da190-6073-45f2-b455-5196395a3b1c"},"type":"Scope"},"Create_item":{"runAfter":{"Scope":["Failed","Skipped","TimedOut"]},"metadata":{"operationMetadataId":"fdb09925-ce1b-4704-985a-0f70cf7d1378"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PostItem"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","table":"56c0bc24-452c-4da5-a099-1269768b5269","item/Title":"@concat('CH', formatNumber(triggerOutputs()?['body/resourceData/responseId'], '0000'))","item/Cupboard":"@outputs('Get_response_details')?['body/r1e6108f3013645a5b2ec853a67571a2f']","item/CAS":"@outputs('Get_response_details')?['body/ra486781ec7a0440bb7bc6efcbc3be85e']","item/Owner/Claims":"@variables('owner')","item/Supervisor":"@outputs('Get_supervisor_profile')?['body/displayName']","item/Disposeby":"@outputs('Get_response_details')?['body/r7c7d1f932ad64c0ba44fea172b1e7b1e']","item/Registered":"@utcNow()","item/Frequency":"@outputs('Get_response_details')?['body/r34df8c064685475c8995f12c214cc2e9']","item/MainHazard":[{"Value":"None"}],"item/Avoid":[{"Value":"xyz"}],"item/Greater5L":"@outputs('Get_response_details')?['body/r3d5a8d460cc54c65a5dce0022a9d026c']","item/Concentration":"@outputs('Get_response_details')?['body/r43729502791e4502b704a3bb46be2637']","item/ContainerType/Value":"@outputs('Get_response_details')?['body/r5397ac4f66774e8baf356143bf64b77c']","item/QuantityUnits/Value":"@outputs('Get_response_details')?['body/r3ea12751440b45b2a87c7c4c12f66b8e']","item/Quantity":"@outputs('Get_response_details')?['body/rd0393df7007e42ce8e47fa45dbe1b2b4']","item/PhysicalState/Value":"@outputs('Get_response_details')?['body/re9518162cc8f49e785708013eae06c04']"},"authentication":"@parameters('$authentication')"}},"Terminate":{"runAfter":{"Send_an_email_from_a_shared_mailbox_(V2)_2":["Succeeded"]},"metadata":{"operationMetadataId":"bc20dbd9-7971-4e65-a312-45d7b2d5e69f"},"type":"Terminate","inputs":{"runStatus":"Succeeded"}},"ComposeURL":{"runAfter":{"Create_item":["Succeeded"]},"metadata":{"operationMetadataId":"40390de5-c48a-4710-b15f-1375f7057e0a"},"type":"Compose","inputs":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam/Lists/Chemical%20Register/AllItems.aspx?FilterField1=Title&FilterValue1=@{outputs('Create_item')?['body/Title']}"},"Create_Label_2":{"actions":{"Get_template_file_content_2":{"runAfter":{},"metadata":{"operationMetadataId":"46cae0a7-0173-47bc-b10c-8c5937d33dbe","%252fMasterStorage%252fSmallTemp.docx":"/MasterStorage/SmallTemp.docx"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetFileContent"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","id":"%252fMasterStorage%252fSmallTemp.docx","inferContentType":true},"authentication":"@parameters('$authentication')"}},"Create_file_2":{"runAfter":{"Get_template_file_content_2":["Succeeded"]},"metadata":{"operationMetadataId":"0560796c-14bb-4f87-ae7f-267a7705ae84"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"CreateFile"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","folderPath":"/MasterStorage","name":"@{outputs('Create_item')?['body/Title']}.docx","body":"@outputs('Get_template_file_content_2')?['body']"},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}},"Update_file_properties_2":{"runAfter":{"Create_file_2":["Succeeded"]},"metadata":{"operationMetadataId":"8cfb2a73-0dc9-4d49-9c62-7766ed3506fc"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchFileItem"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","table":"e5000f0c-486c-464a-b31f-779478954d38","id":"@outputs('Create_file_2')?['body/ItemId']","item/varTitle":"@outputs('Create_item')?['body/Title']","item/varName":"@variables('owner')"},"authentication":"@parameters('$authentication')"}},"Get_file_content_2":{"runAfter":{"Update_file_properties_2":["Succeeded"]},"metadata":{"operationMetadataId":"a12af99a-4eda-4b11-a943-d7715af3490a"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetFileContent"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","id":"@outputs('Create_file_2')?['body/Id']","inferContentType":true},"authentication":"@parameters('$authentication')"}},"Add_attachment_2":{"runAfter":{"Get_file_content_2":["Succeeded"]},"metadata":{"operationMetadataId":"b79781b8-65be-4c1f-aec3-8bb9fe2a2310"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"CreateAttachment"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","table":"56c0bc24-452c-4da5-a099-1269768b5269","itemId":"@outputs('Create_item')?['body/ID']","displayName":"@outputs('Create_file_2')?['body/Name']","body":"@outputs('Get_file_content_2')?['body']"},"authentication":"@parameters('$authentication')"}},"Delete_file_2":{"runAfter":{"Add_attachment_2":["Succeeded"]},"metadata":{"operationMetadataId":"42eb48a9-ffad-416b-b119-b3729377d0f0"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"DeleteFile"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","id":"@outputs('Create_file_2')?['body/Id']"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"ComposeURL":["Succeeded"]},"metadata":{"operationMetadataId":"2bdb4c2c-498e-407c-8aef-13ed27c2b86b"},"type":"Scope"},"Add_MSDS_Attachment":{"actions":{"Parse_JSON_3":{"runAfter":{},"metadata":{"operationMetadataId":"e4e1b4ec-8182-4c6a-85de-a222b354d4c2"},"type":"ParseJson","inputs":{"content":"@outputs('Get_response_details')?['body/r13f2139b56974925ae3838d355fc0996']","schema":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"link":{"type":"string"},"id":{"type":"string"},"type":{},"size":{"type":"integer"},"referenceId":{"type":"string"},"driveId":{"type":"string"},"status":{"type":"integer"},"uploadSessionUrl":{}},"required":["name","link","id","type","size","referenceId","driveId","status","uploadSessionUrl"]}}}},"Get_file_extension":{"runAfter":{"Parse_JSON_3":["Succeeded"]},"metadata":{"operationMetadataId":"dfe90651-4954-42cc-a4be-727092bc75b6"},"type":"Compose","inputs":"@last(split(first(body('Parse_JSON_3'))['name'], '.'))"},"Get_file_content_using_path":{"runAfter":{"Get_file_extension":["Succeeded"]},"metadata":{"operationMetadataId":"f4448226-6a39-4e6f-bd3a-08e49a5a4dd8"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetFileContentByPath"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","path":"/Shared Documents/Apps/Microsoft Forms/Chemical Registration/MSDS upload/@{first(body('Parse_JSON_3'))?['name']}","inferContentType":true},"authentication":"@parameters('$authentication')"}},"Condition_6":{"actions":{"Append_to_string_variable":{"runAfter":{},"metadata":{"operationMetadataId":"1276f4fd-5157-4d94-ad58-90734f77979f"},"type":"AppendToStringVariable","inputs":{"name":"MSDS","value":"@outputs('Create_item')?['body/CAS']"}}},"runAfter":{"Get_file_content_using_path":["Succeeded"]},"else":{"actions":{"Condition_7":{"actions":{"Append_to_string_variable_2":{"runAfter":{},"metadata":{"operationMetadataId":"8c3ca21f-9270-4aa6-9459-314d0d3e6cb3"},"type":"AppendToStringVariable","inputs":{"name":"MSDS","value":"@outputs('Create_item')?['body/Chemical']"}}},"runAfter":{},"else":{"actions":{"Append_to_string_variable_3":{"runAfter":{},"metadata":{"operationMetadataId":"ee9a5281-fdd0-4d0e-a1d5-aebf503eb2ec"},"type":"AppendToStringVariable","inputs":{"name":"MSDS","value":"@outputs('Create_item')?['body/Title']"}}}},"expression":{"equals":["@empty(outputs('Create_item')?['body/Chemical'])","@false"]},"metadata":{"operationMetadataId":"e2622df9-f4e3-4869-99bb-faa34c08d77a"},"type":"If"}}},"expression":{"equals":["@empty(outputs('Create_item')?['body/CAS'])","@false"]},"metadata":{"operationMetadataId":"f7bb9977-ed1c-474a-8257-15a84131e2a2"},"type":"If"},"Add_attachment_3":{"runAfter":{"Condition_6":["Succeeded"]},"metadata":{"operationMetadataId":"093a8831-2dfc-40c9-9d93-40acabd551cb"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"CreateAttachment"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","table":"56c0bc24-452c-4da5-a099-1269768b5269","itemId":"@outputs('Create_item')?['body/ID']","displayName":"@{variables('MSDS')}.@{outputs('Get_file_extension')}","body":"@outputs('Get_file_content_using_path')?['body']"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Create_Label_2":["Succeeded"]},"metadata":{"operationMetadataId":"dcea4ed0-6b59-4d2c-ba87-0c7a545824a1"},"type":"Scope"},"Send_an_email_from_a_shared_mailbox_(V2)_2":{"runAfter":{"Add_MSDS_Attachment":["Succeeded"]},"metadata":{"operationMetadataId":"818d6671-040f-4e58-9791-f1ef5a0bc8b3"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SharedMailboxSendEmailV2"},"parameters":{"emailMessage/MailboxAddress":"BCITechSupport@bristol.ac.uk","emailMessage/To":"@outputs('Get_response_details')?['body/responder']","emailMessage/Subject":"Chemical Registration","emailMessage/Body":"<p>Details of the substance for the CAS number provided could not be found. A record has still been created however there will be a few details that need to be added manually. Please click <a href=\"@{outputs('ComposeURL')}\">here</a> to update your record.\n</p>"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Condition_-_check_owner":["Succeeded"]},"else":{"actions":{"Compose_2":{"runAfter":{},"metadata":{"operationMetadataId":"29d41829-98ae-40c9-8d93-58492d0a0145"},"type":"Compose","inputs":"@split(replace(replace(replace(outputs('Get_response_details')?['body/r709d6b813b9c4b4290462d8ee739c2ed'], '[', ''), ']', ''), '\"', ''), ',')"},"Apply_to_each_3":{"foreach":"@outputs('Compose_2')","actions":{"Append_to_array_variable_2":{"runAfter":{},"metadata":{"operationMetadataId":"d4ccb19b-5349-4c4a-8533-f8bd19b574f2"},"type":"AppendToArrayVariable","inputs":{"name":"Hazards","value":{"Value":"@items('Apply_to_each_3')"}}}},"runAfter":{"Compose_2":["Succeeded"]},"metadata":{"operationMetadataId":"3db3fe74-6690-4532-a112-dd7af735c627"},"type":"Foreach"}}},"expression":{"equals":["@outputs('Get_response_details')?['body/ra274d6aaf7b24d03b78d48ec4110fa26']","Yes"]},"metadata":{"operationMetadataId":"62efc4f2-49f1-487e-bc6d-a7895d7b0c67"},"type":"If","description":"Programmatically or manually update hazard categories"},"Initialize_variable":{"runAfter":{"Initialize_variable_-_owner":["Succeeded"]},"metadata":{"operationMetadataId":"c820d0f8-b57f-4115-bd40-f939d76c37e3"},"type":"InitializeVariable","inputs":{"variables":[{"name":"preHazard","type":"array"}]}},"Create_item_2":{"runAfter":{"Condition_-_Fetch_Details":["Succeeded"]},"metadata":{"operationMetadataId":"5f036d62-1dce-4e66-b257-b9415ca13233"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PostItem"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","table":"56c0bc24-452c-4da5-a099-1269768b5269","item/Title":"@concat('CH', formatNumber(triggerOutputs()?['body/resourceData/responseId'], '0000'))","item/Cupboard":"@outputs('Get_response_details')?['body/r1e6108f3013645a5b2ec853a67571a2f']","item/CAS":"@outputs('Get_response_details')?['body/ra486781ec7a0440bb7bc6efcbc3be85e']","item/Chemical":"@if(equals(outputs('Get_response_details')?['body/ra274d6aaf7b24d03b78d48ec4110fa26'], 'Yes'), outputs('Compose_2_-_chemical_name'), outputs('Get_response_details')?['body/r5486b78a9ccf4a36bbdccf64571b8b4f'] )","item/Owner/Claims":"@variables('owner')","item/Supervisor":"@if(equals(outputs('Get_response_details')?['body/r71196623b66241eab60a1dfa15fb4be0'], 'Yes'), outputs('Get_supervisor_profile')?['body/displayName'], '')","item/Disposeby":"@outputs('Get_response_details')?['body/r7c7d1f932ad64c0ba44fea172b1e7b1e']","item/Registered":"@utcNow()","item/Inspection_x003f_":"@outputs('Get_response_details')?['body/r2bece6878e5947bbba734983ed0d9423']","item/Frequency":"@outputs('Get_response_details')?['body/r34df8c064685475c8995f12c214cc2e9']","item/MainHazard":"@variables('Hazards')","item/Avoid":"@variables('Incompatibles')","item/Greater5L":"@outputs('Get_response_details')?['body/r3d5a8d460cc54c65a5dce0022a9d026c']","item/Components":"@outputs('Create_item')?['body/Components']","item/Concentration":"@outputs('Get_response_details')?['body/r43729502791e4502b704a3bb46be2637']","item/ContainerType/Value":"@outputs('Get_response_details')?['body/r5397ac4f66774e8baf356143bf64b77c']","item/QuantityUnits/Value":"@outputs('Get_response_details')?['body/r3ea12751440b45b2a87c7c4c12f66b8e']","item/Quantity":"@outputs('Get_response_details')?['body/rd0393df7007e42ce8e47fa45dbe1b2b4']","item/PhysicalState/Value":"@outputs('Get_response_details')?['body/re9518162cc8f49e785708013eae06c04']"},"authentication":"@parameters('$authentication')"}},"Create_Label":{"actions":{"Get_template_file_content":{"runAfter":{},"metadata":{"operationMetadataId":"5dcd1f81-b570-465f-9a91-a6acd84b429d","%252fMasterStorage%252fSmallTemp.docx":"/MasterStorage/SmallTemp.docx"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetFileContent"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","id":"%252fMasterStorage%252fSmallTemp.docx","inferContentType":true},"authentication":"@parameters('$authentication')"}},"Create_file":{"runAfter":{"Get_template_file_content":["Succeeded"]},"metadata":{"operationMetadataId":"3c106c79-288c-4e60-9e6f-acf850aaac31"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"CreateFile"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","folderPath":"/MasterStorage","name":"@{outputs('Create_item_2')?['body/Title']}.docx","body":"@outputs('Get_template_file_content')?['body']"},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}},"Update_file_properties":{"runAfter":{"Create_file":["Succeeded"]},"metadata":{"operationMetadataId":"80ea1c8a-5ba4-484f-bc83-dd64daf959e7"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchFileItem"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","table":"e5000f0c-486c-464a-b31f-779478954d38","id":"@outputs('Create_file')?['body/ItemId']","item/varTitle":"@outputs('Create_item_2')?['body/Title']","item/varName":"@variables('owner')"},"authentication":"@parameters('$authentication')"}},"Get_file_content":{"runAfter":{"Update_file_properties":["Succeeded"]},"metadata":{"operationMetadataId":"4d6f36a3-de96-4e1a-ad0d-814170ee0977"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetFileContent"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","id":"@outputs('Create_file')?['body/Id']","inferContentType":true},"authentication":"@parameters('$authentication')"}},"Add_attachment":{"runAfter":{"Get_file_content":["Succeeded"]},"metadata":{"operationMetadataId":"24011f25-538d-4744-adb8-fc9b6391b2b5"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"CreateAttachment"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","table":"56c0bc24-452c-4da5-a099-1269768b5269","itemId":"@outputs('Create_item_2')?['body/ID']","displayName":"@outputs('Create_file')?['body/Name']","body":"@outputs('Get_file_content')?['body']"},"authentication":"@parameters('$authentication')"}},"Delete_file":{"runAfter":{"Add_attachment":["Succeeded"]},"metadata":{"operationMetadataId":"b7c04b1e-1daa-492f-9be4-2bc18dc1c08a"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"DeleteFile"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","id":"@outputs('Create_file')?['body/Id']"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Create_item_2":["Succeeded"]},"metadata":{"operationMetadataId":"a6159326-5f21-444a-be9f-a716ff494c73"},"type":"Scope"},"MSDS_filename":{"runAfter":{"Initialize_variable_-_hazards":["Succeeded"]},"metadata":{"operationMetadataId":"a03009c3-d662-4784-98ce-40523fa85b1a"},"type":"InitializeVariable","inputs":{"variables":[{"name":"MSDS","type":"string"}]}},"Add_MSDS_Attachment_2":{"actions":{"Parse_JSON_4":{"runAfter":{},"metadata":{"operationMetadataId":"e4e1b4ec-8182-4c6a-85de-a222b354d4c2"},"type":"ParseJson","inputs":{"content":"@outputs('Get_response_details')?['body/r13f2139b56974925ae3838d355fc0996']","schema":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"link":{"type":"string"},"id":{"type":"string"},"type":{},"size":{"type":"integer"},"referenceId":{"type":"string"},"driveId":{"type":"string"},"status":{"type":"integer"},"uploadSessionUrl":{}},"required":["name","link","id","type","size","referenceId","driveId","status","uploadSessionUrl"]}}}},"Get_file_extension_2":{"runAfter":{"Parse_JSON_4":["Succeeded"]},"metadata":{"operationMetadataId":"dfe90651-4954-42cc-a4be-727092bc75b6"},"type":"Compose","inputs":"@last(split(first(body('Parse_JSON_4'))['name'], '.'))"},"Get_file_content_using_path_2":{"runAfter":{"Get_file_extension_2":["Succeeded"]},"metadata":{"operationMetadataId":"f4448226-6a39-4e6f-bd3a-08e49a5a4dd8"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetFileContentByPath"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","path":"/Shared Documents/Apps/Microsoft Forms/Chemical Registration/MSDS upload/@{first(body('Parse_JSON_4'))?['name']}","inferContentType":true},"authentication":"@parameters('$authentication')"}},"Condition_8":{"actions":{"Append_to_string_variable_4":{"runAfter":{},"metadata":{"operationMetadataId":"1276f4fd-5157-4d94-ad58-90734f77979f"},"type":"AppendToStringVariable","inputs":{"name":"MSDS","value":"@outputs('Create_item')?['body/CAS']"}}},"runAfter":{"Get_file_content_using_path_2":["Succeeded"]},"else":{"actions":{"Condition_9":{"actions":{"Append_to_string_variable_5":{"runAfter":{},"metadata":{"operationMetadataId":"8c3ca21f-9270-4aa6-9459-314d0d3e6cb3"},"type":"AppendToStringVariable","inputs":{"name":"MSDS","value":"@outputs('Create_item')?['body/Chemical']"}}},"runAfter":{},"else":{"actions":{"Append_to_string_variable_6":{"runAfter":{},"metadata":{"operationMetadataId":"ee9a5281-fdd0-4d0e-a1d5-aebf503eb2ec"},"type":"AppendToStringVariable","inputs":{"name":"MSDS","value":"@outputs('Create_item')?['body/Title']"}}}},"expression":{"equals":["@empty(outputs('Create_item_2')?['body/Chemical'])","@false"]},"metadata":{"operationMetadataId":"e2622df9-f4e3-4869-99bb-faa34c08d77a"},"type":"If"}}},"expression":{"equals":["@empty(outputs('Create_item_2')?['body/CAS'])","@false"]},"metadata":{"operationMetadataId":"f7bb9977-ed1c-474a-8257-15a84131e2a2"},"type":"If"},"Add_attachment_4":{"runAfter":{"Condition_8":["Succeeded"]},"metadata":{"operationMetadataId":"093a8831-2dfc-40c9-9d93-40acabd551cb"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"CreateAttachment"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","table":"56c0bc24-452c-4da5-a099-1269768b5269","itemId":"@outputs('Create_item_2')?['body/ID']","displayName":"@{variables('MSDS')}.@{outputs('Get_file_extension_2')}","body":"@outputs('Get_file_content_using_path_2')?['body']"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Create_Label":["Succeeded"]},"metadata":{"operationMetadataId":"3ab67b6c-2a74-479b-a65d-e8fb123880a0"},"type":"Scope"},"Initialize_variable_-_Incompatibles":{"runAfter":{"MSDS_filename":["Succeeded"]},"metadata":{"operationMetadataId":"fc88fcf7-5974-4d6d-8c82-7800ff069f57"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Incompatibles","type":"array"}]}},"Send_an_email_from_a_shared_mailbox_(V2)_3":{"runAfter":{"Compose_6":["Succeeded"]},"metadata":{"operationMetadataId":"fb0f96ff-df1f-4814-9492-f65412d9d367"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SharedMailboxSendEmailV2"},"parameters":{"emailMessage/MailboxAddress":"BCITechSupport@bristol.ac.uk","emailMessage/To":"@outputs('Get_response_details')?['body/responder']","emailMessage/Subject":"Chemical Registration","emailMessage/Body":"<p>Your chemical has been succesfully registered with the following details:<br>\n<br>\nRef No: @{outputs('Create_item_2')?['body/Title']}<br>\nName: @{outputs('Create_item_2')?['body/Chemical']}<br>\nCAS: @{outputs('Create_item_2')?['body/CAS']}<br>\n<br>\nYou can view and amend any details <a href=\" @{outputs('Compose_6')}\"> here.</a>&nbsp;</p>\nA label has been created and is available as an attachment. Alternatively, please write your Ref No. and name on the container."},"authentication":"@parameters('$authentication')"}},"Compose_6":{"runAfter":{"Add_MSDS_Attachment_2":["Succeeded"]},"metadata":{"operationMetadataId":"53747351-e1b8-4cd3-a19c-dc5f896aff23"},"type":"Compose","inputs":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam/Lists/Chemical%20Register/AllItems.aspx?FilterField1=Title&FilterValue1=@{outputs('Create_item_2')?['body/Title']}"},"Compose_8":{"runAfter":{"Initialize_variable_-_Incompatibles":["Succeeded"]},"metadata":{"operationMetadataId":"4f1e7bb4-c926-4a59-984a-306f81fa2e74"},"type":"Compose","inputs":"@split(replace(replace(replace(outputs('Get_response_details')?['body/r3dee14a4ace240b3b0f376b0c2dad804'], ']', ''), '[', ''), '\"', ''), ',')\r\n"},"Apply_to_each_4":{"foreach":"@outputs('Compose_8')","actions":{"Append_to_array_variable_19":{"runAfter":{},"metadata":{"operationMetadataId":"33efc1d8-afac-49d5-8254-b30b1079a7d2"},"type":"AppendToArrayVariable","inputs":{"name":"Incompatibles","value":{"Value":"@items('Apply_to_each_4')"}}}},"runAfter":{"Compose_8":["Succeeded"]},"metadata":{"operationMetadataId":"57b95312-ff71-4614-a04e-45aac3f53b08"},"type":"Foreach"}}}