DeskResv_GetListData3_FlowDef.json
{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"b106939c-f675-4b9f-87b1-49281af1dd45"},"type":"Request","kind":"PowerApp","inputs":{"schema":{"type":"object","properties":{"listName_Value":{"type":"string","description":"Enter initial value","x-ms-powerflows-param-ispartial":false},"varUsername_Inputs":{"type":"any","description":"Inputs","x-ms-powerflows-param-ispartial":false},"COFvalue_Inputs":{"type":"any","description":"Inputs","x-ms-powerflows-param-ispartial":false},"COTvalue_Inputs":{"type":"any","description":"Inputs","x-ms-powerflows-param-ispartial":false}},"required":["listName_Value","varUsername_Inputs","COFvalue_Inputs","COTvalue_Inputs"]}}}},"actions":{"listName":{"runAfter":{"gather":["Succeeded"]},"metadata":{"operationMetadataId":"31ab73fc-3fae-4681-bd44-9d55176fb7a4"},"type":"InitializeVariable","inputs":{"variables":[{"name":"listName","type":"string","value":"@{triggerBody()['listName_Value']}"}]}},"COF":{"runAfter":{"listName":["Succeeded"]},"metadata":{"operationMetadataId":"5c9c5585-b73d-46a7-95b2-7607d2412add"},"type":"InitializeVariable","inputs":{"variables":[{"name":"COF","type":"string","value":"@{formatDateTime(concat(outputs('COFyear'), '-', outputs('COFmonth'), '-', outputs('COFday')), 'yyyy-MM-dd')}"}]}},"Get_items_3":{"runAfter":{"COTHourLocal":["Succeeded"]},"metadata":{"operationMetadataId":"6fb72932-034f-4a9b-882d-b5b715530276"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItems"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","table":"@variables('listName')","$filter":"(('@{variables('COF')}' le CheckOutFrom and '@{variables('COT')}'  gt CheckOutFrom) or ('@{variables('COF')}' ge CheckOutFrom and '@{variables('COF')}' le CheckOutTo) or ('@{variables('COT')}' gt CheckOutFrom and '@{variables('COT')}' le CheckOutTo)) and (('@{variables('COFHourLocal')}' le COFHour and '@{variables('COTHourLocal')}' ge COTHour) or ('@{variables('COTHourLocal')}' gt COFHour and '@{variables('COTHourLocal')}' le COTHour) or ('@{variables('COFHourLocal')}' ge COFHour and '@{variables('COFHourLocal')}' lt COTHour))"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"gather":{"actions":{"listnamevalue":{"runAfter":{},"metadata":{"operationMetadataId":"e21881d9-6a07-4402-bc39-a20142beae5f"},"type":"Compose","inputs":"@triggerBody()['listName_Value']"},"COFvalue":{"runAfter":{"listnamevalue":["Succeeded"]},"metadata":{"operationMetadataId":"84b2140f-b180-492a-b961-aa151bdfde64"},"type":"Compose","inputs":"@triggerBody()['COFvalue_Inputs']"},"COTvalue":{"runAfter":{"COFDay":["Succeeded"]},"metadata":{"operationMetadataId":"2994a692-74a5-4412-8916-8a5394cda916"},"type":"Compose","inputs":"@triggerBody()['COTvalue_Inputs']"},"varUsername":{"runAfter":{"COTday":["Succeeded"]},"metadata":{"operationMetadataId":"9903d2d9-08b9-4dbe-a902-0594fbaebba1"},"type":"Compose","inputs":"@triggerBody()['varUsername_Inputs']"},"SplitCOF":{"runAfter":{"COFvalue":["Succeeded"]},"metadata":{"operationMetadataId":"9edbdf67-a6f5-4a00-b499-0f4ba0d36df7"},"type":"Compose","inputs":"@Split(First(Split(outputs('COFvalue'), 'T')), '-')"},"COFYear":{"runAfter":{"SplitCOF":["Succeeded"]},"metadata":{"operationMetadataId":"673290db-16fd-4ab7-8fdd-b42bafbde21b"},"type":"Compose","inputs":"@outputs('SplitCOF')[0]"},"COFMonth":{"runAfter":{"COFYear":["Succeeded"]},"metadata":{"operationMetadataId":"668152ad-ac8a-4f67-afa2-b5abe7e0f5e7"},"type":"Compose","inputs":"@outputs('SplitCOF')[1]"},"COFDay":{"runAfter":{"COFMonth":["Succeeded"]},"metadata":{"operationMetadataId":"3e908024-9343-47a1-bea7-729656f702f5"},"type":"Compose","inputs":"@outputs('SplitCOF')[2]"},"SplitCOT":{"runAfter":{"COTvalue":["Succeeded"]},"metadata":{"operationMetadataId":"2b0a8de9-22b2-44eb-8985-7c017a25141c"},"type":"Compose","inputs":"@Split(First(Split(outputs('COTvalue'), 'T')), '-')"},"COTyear":{"runAfter":{"SplitCOT":["Succeeded"]},"metadata":{"operationMetadataId":"6b70972a-27a4-4c21-8b0c-d6a794984697"},"type":"Compose","inputs":"@outputs('SplitCOT')[0]"},"COTmonth":{"runAfter":{"COTyear":["Succeeded"]},"metadata":{"operationMetadataId":"8e932680-0089-43fa-84d6-c9719a8f6ff8"},"type":"Compose","inputs":"@outputs('SplitCOT')[1]"},"COTday":{"runAfter":{"COTmonth":["Succeeded"]},"metadata":{"operationMetadataId":"d609297a-aafb-4b4b-8c48-a1de096ffa2d"},"type":"Compose","inputs":"@outputs('SplitCOT')[2]"}},"runAfter":{},"metadata":{"operationMetadataId":"2f719e82-74cb-4eb4-8f2f-3b32b0cb0341"},"type":"Scope"},"Respond_to_a_PowerApp_or_flow":{"runAfter":{"Condition":["Succeeded"]},"metadata":{"operationMetadataId":"561530dd-81c3-46aa-9736-8764e9afcd40"},"type":"Response","kind":"PowerApp","inputs":{"statusCode":200,"body":{"desksbooked":"@variables('desksfilter')","person":"@variables('person')"},"schema":{"type":"object","properties":{"desksbooked":{"title":"desksbooked","x-ms-dynamically-added":true,"type":"string"},"person":{"title":"person","x-ms-dynamically-added":true,"type":"string"}}}}},"COFHour":{"runAfter":{"COF":["Succeeded"]},"metadata":{"operationMetadataId":"bcd4e60c-2042-4c9d-a0c6-8a88c7504088"},"type":"InitializeVariable","inputs":{"variables":[{"name":"COFHour","type":"string","value":"@{Last(split(outputs('COFvalue'), 'T'))}"}]}},"COT":{"runAfter":{"COFHourLocal":["Succeeded"]},"metadata":{"operationMetadataId":"3f4032a2-633b-4705-8355-93146f8af257"},"type":"InitializeVariable","inputs":{"variables":[{"name":"COT","type":"string","value":"@{formatDateTime(concat(outputs('COTyear'), '-', outputs('COTmonth'), '-', outputs('COTday')), 'yyyy-MM-dd')}"}]}},"COTHour":{"runAfter":{"COT":["Succeeded"]},"metadata":{"operationMetadataId":"d3d13708-d3fd-4c8f-bf9a-3c17a9916965"},"type":"InitializeVariable","inputs":{"variables":[{"name":"COTHour","type":"string","value":"@{Last(Split(outputs('COTvalue'), 'T'))}"}]}},"COFHourLocal":{"runAfter":{"COFHour":["Succeeded"]},"metadata":{"operationMetadataId":"272cbd38-cc51-48cb-8495-e9712b27d916"},"type":"InitializeVariable","inputs":{"variables":[{"name":"COFHourLocal","type":"string","value":"@{convertFromUtc(variables('COFHour'), 'GMT Standard Time', 'HH:mm')}"}]}},"COTHourLocal":{"runAfter":{"COTHour":["Succeeded"]},"metadata":{"operationMetadataId":"7b7f18af-69da-41c4-aea4-3b9025602332"},"type":"InitializeVariable","inputs":{"variables":[{"name":"COTHourLocal","type":"string","value":"@{convertFromUtc(variables('COTHour'), 'GMT Standard Time', 'HH:mm:ss')}"}]}},"Parse_JSON":{"runAfter":{"Get_items_3":["Succeeded"]},"metadata":{"operationMetadataId":"ddf75f8e-bdd7-4bbc-9bb1-7089f203e412"},"type":"ParseJson","inputs":{"content":"@outputs('Get_items_3')?['body/value']","schema":{"type":"array","items":{"type":"object","properties":{"@@odata.etag":{"type":"string"},"ItemInternalId":{"type":"string"},"ID":{"type":"integer"},"Title":{"type":"string"},"DeskText":{"type":"string"},"CheckOutFrom":{"type":"string"},"COFHour":{"type":"string"},"CheckOutTo":{"type":"string"},"COTHour":{"type":"string"},"Modified":{"type":"string"},"Created":{"type":"string"},"Author":{"type":"object","properties":{"@@odata.type":{"type":"string"},"Claims":{"type":"string"},"DisplayName":{"type":"string"},"Email":{"type":"string"}}},"Author#Claims":{"type":"string"},"Editor":{"type":"object","properties":{"@@odata.type":{"type":"string"},"Claims":{"type":"string"},"DisplayName":{"type":"string"},"Email":{"type":"string"}}},"Editor#Claims":{"type":"string"},"{Identifier}":{"type":"string"},"{IsFolder}":{"type":"boolean"},"{Thumbnail}":{"type":"object","properties":{"Large":{},"Medium":{},"Small":{}}},"{Link}":{"type":"string"},"{Name}":{"type":"string"},"{FilenameWithExtension}":{"type":"string"},"{Path}":{"type":"string"},"{FullPath}":{"type":"string"},"{HasAttachments}":{"type":"boolean"},"{VersionNumber}":{"type":"string"}},"required":["@@odata.etag","ItemInternalId","ID","Title","DeskText","CheckOutFrom","COFHour","CheckOutTo","COTHour","Modified","Created","Author","Author#Claims","Editor","Editor#Claims","{Identifier}","{IsFolder}","{Thumbnail}","{Link}","{Name}","{FilenameWithExtension}","{Path}","{FullPath}","{HasAttachments}","{VersionNumber}"]}}}},"desksbooked":{"runAfter":{"Parse_JSON":["Succeeded"]},"metadata":{"operationMetadataId":"e3eb86f5-9156-46b4-bd74-3b64a34c42a2"},"type":"InitializeVariable","inputs":{"variables":[{"name":"desksbooked","type":"string"}]}},"Apply_to_each":{"foreach":"@body('Parse_JSON')","actions":{"Append_to_string_variable":{"runAfter":{},"metadata":{"operationMetadataId":"39a954d3-04a0-477e-b85a-57565648581c"},"type":"AppendToStringVariable","inputs":{"name":"desksbooked","value":"@{items('Apply_to_each')?['DeskText']};"}},"Append_to_string_variable_3":{"runAfter":{"Compose_5":["Succeeded"]},"metadata":{"operationMetadataId":"b02fe653-9408-423f-ab4b-1543b365eb09"},"type":"AppendToStringVariable","inputs":{"name":"person","value":"@{body('Parse_JSON_2')?['DeskText']} - @{outputs('Compose_3')} @{outputs('Compose_4')} - @{outputs('Compose_5')};"}},"Parse_JSON_2":{"runAfter":{"Append_to_string_variable":["Succeeded"]},"metadata":{"operationMetadataId":"5d34ac38-5f05-4e47-8af2-30a42ff18f7b"},"type":"ParseJson","inputs":{"content":"@items('Apply_to_each')","schema":{"type":"object","properties":{"@@odata.etag":{"type":"string"},"ItemInternalId":{"type":"string"},"ID":{"type":"integer"},"Title":{"type":"string"},"DeskText":{"type":"string"},"ReservedBy":{"type":"object","properties":{"@@odata.type":{"type":"string"},"Claims":{"type":"string"},"DisplayName":{"type":"string"},"Email":{"type":"string"},"Picture":{"type":"string"},"Department":{"type":["string","null"]},"JobTitle":{"type":["string","null"]}}},"ReservedBy#Claims":{"type":"string"},"CheckOutFrom":{"type":"string"},"COFForm":{"type":"string"},"COFHour":{"type":"string"},"CheckOutTo":{"type":"string"},"COTForm":{"type":"string"},"COTHour":{"type":"string"},"GUID0":{"type":"string"},"Modified":{"type":"string"},"Created":{"type":"string"},"Author":{"type":"object","properties":{"@@odata.type":{"type":"string"},"Claims":{"type":"string"},"DisplayName":{"type":"string"},"Email":{"type":"string"},"Picture":{"type":"string"},"Department":{"type":["string","null"]},"JobTitle":{"type":["string","null"]}}},"Author#Claims":{"type":"string"},"Editor":{"type":"object","properties":{"@@odata.type":{"type":"string"},"Claims":{"type":"string"},"DisplayName":{"type":"string"},"Email":{"type":"string"},"Picture":{"type":"string"},"Department":{"type":["string","null"]},"JobTitle":{"type":["string","null"]}}},"Editor#Claims":{"type":"string"},"{Identifier}":{"type":"string"},"{IsFolder}":{"type":"boolean"},"{Thumbnail}":{"type":"object","properties":{"Large":{},"Medium":{},"Small":{}}},"{Link}":{"type":"string"},"{Name}":{"type":"string"},"{FilenameWithExtension}":{"type":"string"},"{Path}":{"type":"string"},"{FullPath}":{"type":"string"},"{HasAttachments}":{"type":"boolean"},"{VersionNumber}":{"type":"string"}}}}},"Compose_3":{"runAfter":{"Parse_JSON_2":["Succeeded"]},"metadata":{"operationMetadataId":"73084753-37c7-484b-bb3e-1119556e0184"},"type":"Compose","inputs":"@body('Parse_JSON_2')?['ReservedBy']?['DisplayName']"},"Compose_4":{"runAfter":{"Compose_3":["Succeeded"]},"metadata":{"operationMetadataId":"9e75d97d-ccb2-44d2-a199-fc5b0392aef8"},"type":"Compose","inputs":"@formatDateTime(body('Parse_JSON_2')?['COFHour'], 'HH:mm')"},"Compose_5":{"runAfter":{"Compose_4":["Succeeded"]},"metadata":{"operationMetadataId":"1b2dd223-d4dd-422b-b8f7-fee2327b5be1"},"type":"Compose","inputs":"@formatDateTime(body('Parse_JSON_2')?['COTHour'], 'HH:mm')"}},"runAfter":{"person":["Succeeded"]},"metadata":{"operationMetadataId":"266e0b4e-a4a1-4b1a-b3ee-ed4fc94ed916"},"type":"Foreach"},"filtercriteria":{"runAfter":{"Apply_to_each":["Succeeded"]},"metadata":{"operationMetadataId":"9169788c-9bbf-45b0-b452-d81081a2d727"},"type":"InitializeVariable","inputs":{"variables":[{"name":"desksfilter","type":"string"}]}},"Condition":{"actions":{"Compose":{"runAfter":{},"metadata":{"operationMetadataId":"d2f2a166-f2b1-45f3-baf0-db2d4ae89ca4"},"type":"Compose","inputs":"@substring(variables('desksbooked'), 0, sub(length(variables('desksbooked')), 1))"},"Append_to_string_variable_2":{"runAfter":{"Compose":["Succeeded"]},"metadata":{"operationMetadataId":"22c85687-07a5-4f76-90e5-72682e393bb4"},"type":"AppendToStringVariable","inputs":{"name":"desksfilter","value":"@outputs('Compose')"}},"Compose_2":{"runAfter":{"Append_to_string_variable_2":["Succeeded"]},"metadata":{"operationMetadataId":"64e6842e-11c2-473d-bdab-249fd8a1fcb5"},"type":"Compose","inputs":"@substring(variables('person'), 0, sub(length(variables('person')),1))"},"Set_variable":{"runAfter":{"Compose_2":["Succeeded"]},"metadata":{"operationMetadataId":"2dfafbe2-cf59-44d9-98c1-79bb4be631e0"},"type":"SetVariable","inputs":{"name":"person","value":"@{outputs('Compose_2')}"}}},"runAfter":{"filtercriteria":["Succeeded"]},"expression":{"greater":["@length(variables('desksbooked'))",0]},"metadata":{"operationMetadataId":"1910b1db-e72a-4668-a60d-eeaa055a75cd"},"type":"If"},"person":{"runAfter":{"desksbooked":["Succeeded"]},"metadata":{"operationMetadataId":"050d35cb-3daa-4285-863b-901e430f3019"},"type":"InitializeVariable","inputs":{"variables":[{"name":"person","type":"string"}]}}}}