DeskResv_ClearPastBookings_FlowDef.json
{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"Recurrence":{"recurrence":{"frequency":"Day","interval":1,"timeZone":"GMT Standard Time","startTime":"2021-11-04T01:00:00Z","schedule":{"hours":["2"],"minutes":[0]}},"metadata":{"operationMetadataId":"15a8391e-0322-41ea-83a1-c4152a338d6e"},"type":"Recurrence"}},"actions":{"Get_lists":{"runAfter":{},"metadata":{"operationMetadataId":"e0310d9a-e841-492d-be60-f71ed647dad3"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetTables"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam"},"authentication":"@parameters('$authentication')"}},"Get_Relevant_Lists":{"actions":{"Parse_JSON":{"runAfter":{},"metadata":{"operationMetadataId":"22158fa6-db93-4a38-b199-70f1dff60137"},"type":"ParseJson","inputs":{"content":"@outputs('Get_lists')?['body/value']","schema":{"type":"array","items":{"type":"object","properties":{"Name":{"type":"string"},"DisplayName":{"type":"string"},"Type":{"type":"string"}},"required":["Name","DisplayName","Type"]}}}},"Filter_array":{"runAfter":{"Parse_JSON":["Succeeded"]},"metadata":{"operationMetadataId":"51a982bc-f4d5-4d15-b381-1ab32d64ecc0"},"type":"Query","inputs":{"from":"@body('Parse_JSON')","where":"@startsWith(item()['DisplayName'], 'DeskResv')"}},"Filter_array_2":{"runAfter":{"Filter_array":["Succeeded"]},"metadata":{"operationMetadataId":"59cc9591-8dbc-4fa4-9d1f-1746ca65c9c3"},"type":"Query","inputs":{"from":"@body('Filter_array')","where":"@not(endswith(item()?['DisplayName'], 'Archive'))"}},"Filter_array_3":{"runAfter":{"Filter_array_2":["Succeeded"]},"metadata":{"operationMetadataId":"be06b8d8-7431-4cb2-b0d4-5351c0ed7eef"},"type":"Query","inputs":{"from":"@body('Filter_array_2')","where":"@not(endswith(item()?['DisplayName'], 'Master'))"}}},"runAfter":{"Get_lists":["Succeeded"]},"metadata":{"operationMetadataId":"e9839bf7-48ac-40a5-9095-013fa76a47d7"},"type":"Scope"},"Apply_to_each":{"foreach":"@body('Filter_array_3')","actions":{"Compose":{"runAfter":{},"metadata":{"operationMetadataId":"28d065b1-fdb0-4a76-a345-17a50c4e01d2"},"type":"Compose","inputs":"@items('Apply_to_each')"},"Get_items":{"runAfter":{"Compose":["Succeeded"]},"metadata":{"operationMetadataId":"89bbb75d-169e-4d19-adf2-b34073c0ba8f"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItems"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","table":"@items('Apply_to_each')['DisplayName']","$filter":"CheckOutTo lt '@{addDays(formatDateTime(utcNow()), -2)}'"},"authentication":"@parameters('$authentication')"}},"Apply_to_each_2":{"foreach":"@outputs('Get_items')?['body/value']","actions":{"Compose_2":{"runAfter":{},"metadata":{"operationMetadataId":"85c25893-f80c-4fda-9d99-faa5469c3587"},"type":"Compose","inputs":"@items('Apply_to_each_2')"},"Create_item":{"runAfter":{"Compose_2":["Succeeded"]},"metadata":{"operationMetadataId":"a72055dc-ce00-458d-9e76-7acce946390f"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PostItem"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","table":"46a91460-6aaf-4d2f-be14-9857083db231","item/Title":"@outputs('Compose_2')?['Title']","item/List":"@items('Apply_to_each')?['DisplayName']","item/DeskText":"@outputs('Compose_2')?['DeskText']","item/ReservedBy/Claims":"@outputs('Compose_2')?['ReservedBy']?['Claims']","item/CheckOutFrom":"@outputs('Compose_2')?['CheckOutFrom']","item/COFHour":"@outputs('Compose_2')?['COFHour']","item/CheckOutTo":"@outputs('Compose_2')?['CheckOutTo']","item/COTHour":"@outputs('Compose_2')?['COTHour']","item/GUID0":"@outputs('Compose_2')?['GUID0']"},"authentication":"@parameters('$authentication')"}},"Delete_item":{"runAfter":{"Create_item":["Succeeded"]},"metadata":{"operationMetadataId":"967366a2-9c2d-4e32-8a1e-4cdabc44a4db"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"DeleteItem"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","table":"@items('Apply_to_each')['DisplayName']","id":"@outputs('Compose_2')['ID']"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Compose_3":["Failed"]},"metadata":{"operationMetadataId":"d24b74ee-e457-49dc-8881-9f04e358681a"},"type":"Foreach"},"Compose_3":{"runAfter":{"Get_items":["Succeeded"]},"metadata":{"operationMetadataId":"3add1e5c-a3e5-4b0d-9ec5-03ed189f2e35"},"type":"Compose","inputs":"@items('Apply_to_each')"}},"runAfter":{"Get_Relevant_Lists":["Succeeded"]},"metadata":{"operationMetadataId":"47ef4062-a948-46c1-a0fc-4c1d77332dc1"},"type":"Foreach"},"Get_items_2":{"runAfter":{"Get_Relevant_Lists":["Succeeded"]},"metadata":{"operationMetadataId":"609ad9ec-c198-4748-85ca-585029e183b0"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItems"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","table":"14217e8b-ae91-405e-ae51-0d63a61330eb","$filter":"CheckOutTo lt '@{addDays(formatDateTime(utcNow()), -2)}'"},"authentication":"@parameters('$authentication')"}},"Apply_to_each_3":{"foreach":"@outputs('Get_items_2')?['body/value']","actions":{"Compose_4":{"runAfter":{},"metadata":{"operationMetadataId":"7f72e739-a699-4fe5-b17c-c5b61122b145"},"type":"Compose","inputs":"@items('Apply_to_each_3')"},"Create_item_2":{"runAfter":{"Compose_4":["Succeeded"]},"metadata":{"operationMetadataId":"b77971e2-3d3f-4efc-8cd2-e88f3a895504"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PostItem"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","table":"37c6e7fe-5f38-4da9-8de4-b1049884b76b","item/Title":"@outputs('Compose_4')?['Title']","item/Room":"@outputs('Compose_4')?['Room']","item/DeskText":"@outputs('Compose_4')?['DeskText']","item/ReservedBy/Claims":"@outputs('Compose_4')?['ReservedBy']?['Claims']","item/CheckOutFrom":"@outputs('Compose_4')?['CheckOutFrom']","item/COFHour":"@outputs('Compose_4')?['COFHour']","item/CheckOutTo":"@outputs('Compose_4')?['CheckOutTo']","item/COTHour":"@outputs('Compose_4')?['COTHour']","item/GUID0":"@outputs('Compose_4')?['GUID0']"},"authentication":"@parameters('$authentication')"}},"Delete_item_2":{"runAfter":{"Create_item_2":["Succeeded"]},"metadata":{"operationMetadataId":"17bf5bad-feb1-45ad-8788-1888c6dd53f9"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"DeleteItem"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","table":"14217e8b-ae91-405e-ae51-0d63a61330eb","id":"@outputs('Compose_4')['ID']"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Get_items_2":["Succeeded"]},"metadata":{"operationMetadataId":"02526093-34f7-4f7f-8522-e31a36da66c5"},"type":"Foreach"}}}