Desk Booking Onboarding_FlowDef.json
{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_new_response_is_submitted":{"splitOn":"@triggerOutputs()?['body/value']","metadata":{"operationMetadataId":"5047f762-2fd9-4b42-93b1-882a4d7092ec"},"type":"OpenApiConnectionWebhook","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_microsoftforms","connectionName":"shared_microsoftforms","operationId":"CreateFormWebhook"},"parameters":{"form_id":"MH_ksn3NTkql2rGM8aQVG3r_5Ihls_pKka-oPIYlDNNUMkZUNFhYNTU3MFVYV0pQWVpVSkcyVTFZVy4u"},"authentication":"@parameters('$authentication')"}}},"actions":{"Get_response_details":{"runAfter":{},"metadata":{"operationMetadataId":"d6a9c961-d816-416d-bb1e-f97eda84f75d"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_microsoftforms","connectionName":"shared_microsoftforms","operationId":"GetFormResponseById"},"parameters":{"form_id":"MH_ksn3NTkql2rGM8aQVG3r_5Ihls_pKka-oPIYlDNNUMkZUNFhYNTU3MFVYV0pQWVpVSkcyVTFZVy4u","response_id":"@triggerOutputs()?['body/resourceData/responseId']"},"authentication":"@parameters('$authentication')"}},"Apply_to_each":{"foreach":"@outputs('Compose')","actions":{"Send_an_HTTP_request_to_SharePoint":{"runAfter":{"Compose_2":["Succeeded"]},"metadata":{"operationMetadataId":"c2d04304-1071-4cbd-8f81-4d08f68c0087"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"HttpRequest"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","parameters/method":"POST","parameters/uri":"/_api/Web/SiteGroups/GetByName('PowerApp Readers')/Users","parameters/headers":{"content-type":"application/json;odata=verbose","accept":"application/json;odata=verbose"},"parameters/body":"{\n'__metadata':{'type':'SP.User'},\n'LoginName':'@{outputs('Compose_2')}'\n}"},"authentication":"@parameters('$authentication')"}},"Compose_2":{"runAfter":{"Compose_3":["Succeeded"]},"metadata":{"operationMetadataId":"49e6e683-a01b-433c-b105-a31da5a7f2ae"},"type":"Compose","inputs":"@concat('i:0#.f|membership|', outputs('Compose_3'))"},"Send_an_HTTP_request_to_SharePoint_2":{"runAfter":{"Send_an_HTTP_request_to_SharePoint":["Succeeded"]},"metadata":{"operationMetadataId":"5d8c2cc2-b0cc-44f6-a636-26b423fd3f64"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"HttpRequest"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","parameters/method":"POST","parameters/uri":"/_api/Web/SiteGroups/GetByName('PowerApp Contributors')/Users","parameters/headers":{"content-type":"application/json;odata=verbose","accept":"application/json;odata=verbose"},"parameters/body":"{\n'__metadata':{'type':'SP.User'},\n'LoginName':'@{outputs('Compose_2')}'\n}"},"authentication":"@parameters('$authentication')"}},"Search_for_users_(V2)":{"runAfter":{},"metadata":{"operationMetadataId":"416522af-7f72-4a6d-801e-6e3d0231b8f2"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365users","connectionName":"shared_office365users","operationId":"SearchUserV2"},"parameters":{"searchTerm":"@trim(items('Apply_to_each'))"},"authentication":"@parameters('$authentication')"}},"Compose_3":{"runAfter":{"Compose_4":["Succeeded"]},"metadata":{"operationMetadataId":"3104e8d9-058f-4901-b5bd-efffb9798deb"},"type":"Compose","inputs":"@outputs('Search_for_users_(V2)')?['body/value'][0]?['UserPrincipalName']"},"Condition":{"actions":{"Switch":{"runAfter":{},"cases":{"Case":{"case":"BCI","actions":{"Set_variable":{"runAfter":{},"type":"SetVariable","inputs":{"name":"perLevel","value":"BCI"}}}},"Case_2":{"case":"Professional Services","actions":{"Set_variable_2":{"runAfter":{},"type":"SetVariable","inputs":{"name":"perLevel","value":"Pro_Serv"}}}}},"default":{"actions":{}},"expression":"@outputs('Get_response_details')?['body/r5aeaf09238cb414084287d0fef80ebc1']","metadata":{"operationMetadataId":"a8166a6c-b9d8-480e-82f4-bbe8d5e12ef9"},"type":"Switch"},"Create_item":{"runAfter":{"Switch":["Succeeded"]},"metadata":{"operationMetadataId":"9fc52998-0161-42d0-be3e-f29995205861"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PostItem"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","table":"ec42bc27-4c19-43cb-9657-dbd22b220e37","item/Status/Value":"@variables('perLevel')","item/Name/Claims":"@outputs('Compose_2')"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Send_an_HTTP_request_to_SharePoint_2":["Succeeded"]},"expression":{"greater":["@length(outputs('Get_response_details')?['body/r5aeaf09238cb414084287d0fef80ebc1'])",0]},"metadata":{"operationMetadataId":"24cab57f-6f45-411c-bd9f-1d5e0c131bcb"},"type":"If"},"Edit_App_Role_Assignment":{"runAfter":{"Condition":["Succeeded"]},"metadata":{"operationMetadataId":"84c988aa-1b62-4703-a332-1f809cf06a30"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_powerappsforappmakers","connectionName":"shared_powerappsforappmakers","operationId":"Edit-AppRoleAssignment"},"parameters":{"app":"16782d79-5b1b-46c0-8b70-507851eeab41","api-version":"2016-11-01","$filter":"environment eq 'Univesity of Bristol'","Content-Type":"application/json","body/put":[{"properties/principal/email":"@outputs('Compose_3')","properties/principal/tenantId":"Default-b2e47f30-cd7d-4a4e-a5da-b18cf1a4151b","properties/principal/id":"@outputs('Compose_4')","properties/principal/type":"User","properties/NotifyShareTargetOption":"2","properties/roleName":"CanView"}]},"authentication":"@parameters('$authentication')"}},"Compose_4":{"runAfter":{"Search_for_users_(V2)":["Succeeded"]},"metadata":{"operationMetadataId":"98e3a251-8832-46d1-9596-e2623c6763a4"},"type":"Compose","inputs":"@outputs('Search_for_users_(V2)')?['body/value'][0]?['Id']"}},"runAfter":{"Compose":["Succeeded"]},"metadata":{"operationMetadataId":"2ee7a0e1-bfb5-4b90-a355-66710d53543c"},"type":"Foreach"},"Compose":{"runAfter":{"permission_level":["Succeeded"]},"metadata":{"operationMetadataId":"0dad1c92-fd2b-463b-a525-a9580bf6848b"},"type":"Compose","inputs":"@split(outputs('Get_response_details')?['body/ra2f4ffa2e01c462b95fda7a0161b9901'], ';')"},"permission_level":{"runAfter":{"Get_response_details":["Succeeded"]},"metadata":{"operationMetadataId":"cafea154-830e-4c85-bfbb-1bdffc2de008"},"type":"InitializeVariable","inputs":{"variables":[{"name":"perLevel","type":"string"}]}}}}