DeskResv_GetRoomLists_FlowDef.json
{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"80a78402-8243-491b-be1d-b3d1375d8f88"},"type":"Request","kind":"PowerApp","inputs":{"schema":{"type":"object","properties":{},"required":[]}}}},"actions":{"Get_lists":{"runAfter":{},"metadata":{"operationMetadataId":"354ef2a2-7ace-4d47-9e86-2c2d1d10caac"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetTables"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Initialize_variable":{"runAfter":{"Filter_array":["Succeeded"]},"metadata":{"operationMetadataId":"ee95c0ff-5729-496f-8a83-db66b16dc648"},"type":"InitializeVariable","inputs":{"variables":[{"name":"RoomLists","type":"string"}]}},"Apply_to_each":{"foreach":"@body('Filter_array')","actions":{"Append_to_string_variable":{"runAfter":{},"metadata":{"operationMetadataId":"82630413-815c-4a03-9bb4-8029f38fd54b"},"type":"AppendToStringVariable","inputs":{"name":"RoomLists","value":"@{items('Apply_to_each')?['DisplayName']};"}}},"runAfter":{"Initialize_variable":["Succeeded"]},"metadata":{"operationMetadataId":"236fae32-44a5-4e57-b5c2-b0a69bc657a5"},"type":"Foreach"},"Compose":{"runAfter":{"Apply_to_each":["Succeeded"]},"metadata":{"operationMetadataId":"68de7256-2b84-4e3a-8df5-4a5750ff5fa6"},"type":"Compose","inputs":"@substring(variables('RoomLists'),0,sub(length(variables('RoomLists')),1))"},"Respond_to_a_PowerApp_or_flow":{"runAfter":{"Compose":["Succeeded"]},"metadata":{"operationMetadataId":"dccf9596-385d-44c7-b0f6-a1bd5ac2e5bc"},"type":"Response","kind":"PowerApp","inputs":{"statusCode":200,"body":{"roomlists":"@{outputs('Compose')}"},"schema":{"type":"object","properties":{"roomlists":{"title":"RoomLists","x-ms-dynamically-added":true,"type":"string"}}}}},"Filter_array":{"runAfter":{"Get_lists":["Succeeded"]},"metadata":{"operationMetadataId":"7816a4d6-2b28-4ed4-9901-579ea040de2b"},"type":"Query","inputs":{"from":"@outputs('Get_lists')?['body/value']","where":"@startsWith(item()?['DisplayName'], 'DeskResv')"}}}}