DeskResv_MasterList2_FlowDef.json
{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"fbef15bd-043a-4cb2-893b-eb337ba7e6d8"},"type":"Request","kind":"PowerApp","inputs":{"schema":{"type":"object","properties":{"COFDate_Inputs":{"type":"any","description":"Inputs","x-ms-powerflows-param-ispartial":false},"COFTime_Inputs":{"type":"any","description":"Inputs","x-ms-powerflows-param-ispartial":false},"COTDate_Inputs":{"type":"any","description":"Inputs","x-ms-powerflows-param-ispartial":false},"COTTime_Inputs":{"type":"any","description":"Inputs","x-ms-powerflows-param-ispartial":false},"Title_Inputs":{"type":"any","description":"Inputs","x-ms-powerflows-param-ispartial":false},"Room_Inputs":{"type":"any","description":"Inputs","x-ms-powerflows-param-ispartial":false},"DeskText_Inputs":{"type":"any","description":"Inputs","x-ms-powerflows-param-ispartial":false},"ReservedByClaim_Inputs":{"type":"any","description":"Inputs","x-ms-powerflows-param-ispartial":false},"GUID_Inputs":{"type":"any","description":"Inputs","x-ms-powerflows-param-ispartial":false}},"required":["COFDate_Inputs","COFTime_Inputs","COTDate_Inputs","COTTime_Inputs","Title_Inputs","Room_Inputs","DeskText_Inputs","ReservedByClaim_Inputs","GUID_Inputs"]}}}},"actions":{"Scope":{"actions":{"COFDate":{"runAfter":{},"metadata":{"operationMetadataId":"a01aec1b-1584-46e3-9d12-c446c61213aa"},"type":"Compose","inputs":"@triggerBody()['COFDate_Inputs']"},"COFTime":{"runAfter":{"COFday":["Succeeded"]},"metadata":{"operationMetadataId":"840ff023-e24a-4c7d-ba36-27177fbe0743"},"type":"Compose","inputs":"@triggerBody()['COFTime_Inputs']"},"COTDate":{"runAfter":{"COFTime":["Succeeded"]},"metadata":{"operationMetadataId":"b4974d25-e3c1-4301-b563-24e9244f5cf2"},"type":"Compose","inputs":"@formatDateTime(triggerBody()['COTDate_Inputs'], 'yyyy-MMM-ddTHH:mm:ssZ')"},"COTTime":{"runAfter":{"COTday":["Succeeded"]},"metadata":{"operationMetadataId":"aad8d128-a8de-48e5-942a-89fbf43634bc"},"type":"Compose","inputs":"@triggerBody()['COTTime_Inputs']"},"Title":{"runAfter":{"COTTime":["Succeeded"]},"metadata":{"operationMetadataId":"db893cce-c951-426f-8b1c-ef4866913250"},"type":"Compose","inputs":"@triggerBody()['Title_Inputs']"},"Room":{"runAfter":{"Title":["Succeeded"]},"metadata":{"operationMetadataId":"ae9ce8e4-13a8-444e-88d4-71bfe00cceef"},"type":"Compose","inputs":"@triggerBody()['Room_Inputs']"},"DeskText":{"runAfter":{"Room":["Succeeded"]},"metadata":{"operationMetadataId":"4b398f37-4cf2-4828-8d4b-5b096b2cdced"},"type":"Compose","inputs":"@triggerBody()['DeskText_Inputs']"},"ReservedByClaim":{"runAfter":{"DeskText":["Succeeded"]},"metadata":{"operationMetadataId":"18b8d1aa-3e5e-4486-9c12-69a0b4cbb77f"},"type":"Compose","inputs":"@triggerBody()['ReservedByClaim_Inputs']"},"GUID":{"runAfter":{"ReservedByClaim":["Succeeded"]},"metadata":{"operationMetadataId":"334e55e0-df8e-4885-9ae0-8678655393fd"},"type":"Compose","inputs":"@triggerBody()['GUID_Inputs']"},"SplitCOF":{"runAfter":{"COFDate":["Succeeded"]},"metadata":{"operationMetadataId":"7efeb65e-d3bd-4e6d-809d-33328db015d8"},"type":"Compose","inputs":"@Split(First(split(outputs('COFDate'), 'T')), '-')"},"COFyear":{"runAfter":{"SplitCOF":["Succeeded"]},"metadata":{"operationMetadataId":"f2d2faa3-eb60-44bd-b290-af4f24151e37"},"type":"Compose","inputs":"@outputs('SplitCOF')[0]"},"COFmonth":{"runAfter":{"COFyear":["Succeeded"]},"metadata":{"operationMetadataId":"26a86228-758f-4ee4-8069-018fbdd46688"},"type":"Compose","inputs":"@outputs('SplitCOF')[1]"},"COFday":{"runAfter":{"COFmonth":["Succeeded"]},"metadata":{"operationMetadataId":"9089f41b-96a5-4611-bf92-d6763d9cec21"},"type":"Compose","inputs":"@outputs('SplitCOF')[2]"},"SplitCOT":{"runAfter":{"COTDate":["Succeeded"]},"metadata":{"operationMetadataId":"b3d9afec-75ab-4661-ab84-00ff0f5f9276"},"type":"Compose","inputs":"@Split(First(split(outputs('COTDate'), 'T')), '-')"},"COTyear":{"runAfter":{"SplitCOT":["Succeeded"]},"metadata":{"operationMetadataId":"67b73d63-2f47-49f4-9901-1655684b7058"},"type":"Compose","inputs":"@outputs('SplitCOT')[0]"},"COTmonth":{"runAfter":{"COTyear":["Succeeded"]},"metadata":{"operationMetadataId":"035e4f4b-813e-47c3-b2c5-721d06c46914"},"type":"Compose","inputs":"@outputs('SplitCOF')[1]"},"COTday":{"runAfter":{"COTmonth":["Succeeded"]},"metadata":{"operationMetadataId":"ab14a6f9-5e53-481c-a2f9-69cec8a573a8"},"type":"Compose","inputs":"@outputs('SplitCOT')[2]"}},"runAfter":{},"metadata":{"operationMetadataId":"c22af899-1da1-474a-868f-e1d6c87700d4"},"type":"Scope"},"Create_item":{"runAfter":{"Scope":["Succeeded"]},"metadata":{"operationMetadataId":"bfccef3b-40bf-4dad-a0fb-ed74a6865ba5"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PostItem"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","table":"14217e8b-ae91-405e-ae51-0d63a61330eb","item/Title":"@outputs('Title')","item/Room":"@outputs('Room')","item/DeskText":"@outputs('DeskText')","item/ReservedBy/Claims":"@outputs('ReservedByClaim')","item/CheckOutFrom":"@formatDateTime(concat(outputs('COFyear'), '-', outputs('COFmonth'), '-', outputs('COFday')), 'yyyy-MM-dd')","item/COFHour":"@outputs('COFTime')","item/CheckOutTo":"@formatDateTime(concat(outputs('COTyear'), '-', outputs('COTmonth'), '-', outputs('COTday')), 'yyyy-MM-dd')","item/COTHour":"@outputs('COTTime')","item/GUID0":"@outputs('GUID')"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}}}