DeskResv_ListUpdate_FlowDef.json
{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"466ad170-fb06-4e6c-8802-8d13246efdbf"},"type":"Request","kind":"PowerApp","inputs":{"schema":{"type":"object","properties":{"COFTime_Inputs":{"type":"any","description":"Inputs","x-ms-powerflows-param-ispartial":false},"COTTime_Inputs":{"type":"any","description":"Inputs","x-ms-powerflows-param-ispartial":false},"Title_Inputs":{"type":"any","description":"Inputs","x-ms-powerflows-param-ispartial":false},"Room_Inputs":{"type":"any","description":"Inputs","x-ms-powerflows-param-ispartial":false},"DeskText_Inputs":{"type":"any","description":"Inputs","x-ms-powerflows-param-ispartial":false},"ReservedByClaim_Inputs":{"type":"any","description":"Inputs","x-ms-powerflows-param-ispartial":false},"GUID_Inputs":{"type":"any","description":"Inputs","x-ms-powerflows-param-ispartial":false},"Initializevariable_Value":{"type":"string","description":"Enter initial value","x-ms-powerflows-param-ispartial":false}},"required":["COFTime_Inputs","COTTime_Inputs","Title_Inputs","Room_Inputs","DeskText_Inputs","ReservedByClaim_Inputs","GUID_Inputs","Initializevariable_Value"]}}}},"actions":{"Scope":{"actions":{"COFTime":{"runAfter":{},"metadata":{"operationMetadataId":"3fa663fb-2169-45a1-a6a7-7c45f69445cd"},"type":"Compose","inputs":"@triggerBody()['COFTime_Inputs']"},"COTTime":{"runAfter":{"COFTime":["Succeeded"]},"metadata":{"operationMetadataId":"9ac04cd1-d593-4c51-83b9-d96aec907eff"},"type":"Compose","inputs":"@triggerBody()['COTTime_Inputs']"},"Title":{"runAfter":{"COTTime":["Succeeded"]},"metadata":{"operationMetadataId":"dd383147-478d-450c-b8ee-e3172f39da2e"},"type":"Compose","inputs":"@triggerBody()['Title_Inputs']"},"Room":{"runAfter":{"Title":["Succeeded"]},"metadata":{"operationMetadataId":"605c1e5b-ad3e-4dee-8ea9-db7ae2c327cc"},"type":"Compose","inputs":"@triggerBody()['Room_Inputs']"},"DeskText":{"runAfter":{"Room":["Succeeded"]},"metadata":{"operationMetadataId":"f63c2c11-1c55-47f4-9dad-95c1b82c1c15"},"type":"Compose","inputs":"@triggerBody()['DeskText_Inputs']"},"ReservedByClaim":{"runAfter":{"DeskText":["Succeeded"]},"metadata":{"operationMetadataId":"6849379d-e41b-42c8-93eb-b75902b936ca"},"type":"Compose","inputs":"@triggerBody()['ReservedByClaim_Inputs']"},"GUID":{"runAfter":{"ReservedByClaim":["Succeeded"]},"metadata":{"operationMetadataId":"959bdd4e-e8d5-42df-a3c7-716333c3d185"},"type":"Compose","inputs":"@triggerBody()['GUID_Inputs']"}},"runAfter":{},"metadata":{"operationMetadataId":"bda220a6-d2d5-40cd-8aea-f1f65e99429a"},"type":"Scope"},"Parse_JSON":{"runAfter":{"Initialize_variable_-_AllDate_JSON_string":["Succeeded"]},"metadata":{"operationMetadataId":"7350d6a7-25c0-4031-8165-cb8c915174e4"},"type":"ParseJson","inputs":{"content":"@variables('allDate')","schema":{"type":"array","items":{"type":"object","properties":{"Day":{"type":"string"},"Value":{"type":"integer"},"colEndDate":{"type":"string"},"colStartDate":{"type":"string"}},"required":["Day","Value","colEndDate","colStartDate"]}}}},"Switch":{"runAfter":{"Parse_JSON":["Succeeded"]},"cases":{"0.15B":{"case":"0.15B","actions":{"Apply_to_each_2":{"foreach":"@body('Parse_JSON')","actions":{"Create_item":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PostItem"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","table":"afbea3d5-0352-4610-bb20-65334be674d4","item/Title":"@variables('Title')","item/DeskText":"@variables('DeskText')","item/ReservedBy/Claims":"@variables('ReservedBy')","item/CheckOutFrom":"@formatDateTime(items('Apply_to_each_2')?['colStartDate'], 'yyyy-MM-dd')","item/COFHour":"@variables('COFTime')","item/CheckOutTo":"@formatDateTime(items('Apply_to_each_2')?['colEndDate'], 'yyyy-MM-dd')","item/COTHour":"@variables('COTTime')","item/GUID0":"@variables('GUID')"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}},"runAfter":{},"type":"Foreach"}}},"QB_0.16":{"case":"QB 0.16","actions":{"Apply_to_each":{"foreach":"@body('Parse_JSON')","actions":{"Create_item_2":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PostItem"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","table":"d2a5e9f5-9abc-4bfc-97a6-aab2879c3c4d","item/Title":"@variables('Title')","item/DeskText":"@variables('DeskText')","item/ReservedBy/Claims":"@variables('ReservedBy')","item/CheckOutFrom":"@formatDateTime(items('Apply_to_each')?['colStartDate'], 'yyyy-MM-dd')","item/COFHour":"@variables('COFTime')","item/CheckOutTo":"@formatDateTime(items('Apply_to_each')?['colEndDate'], 'yyyy-MM-dd')","item/COTHour":"@variables('COTTime')","item/GUID0":"@variables('GUID')"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}},"runAfter":{},"type":"Foreach"}}},"0.15_Pod_1":{"case":"0.15 Pod 1","actions":{"Apply_to_each_3":{"foreach":"@body('Parse_JSON')","actions":{"Create_item_3":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PostItem"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","table":"df916be1-8d22-4028-a251-df7e11ce29a5","item/Title":"@variables('Title')","item/DeskText":"@variables('DeskText')","item/ReservedBy/Claims":"@variables('ReservedBy')","item/CheckOutFrom":"@formatDateTime(items('Apply_to_each_3')?['colStartDate'], 'yyyy-MM-dd')","item/COFHour":"@variables('COFTime')","item/CheckOutTo":"@formatDateTime(items('Apply_to_each_3')?['colEndDate'], 'yyyy-MM-dd')","item/COTHour":"@variables('COTTime')","item/GUID0":"@variables('GUID')"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}},"runAfter":{},"type":"Foreach"}}},"0.15_Pod_2":{"case":"0.15 Pod 2","actions":{"Apply_to_each_4":{"foreach":"@body('Parse_JSON')","actions":{"Create_item_4":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PostItem"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","table":"51f48dc8-0d4c-489f-84f0-af86a2b18275","item/Title":"@variables('Title')","item/DeskText":"@variables('DeskText')","item/ReservedBy/Claims":"@variables('ReservedBy')","item/CheckOutFrom":"@formatDateTime(items('Apply_to_each_4')?['colStartDate'], 'yyyy-MM-dd')","item/COFHour":"@variables('COFTime')","item/CheckOutTo":"@formatDateTime(items('Apply_to_each_4')?['colEndDate'], 'yyyy-MM-dd')","item/COTHour":"@variables('COTTime')","item/GUID0":"@variables('GUID')"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}},"runAfter":{},"type":"Foreach"}}},"0.15_Pod_3":{"case":"0.15 Pod 3","actions":{"Apply_to_each_5":{"foreach":"@body('Parse_JSON')","actions":{"Create_item_5":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PostItem"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","table":"6508eaba-2c1c-4add-81ec-ccd08d0fec94","item/Title":"@variables('Title')","item/DeskText":"@variables('DeskText')","item/ReservedBy/Claims":"@variables('ReservedBy')","item/CheckOutFrom":"@formatDateTime(items('Apply_to_each_5')?['colStartDate'], 'yyyy-MM-dd')","item/COFHour":"@variables('COFTime')","item/CheckOutTo":"@formatDateTime(items('Apply_to_each_5')?['colEndDate'], 'yyyy-MM-dd')","item/COTHour":"@variables('COTTime')","item/GUID0":"@variables('GUID')"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}},"runAfter":{},"type":"Foreach"}}},"0.15_Pod_4":{"case":"0.15 Pod 4","actions":{"Apply_to_each_6":{"foreach":"@body('Parse_JSON')","actions":{"Create_item_6":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PostItem"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","table":"d9f66e1b-e2ca-4bbd-a78b-2aeb0a060304","item/Title":"@variables('Title')","item/DeskText":"@variables('DeskText')","item/ReservedBy/Claims":"@variables('ReservedBy')","item/CheckOutFrom":"@formatDateTime(items('Apply_to_each_6')?['colStartDate'], 'yyyy-MM-dd')","item/COFHour":"@variables('COFTime')","item/CheckOutTo":"@formatDateTime(items('Apply_to_each_6')?['colEndDate'], 'yyyy-MM-dd')","item/COTHour":"@variables('COTTime')","item/GUID0":"@variables('GUID')"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}},"runAfter":{},"type":"Foreach"}}},"QB_0.116":{"case":"QB 0.116","actions":{"Apply_to_each_8":{"foreach":"@body('Parse_JSON')","actions":{"Create_item_8":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PostItem"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","table":"afb46eab-96a8-47cc-88cf-ec10f42063ce","item/Title":"@variables('Title')","item/DeskText":"@variables('DeskText')","item/ReservedBy/Claims":"@variables('ReservedBy')","item/CheckOutFrom":"@formatDateTime(items('Apply_to_each_8')?['colStartDate'], 'yyyy-MM-dd')","item/COFHour":"@variables('COFTime')","item/CheckOutTo":"@formatDateTime(items('Apply_to_each_8')?['colEndDate'], 'yyyy-MM-dd')","item/COTHour":"@variables('COTTime')","item/GUID0":"@variables('GUID')"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}},"runAfter":{},"type":"Foreach"}}},"RR-UTC":{"case":"RR-UTC","actions":{"Apply_to_each_9":{"foreach":"@body('Parse_JSON')","actions":{"Create_item_9":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PostItem"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","table":"d212a99b-34d9-4551-899f-ee570b9862f6","item/Title":"@variables('Title')","item/DeskText":"@variables('DeskText')","item/ReservedBy/Claims":"@variables('ReservedBy')","item/CheckOutFrom":"@formatDateTime(items('Apply_to_each_9')?['colStartDate'], 'yyyy-MM-dd')","item/COFHour":"@variables('COFTime')","item/CheckOutTo":"@formatDateTime(items('Apply_to_each_9')?['colEndDate'], 'yyyy-MM-dd')","item/COTHour":"@variables('COTTime')","item/GUID0":"@variables('GUID')"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}},"runAfter":{},"type":"Foreach"}}},"RR-UTC-Annexe":{"case":"RR-UTC-Annexe","actions":{"Apply_to_each_10":{"foreach":"@body('Parse_JSON')","actions":{"Create_item_10":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PostItem"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","table":"b50b9925-8597-43b4-a10e-f270ba7ee3f9","item/Title":"@variables('Title')","item/DeskText":"@variables('DeskText')","item/ReservedBy/Claims":"@variables('ReservedBy')","item/CheckOutFrom":"@formatDateTime(items('Apply_to_each_10')?['colStartDate'], 'yyyy-MM-dd')","item/COFHour":"@variables('COFTime')","item/CheckOutTo":"@formatDateTime(items('Apply_to_each_10')?['colEndDate'], 'yyyy-MM-dd')","item/COTHour":"@variables('COTTime')","item/GUID0":"@variables('GUID')"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}},"runAfter":{},"type":"Foreach"}}},"QB_1.33":{"case":"QB 1.33","actions":{"Apply_to_each_11":{"foreach":"@body('Parse_JSON')","actions":{"Create_item_11":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PostItem"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","table":"1fa435af-c801-430b-bd57-afac980a3a76","item/Title":"@variables('Title')","item/DeskText":"@variables('DeskText')","item/ReservedBy/Claims":"@variables('ReservedBy')","item/CheckOutFrom":"@formatDateTime(items('Apply_to_each_11')?['colStartDate'], 'yyyy-MM-dd')","item/COFHour":"@variables('COFTime')","item/CheckOutTo":"@formatDateTime(items('Apply_to_each_11')?['colEndDate'], 'yyyy-MM-dd')","item/COTHour":"@variables('COTTime')","item/GUID0":"@variables('GUID')"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}},"runAfter":{},"type":"Foreach"}}},"QB_0.36":{"case":"QB 0.36","actions":{"Apply_to_each_12":{"foreach":"@body('Parse_JSON')","actions":{"Create_item_12":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PostItem"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","table":"0d10b9bc-ba4b-4fd5-b851-d89e4d4f56a6","item/Title":"@variables('Title')","item/DeskText":"@variables('DeskText')","item/ReservedBy/Claims":"@variables('ReservedBy')","item/CheckOutFrom":"@formatDateTime(items('Apply_to_each_12')?['colStartDate'], 'yyyy-MM-dd')","item/COFHour":"@variables('COFTime')","item/CheckOutTo":"@formatDateTime(items('Apply_to_each_12')?['colEndDate'], 'yyyy-MM-dd')","item/COTHour":"@variables('COTTime')","item/GUID0":"@variables('GUID')"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}},"runAfter":{},"type":"Foreach"}}},"QB_0.37C":{"case":"QB 0.37C","actions":{"Apply_to_each_13":{"foreach":"@body('Parse_JSON')","actions":{"Create_item_13":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PostItem"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","table":"288d3a0e-b585-4ab8-bc6d-33598183ad8c","item/Title":"@variables('Title')","item/DeskText":"@variables('DeskText')","item/ReservedBy/Claims":"@variables('ReservedBy')","item/CheckOutFrom":"@formatDateTime(items('Apply_to_each_13')?['colStartDate'], 'yyyy-MM-dd')","item/COFHour":"@variables('COFTime')","item/CheckOutTo":"@formatDateTime(items('Apply_to_each_13')?['colEndDate'], 'yyyy-MM-dd')","item/COTHour":"@variables('COTTime')","item/GUID0":"@variables('GUID')"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}},"runAfter":{},"type":"Foreach"}}},"QB_0.68":{"case":"QB 0.68","actions":{"Apply_to_each_14":{"foreach":"@body('Parse_JSON')","actions":{"Create_item_14":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PostItem"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","table":"87cc8595-8c3f-4826-b780-0aae721ebadf","item/Title":"@variables('Title')","item/DeskText":"@variables('DeskText')","item/ReservedBy/Claims":"@variables('ReservedBy')","item/CheckOutFrom":"@formatDateTime(items('Apply_to_each_14')?['colStartDate'], 'yyyy-MM-dd')","item/COFHour":"@variables('COFTime')","item/CheckOutTo":"@formatDateTime(items('Apply_to_each_14')?['colEndDate'], 'yyyy-MM-dd')","item/COTHour":"@variables('COTTime')","item/GUID0":"@variables('GUID')"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}},"runAfter":{},"type":"Foreach"}}},"QB_0.90":{"case":"QB 0.90","actions":{"Apply_to_each_15":{"foreach":"@body('Parse_JSON')","actions":{"Create_item_15":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PostItem"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","table":"005aee1f-b2cb-4993-8cb6-869810df29db","item/Title":"@variables('Title')","item/DeskText":"@variables('DeskText')","item/ReservedBy/Claims":"@variables('ReservedBy')","item/CheckOutFrom":"@formatDateTime(items('Apply_to_each_15')?['colStartDate'], 'yyyy-MM-dd')","item/COFHour":"@variables('COFTime')","item/CheckOutTo":"@formatDateTime(items('Apply_to_each_15')?['colEndDate'], 'yyyy-MM-dd')","item/COTHour":"@variables('COTTime')","item/GUID0":"@variables('GUID')"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}},"runAfter":{},"type":"Foreach"}}},"QB_0.91":{"case":"QB 0.91","actions":{"Apply_to_each_16":{"foreach":"@body('Parse_JSON')","actions":{"Create_item_16":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PostItem"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","table":"fab1aad4-478b-487d-a22e-995e6ce12667","item/Title":"@variables('Title')","item/DeskText":"@variables('DeskText')","item/ReservedBy/Claims":"@variables('ReservedBy')","item/CheckOutFrom":"@formatDateTime(items('Apply_to_each_16')?['colStartDate'], 'yyyy-MM-dd')","item/COFHour":"@variables('COFTime')","item/CheckOutTo":"@formatDateTime(items('Apply_to_each_16')?['colEndDate'], 'yyyy-MM-dd')","item/COTHour":"@variables('COTTime')","item/GUID0":"@variables('GUID')"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}},"runAfter":{},"type":"Foreach"}}},"QB_1.2":{"case":"QB 1.2","actions":{"Apply_to_each_17":{"foreach":"@body('Parse_JSON')","actions":{"Create_item_17":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PostItem"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","table":"7aaffa37-6444-4e26-9b81-88959cfc2c05","item/Title":"@variables('Title')","item/DeskText":"@variables('DeskText')","item/ReservedBy/Claims":"@variables('ReservedBy')","item/CheckOutFrom":"@formatDateTime(items('Apply_to_each_17')?['colStartDate'], 'yyyy-MM-dd')","item/COFHour":"@variables('COFTime')","item/CheckOutTo":"@formatDateTime(items('Apply_to_each_17')?['colEndDate'], 'yyyy-MM-dd')","item/COTHour":"@variables('COTTime')","item/GUID0":"@variables('GUID')"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}},"runAfter":{},"type":"Foreach"}}},"QB_1.65":{"case":"QB 1.65","actions":{"Apply_to_each_18":{"foreach":"@body('Parse_JSON')","actions":{"Create_item_18":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PostItem"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","table":"8f272585-c873-45dc-8fff-75f199e5a6c5","item/Title":"@variables('Title')","item/DeskText":"@variables('DeskText')","item/ReservedBy/Claims":"@variables('ReservedBy')","item/CheckOutFrom":"@formatDateTime(items('Apply_to_each_18')?['colStartDate'], 'yyyy-MM-dd')","item/COFHour":"@variables('COFTime')","item/CheckOutTo":"@formatDateTime(items('Apply_to_each_18')?['colEndDate'], 'yyyy-MM-dd')","item/COTHour":"@variables('COTTime')","item/GUID0":"@variables('GUID')"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}},"runAfter":{},"type":"Foreach"}}},"QB_1.67":{"case":"QB 1.67","actions":{"Apply_to_each_19":{"foreach":"@body('Parse_JSON')","actions":{"Create_item_19":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PostItem"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","table":"b7c2a2ec-e9f8-4390-aa45-4b4f997fb55c","item/Title":"@variables('Title')","item/DeskText":"@variables('DeskText')","item/ReservedBy/Claims":"@variables('ReservedBy')","item/CheckOutFrom":"@formatDateTime(items('Apply_to_each_19')?['colStartDate'], 'yyyy-MM-dd')","item/COFHour":"@variables('COFTime')","item/CheckOutTo":"@formatDateTime(items('Apply_to_each_19')?['colEndDate'], 'yyyy-MM-dd')","item/COTHour":"@variables('COTTime')","item/GUID0":"@variables('GUID')"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}},"runAfter":{},"type":"Foreach"}}},"QB_1.80":{"case":"QB 1.80","actions":{"Apply_to_each_20":{"foreach":"@body('Parse_JSON')","actions":{"Create_item_20":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PostItem"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","table":"d48d1ea8-de60-4ace-bfc8-91351e810048","item/Title":"@variables('Title')","item/DeskText":"@variables('DeskText')","item/ReservedBy/Claims":"@variables('ReservedBy')","item/CheckOutFrom":"@formatDateTime(items('Apply_to_each_20')?['colStartDate'], 'yyyy-MM-dd')","item/COFHour":"@variables('COFTime')","item/CheckOutTo":"@formatDateTime(items('Apply_to_each_20')?['colEndDate'], 'yyyy-MM-dd')","item/COTHour":"@variables('COTTime')","item/GUID0":"@variables('GUID')"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}},"runAfter":{},"type":"Foreach"}}},"QB_1.90":{"case":"QB 1.90","actions":{"Apply_to_each_21":{"foreach":"@body('Parse_JSON')","actions":{"Create_item_21":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PostItem"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","table":"28ed8cd1-97f1-4c7a-bd1e-bda3a6d5e1d7","item/Title":"@variables('Title')","item/DeskText":"@variables('DeskText')","item/ReservedBy/Claims":"@variables('ReservedBy')","item/CheckOutFrom":"@formatDateTime(items('Apply_to_each_21')?['colStartDate'], 'yyyy-MM-dd')","item/COFHour":"@variables('COFTime')","item/CheckOutTo":"@formatDateTime(items('Apply_to_each_21')?['colEndDate'], 'yyyy-MM-dd')","item/COTHour":"@variables('COTTime')","item/GUID0":"@variables('GUID')"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}},"runAfter":{},"type":"Foreach"}}},"QB_2.8":{"case":"QB 2.8","actions":{"Apply_to_each_22":{"foreach":"@body('Parse_JSON')","actions":{"Create_item_22":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PostItem"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","table":"5b2b9f55-4933-4ea5-a8a1-91ffc82b87fa","item/Title":"@variables('Title')","item/DeskText":"@variables('DeskText')","item/ReservedBy/Claims":"@variables('ReservedBy')","item/CheckOutFrom":"@formatDateTime(items('Apply_to_each_22')?['colStartDate'], 'yyyy-MM-dd')","item/COFHour":"@variables('COFTime')","item/CheckOutTo":"@formatDateTime(items('Apply_to_each_22')?['colEndDate'], 'yyyy-MM-dd')","item/COTHour":"@variables('COTTime')","item/GUID0":"@variables('GUID')"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}},"runAfter":{},"type":"Foreach"}}},"QB_2.11":{"case":"QB 2.11","actions":{"Apply_to_each_23":{"foreach":"@body('Parse_JSON')","actions":{"Create_item_23":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PostItem"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","table":"3d15a1f3-619d-4d53-810e-499c4ae84724","item/Title":"@variables('Title')","item/DeskText":"@variables('DeskText')","item/ReservedBy/Claims":"@variables('ReservedBy')","item/CheckOutFrom":"@formatDateTime(items('Apply_to_each_23')?['colStartDate'], 'yyyy-MM-dd')","item/COFHour":"@variables('COFTime')","item/CheckOutTo":"@formatDateTime(items('Apply_to_each_23')?['colEndDate'], 'yyyy-MM-dd')","item/COTHour":"@variables('COTTime')","item/GUID0":"@variables('GUID')"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}},"runAfter":{},"type":"Foreach"}}},"QB_2.80":{"case":"QB 2.80","actions":{"Apply_to_each_24":{"foreach":"@body('Parse_JSON')","actions":{"Create_item_24":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PostItem"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","table":"3d15a1f3-619d-4d53-810e-499c4ae84724","item/Title":"@variables('Title')","item/DeskText":"@variables('DeskText')","item/ReservedBy/Claims":"@variables('ReservedBy')","item/CheckOutFrom":"@formatDateTime(items('Apply_to_each_24')?['colStartDate'], 'yyyy-MM-dd')","item/COFHour":"@variables('COFTime')","item/CheckOutTo":"@formatDateTime(items('Apply_to_each_24')?['colEndDate'], 'yyyy-MM-dd')","item/COTHour":"@variables('COTTime')","item/GUID0":"@variables('GUID')"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}},"runAfter":{},"type":"Foreach"}}},"QB_1.10":{"case":"QB 1.10","actions":{"Apply_to_each_25":{"foreach":"@body('Parse_JSON')","actions":{"Create_item_25":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PostItem"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","table":"e8c6fc1d-8bff-4566-a37d-27ec8f1ef126","item/Title":"@variables('Title')","item/DeskText":"@variables('DeskText')","item/ReservedBy/Claims":"@variables('ReservedBy')","item/CheckOutFrom":"@formatDateTime(items('Apply_to_each_25')?['colStartDate'], 'yyyy-MM-dd')","item/COFHour":"@variables('COFTime')","item/CheckOutTo":"@formatDateTime(items('Apply_to_each_25')?['colEndDate'], 'yyyy-MM-dd')","item/COTHour":"@variables('COTTime')","item/GUID0":"@variables('GUID')"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}},"runAfter":{},"type":"Foreach"}}},"QB_BCI_Zone_1":{"case":"QB BCI_Zone_1","actions":{"Apply_to_each_26":{"foreach":"@body('Parse_JSON')","actions":{"Create_item_26":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PostItem"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","table":"9d62fc20-9e36-4b19-a377-a32b9edce30f","item/Title":"@variables('Title')","item/DeskText":"@variables('DeskText')","item/ReservedBy/Claims":"@variables('ReservedBy')","item/CheckOutFrom":"@formatDateTime(items('Apply_to_each_26')?['colStartDate'], 'yyyy-MM-dd')","item/COFHour":"@variables('COFTime')","item/CheckOutTo":"@formatDateTime(items('Apply_to_each_26')?['colEndDate'], 'yyyy-MM-dd')","item/COTHour":"@variables('COTTime')","item/GUID0":"@variables('GUID')"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}},"runAfter":{},"type":"Foreach"}}}},"default":{"actions":{"Condition":{"actions":{"Apply_to_each_7":{"foreach":"@body('Parse_JSON')","actions":{"Create_item_7":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PostItem"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","table":"73953fe3-d43d-461c-9e06-47b26c91c767","item/Title":"@variables('Title')","item/DeskText":"@variables('DeskText')","item/ReservedBy/Claims":"@variables('ReservedBy')","item/CheckOutFrom":"@formatDateTime(items('Apply_to_each_7')?['colStartDate'], 'yyyy-MM-dd')","item/COFHour":"@variables('COFTime')","item/CheckOutTo":"@formatDateTime(items('Apply_to_each_7')?['colEndDate'], 'yyyy-MM-dd')","item/COTHour":"@variables('COTTime')","item/GUID0":"@variables('GUID')"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}},"runAfter":{},"type":"Foreach"}},"runAfter":{},"else":{"actions":{"Condition_2":{"actions":{"Apply_to_each_27":{"foreach":"@body('Parse_JSON')","actions":{"Create_item_27":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PostItem"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","table":"73028649-7bd8-489e-9863-ab62338ceb12","item/Title":"@variables('Title')","item/DeskText":"@variables('DeskText')","item/ReservedBy/Claims":"@variables('ReservedBy')","item/CheckOutFrom":"@formatDateTime(items('Apply_to_each_27')?['colStartDate'], 'yyyy-MM-dd')","item/COFHour":"@variables('COFTime')","item/CheckOutTo":"@formatDateTime(items('Apply_to_each_27')?['colEndDate'], 'yyyy-MM-dd')","item/COTHour":"@variables('COTTime')","item/GUID0":"@variables('GUID')"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}},"runAfter":{},"type":"Foreach"}},"runAfter":{},"else":{"actions":{"Condition_3":{"actions":{"Apply_to_each_28":{"foreach":"@body('Parse_JSON')","actions":{"Create_item_28":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PostItem"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","table":"ee04eadc-c36f-4d84-9c51-39fc036525f9","item/Title":"@variables('Title')","item/DeskText":"@variables('DeskText')","item/ReservedBy/Claims":"@variables('ReservedBy')","item/CheckOutFrom":"@formatDateTime(items('Apply_to_each_28')?['colStartDate'], 'yyyy-MM-dd')","item/COFHour":"@variables('COFTime')","item/CheckOutTo":"@formatDateTime(items('Apply_to_each_28')?['colEndDate'], 'yyyy-MM-dd')","item/COTHour":"@variables('COTTime')","item/GUID0":"@variables('GUID')"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}},"runAfter":{},"type":"Foreach"}},"runAfter":{},"else":{"actions":{"Condition_4":{"actions":{"Apply_to_each_29":{"foreach":"@body('Parse_JSON')","actions":{"Create_item_29":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PostItem"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","table":"eac7c569-9d5c-46d4-ba4b-cebd5f21e5f7","item/Title":"@variables('Title')","item/DeskText":"@variables('DeskText')","item/ReservedBy/Claims":"@variables('ReservedBy')","item/CheckOutFrom":"@formatDateTime(items('Apply_to_each_29')?['colStartDate'], 'yyyy-MM-dd')","item/COFHour":"@variables('COFTime')","item/CheckOutTo":"@formatDateTime(items('Apply_to_each_29')?['colEndDate'], 'yyyy-MM-dd')","item/COTHour":"@variables('COTTime')","item/GUID0":"@variables('GUID')"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}},"runAfter":{},"type":"Foreach"}},"runAfter":{},"else":{"actions":{"Condition_5":{"actions":{"Apply_to_each_30":{"foreach":"@body('Parse_JSON')","actions":{"Create_item_30":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PostItem"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","table":"b773ed31-d929-49d6-a909-f88831d60a71","item/Title":"@variables('Title')","item/DeskText":"@variables('DeskText')","item/ReservedBy/Claims":"@variables('ReservedBy')","item/CheckOutFrom":"@formatDateTime(items('Apply_to_each_30')?['colStartDate'], 'yyyy-MM-dd')","item/COFHour":"@variables('COFTime')","item/CheckOutTo":"@formatDateTime(items('Apply_to_each_30')?['colEndDate'], 'yyyy-MM-dd')","item/COTHour":"@variables('COTTime')","item/GUID0":"@variables('GUID')"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}},"runAfter":{},"type":"Foreach"}},"runAfter":{},"expression":{"equals":["@triggerBody()['Room_Inputs']","QB 0.40"]},"type":"If"}}},"expression":{"equals":["@triggerBody()['Room_Inputs']","93_95_Woodland_Road"]},"type":"If"}}},"expression":{"equals":["@triggerBody()['Room_Inputs']","QB 0.65"]},"type":"If"}}},"expression":{"equals":["@triggerBody()['Room_Inputs']","QB BCI_Main_Office_Zone_2"]},"type":"If"}}},"expression":{"equals":["@triggerBody()['Room_Inputs']","QB BCI_Main_Office_Zone_3"]},"type":"If"}}},"expression":"@triggerBody()['Room_Inputs']","metadata":{"operationMetadataId":"20618ce2-21cf-44fb-b508-376f6a5102aa"},"type":"Switch"},"Initialize_variable_-_AllDate_JSON_string":{"runAfter":{"varReservedBy":["Succeeded"]},"metadata":{"operationMetadataId":"c26f16e1-67c3-4ed0-a13c-74cd07726e14"},"type":"InitializeVariable","inputs":{"variables":[{"name":"allDate","type":"string","value":"@{triggerBody()['Initializevariable_Value']}"}]}},"varTitle":{"runAfter":{"Scope":["Succeeded"]},"metadata":{"operationMetadataId":"a8c2e490-7098-4007-a305-98cda39f07e3"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Title","type":"string","value":"@{outputs('Title')}"}]}},"varDeskText":{"runAfter":{"varTitle":["Succeeded"]},"metadata":{"operationMetadataId":"c7363491-5b72-4147-8278-e42ffdee56eb"},"type":"InitializeVariable","inputs":{"variables":[{"name":"DeskText","type":"string","value":"@{outputs('DeskText')}"}]}},"varCOFTime":{"runAfter":{"varDeskText":["Succeeded"]},"metadata":{"operationMetadataId":"3004f8ef-477f-4c11-9445-8bc52702dff5"},"type":"InitializeVariable","inputs":{"variables":[{"name":"COFTime","type":"string","value":"@{outputs('COFTime')}"}]}},"varCOTTIme":{"runAfter":{"varCOFTime":["Succeeded"]},"metadata":{"operationMetadataId":"fce62db7-e64e-4589-b1b7-640d08a06f64"},"type":"InitializeVariable","inputs":{"variables":[{"name":"COTTime","type":"string","value":"@{outputs('COTTime')}"}]}},"varGUID":{"runAfter":{"varCOTTIme":["Succeeded"]},"metadata":{"operationMetadataId":"be408426-27e6-4fb3-a9b3-81e93db761cd"},"type":"InitializeVariable","inputs":{"variables":[{"name":"GUID","type":"string","value":"@{outputs('GUID')}"}]}},"varReservedBy":{"runAfter":{"varGUID":["Succeeded"]},"metadata":{"operationMetadataId":"6bbc6a85-d6e8-4cd0-b21d-0ad95af2a06b"},"type":"InitializeVariable","inputs":{"variables":[{"name":"ReservedBy","type":"string","value":"@{outputs('ReservedByClaim')}"}]}}}}