Heavy & light Booking request_FlowDef.json
{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_new_response_is_submitted":{"splitOn":"@triggerOutputs()?['body/value']","metadata":{"operationMetadataId":"dbed88a2-1d98-47b2-9306-41020e1b9841"},"type":"OpenApiConnectionWebhook","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_microsoftforms","connectionName":"shared_microsoftforms","operationId":"CreateFormWebhook"},"parameters":{"form_id":"MH_ksn3NTkql2rGM8aQVG54FkNnj11ZKkgBvA9WlZSdURVk2QjRMRlE4VU1UWElCRFZRQUkwTTVIMS4u"},"authentication":"@parameters('$authentication')"}}},"actions":{"Get_response_details":{"runAfter":{},"metadata":{"operationMetadataId":"1bf472db-1d13-4ccf-89eb-636afcbff049"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_microsoftforms","connectionName":"shared_microsoftforms","operationId":"GetFormResponseById"},"parameters":{"form_id":"MH_ksn3NTkql2rGM8aQVG54FkNnj11ZKkgBvA9WlZSdURVk2QjRMRlE4VU1UWElCRFZRQUkwTTVIMS4u","response_id":"@triggerOutputs()?['body/resourceData/responseId']"},"authentication":"@parameters('$authentication')"}},"Initialize_variable":{"runAfter":{"Get_response_details":["Succeeded"]},"metadata":{"operationMetadataId":"7b1e4cd1-75bb-4184-8535-5414c8890505"},"type":"InitializeVariable","inputs":{"variables":[{"name":"response","type":"array"}]}},"Scope_2":{"actions":{"Scope":{"actions":{"Append_to_array_variable":{"runAfter":{},"metadata":{"operationMetadataId":"03dc49f2-62b7-40c6-b638-fd4f57fdcc8b"},"type":"AppendToArrayVariable","inputs":{"name":"response","value":{"Field":"Name","Value":"@outputs('Get_response_details')?['body/r9ce6f515173e4d93aa5c5f305826aa67']"}}},"Append_to_array_variable_2":{"runAfter":{"Append_to_array_variable":["Succeeded"]},"metadata":{"operationMetadataId":"e862e706-7c6d-429c-8c44-ee1552eb2d7f"},"type":"AppendToArrayVariable","inputs":{"name":"response","value":{"Field":"email","Value":"@outputs('Get_response_details')?['body/ra52386120cf94d6080a8b05594c012e2']"}}},"Append_to_array_variable_3":{"runAfter":{"Append_to_array_variable_2":["Succeeded"]},"metadata":{"operationMetadataId":"f663fa5b-b2bc-49ba-9c48-0c944bb26457"},"type":"AppendToArrayVariable","inputs":{"name":"response","value":{"Field":"Phone","Value":"@outputs('Get_response_details')?['body/r4a7add85fb174da883decd524bd82912']"}}},"Append_to_array_variable_4":{"runAfter":{"Append_to_array_variable_3":["Succeeded"]},"metadata":{"operationMetadataId":"c6dc2d37-f7b7-46f5-8e43-d032dff510f7"},"type":"AppendToArrayVariable","inputs":{"name":"response","value":{"Field":"Research Group","Value":"@outputs('Get_response_details')?['body/r3f81d488880647758f5d8294a697a3c7']"}}},"Append_to_array_variable_5":{"runAfter":{"Append_to_array_variable_4":["Succeeded"]},"metadata":{"operationMetadataId":"3429e0fd-c73b-40e9-8acb-0f8ad2a53d84"},"type":"AppendToArrayVariable","inputs":{"name":"response","value":{"Field":"Date Machine Required","Value":"@outputs('Get_response_details')?['body/rb4c96f0a98de4fecb3d2627226dce6b7']"}}},"Append_to_array_variable_6":{"runAfter":{"Append_to_array_variable_5":["Succeeded"]},"metadata":{"operationMetadataId":"c4412663-53d5-4737-ac3c-17c87a723225"},"type":"AppendToArrayVariable","inputs":{"name":"response","value":{"Field":"Length of Booking","Value":"@outputs('Get_response_details')?['body/rd8afca61af6f44e28e158f5d2e3f616a']"}}},"Append_to_array_variable_7":{"runAfter":{"Append_to_array_variable_6":["Succeeded"]},"metadata":{"operationMetadataId":"bcf41000-67b9-4b60-a4b3-c9c8d4986b8e"},"type":"AppendToArrayVariable","inputs":{"name":"response","value":{"Field":"Name / Number of Machine","Value":"@outputs('Get_response_details')?['body/rc8fd0c8de47142dcb0d3118e645ce83d']"}}},"Append_to_array_variable_8":{"runAfter":{"Append_to_array_variable_7":["Succeeded"]},"metadata":{"operationMetadataId":"1af9e522-a6fb-4691-a7ae-642b9c5d4a32"},"type":"AppendToArrayVariable","inputs":{"name":"response","value":{"Field":"Type of Test","Value":"@outputs('Get_response_details')?['body/r5e0bf79d72f8473bb71c2f07346cffdb']"}}},"Append_to_array_variable_9":{"runAfter":{"Append_to_array_variable_8":["Succeeded"]},"metadata":{"operationMetadataId":"7f239b11-03fc-4d9b-aa50-d6641ec5b568"},"type":"AppendToArrayVariable","inputs":{"name":"response","value":{"Field":"Grip Choice","Value":"@outputs('Get_response_details')?['body/rc10a30386191445ba3f5f7d78870e3bc']"}}},"Append_to_array_variable_10":{"runAfter":{"Append_to_array_variable_9":["Succeeded"]},"metadata":{"operationMetadataId":"b4487220-4486-4a0f-aed3-63746af4b69f"},"type":"AppendToArrayVariable","inputs":{"name":"response","value":{"Field":"Load Cell Capacity","Value":"@outputs('Get_response_details')?['body/r2bace948caf94953933fd3de3ea6c5b7']"}}},"Append_to_array_variable_11":{"runAfter":{"Append_to_array_variable_10":["Succeeded"]},"metadata":{"operationMetadataId":"00a9020a-8ff4-41fc-809f-484967d095af"},"type":"AppendToArrayVariable","inputs":{"name":"response","value":{"Field":"Grip Orientation","Value":"@outputs('Get_response_details')?['body/raca680a3dc504e9c8bcddeb5b786357a']"}}},"Append_to_array_variable_12":{"runAfter":{"Append_to_array_variable_11":["Succeeded"]},"metadata":{"operationMetadataId":"648bccfd-aff5-4a3e-8287-1edb75df34b4"},"type":"AppendToArrayVariable","inputs":{"name":"response","value":{"Field":"Jaw Size","Value":"@outputs('Get_response_details')?['body/rcc6a42deeac945df9b9c752eb95162b4']"}}},"Append_to_array_variable_13":{"runAfter":{"Append_to_array_variable_12":["Succeeded"]},"metadata":{"operationMetadataId":"5d941261-e9f6-4851-9b86-6b7b36a9ab56"},"type":"AppendToArrayVariable","inputs":{"name":"response","value":{"Field":"Type","Value":"@outputs('Get_response_details')?['body/rca262d142d3a40efa2e95a7c79d0aed1']"}}},"Append_to_array_variable_14":{"runAfter":{"Append_to_array_variable_13":["Succeeded"]},"metadata":{"operationMetadataId":"d010a3b1-8006-4ed3-9171-a7c61aa9728e"},"type":"AppendToArrayVariable","inputs":{"name":"response","value":{"Field":"Number of Grips","Value":"@outputs('Get_response_details')?['body/rd49b6422ae8a4576bda8c43f92cd8701']"}}},"Append_to_array_variable_15":{"runAfter":{"Append_to_array_variable_14":["Succeeded"]},"metadata":{"operationMetadataId":"71a97afb-0ebc-4273-bdce-fc1fd4d80068"},"type":"AppendToArrayVariable","inputs":{"name":"response","value":{"Field":"Crosshead Height","Value":"@outputs('Get_response_details')?['body/r08c3500c58bf4325999d8b578e982922']"}}},"Append_to_array_variable_16":{"runAfter":{"Append_to_array_variable_15":["Succeeded"]},"metadata":{"operationMetadataId":"ca99a676-437c-443b-9106-6c207425f438"},"type":"AppendToArrayVariable","inputs":{"name":"response","value":{"Field":"Do you require machine training?","Value":"@outputs('Get_response_details')?['body/r1c4c154ecf354f8c921a48b2a5e56dc7']"}}},"Append_to_array_variable_17":{"runAfter":{"Append_to_array_variable_16":["Succeeded"]},"metadata":{"operationMetadataId":"fa257aa8-dc4d-4594-9e09-04fcc2b9f5cd"},"type":"AppendToArrayVariable","inputs":{"name":"response","value":{"Field":"Datalogger required? / Channels?","Value":"@outputs('Get_response_details')?['body/r2097ac1a455e4333a204d1d8d15d5306']"}}},"Condition_2":{"actions":{"Append_to_array_variable_18_-_without_drawing":{"runAfter":{},"metadata":{"operationMetadataId":"71f0e87c-fcb5-4f62-85d8-756880554e78"},"type":"AppendToArrayVariable","inputs":{"name":"response","value":{"Field":"Drawing Upload","Value":"@string('No drawing uploaded')"}}}},"runAfter":{"Append_to_array_variable_21":["Succeeded"]},"else":{"actions":{"Apply_to_each_2":{"foreach":"@body('Parse_JSON')","actions":{"Append_to_array_variable_18_-_with_drawing":{"runAfter":{},"metadata":{"operationMetadataId":"c5f3e75d-5dd8-4ad4-98e9-23194afe92c6"},"type":"AppendToArrayVariable","inputs":{"name":"response","value":{"Field":"Drawing Upload","Value":"@items('Apply_to_each_2')['link']"}}}},"runAfter":{"Parse_JSON":["Succeeded"]},"metadata":{"operationMetadataId":"9f04acf3-505f-4ffc-996b-ed6ea22dd058"},"type":"Foreach"},"Parse_JSON":{"runAfter":{},"metadata":{"operationMetadataId":"08ddd0e5-50ee-4f97-88f7-f9249686c117"},"type":"ParseJson","inputs":{"content":"@outputs('Get_response_details')?['body/r9de715f9a0b942b19bdb6d60bb80eb8c']","schema":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"link":{"type":"string"},"id":{"type":"string"},"type":{},"size":{"type":"integer"},"referenceId":{"type":"string"},"driveId":{"type":"string"},"status":{"type":"integer"},"uploadSessionUrl":{}},"required":["name","link","id","type","size","referenceId","driveId","status","uploadSessionUrl"]}}}}}},"expression":{"equals":["@empty(outputs('Get_response_details')?['body/r9de715f9a0b942b19bdb6d60bb80eb8c'])",true]},"metadata":{"operationMetadataId":"5843c47a-039b-4b56-b20f-f204ae09d38d"},"type":"If"},"Condition_3":{"actions":{"Append_to_array_variable_19_-_without_comments":{"runAfter":{},"metadata":{"operationMetadataId":"07aa9d83-5710-4eb4-a2b0-35a04b45df43"},"type":"AppendToArrayVariable","inputs":{"name":"response","value":{"Field":"Other details/requests","Value":"@string('n/a')"}}}},"runAfter":{"Condition_2":["Succeeded"]},"else":{"actions":{"Append_to_array_variable_19_-_with_comments":{"runAfter":{},"metadata":{"operationMetadataId":"966060e5-43b7-423b-b7b9-86ac4a5ecd54"},"type":"AppendToArrayVariable","inputs":{"name":"response","value":{"Field":"Other details/requests","Value":"@outputs('Get_response_details')?['body/r3f796bb2611a4dbdb8441717e310578d']"}}}}},"expression":{"equals":["@empty(outputs('Get_response_details')?['body/r3f796bb2611a4dbdb8441717e310578d'])",true]},"metadata":{"operationMetadataId":"bd612c5e-f863-43c2-8d2c-5bd0fee9dc5a"},"type":"If"},"Append_to_array_variable_18":{"runAfter":{"Append_to_array_variable_17":["Succeeded"]},"metadata":{"operationMetadataId":"6d7e4238-d0c0-42c8-9565-62e9e8bd4f77"},"type":"AppendToArrayVariable","inputs":{"name":"response","value":{"Field":"Risk Assessment acknowledgement?","Value":"@outputs('Get_response_details')?['body/rd0f0eb952cac47f5932f4cd1f90035bf']"}}},"Append_to_array_variable_19":{"runAfter":{"Append_to_array_variable_18":["Succeeded"]},"metadata":{"operationMetadataId":"9c581aa5-bd51-41c2-9694-dac56acf583d"},"type":"AppendToArrayVariable","inputs":{"name":"response","value":{"Field":"User Status","Value":"@outputs('Get_response_details')?['body/r82ee161638394c18a184b89c5dc94988']"}}},"Append_to_array_variable_20":{"runAfter":{"Append_to_array_variable_19":["Succeeded"]},"metadata":{"operationMetadataId":"820640e3-c8dd-463a-ba01-3271f13d1fc7"},"type":"AppendToArrayVariable","inputs":{"name":"response","value":{"Field":"UG Unit Code","Value":"@outputs('Get_response_details')?['body/r54940444fb4b44e8bd94ebdaf3931512']"}}},"Append_to_array_variable_21":{"runAfter":{"Append_to_array_variable_20":["Succeeded"]},"metadata":{"operationMetadataId":"0b80845a-93a1-4dd3-8934-7de8febd472f"},"type":"AppendToArrayVariable","inputs":{"name":"response","value":{"Field":"Machine or Technician","Value":"@outputs('Get_response_details')?['body/r59e745fbfa1a4f61ad74e7477a7a23b8']"}}}},"runAfter":{},"metadata":{"operationMetadataId":"528e3a78-b879-477d-a9ec-d6617dfb300f"},"type":"Scope"},"Create_HTML_table":{"runAfter":{"Scope":["Succeeded"]},"metadata":{"operationMetadataId":"5c159071-6b2f-4fff-ad99-ce212a20630a"},"type":"Table","inputs":{"from":"@variables('response')","format":"HTML"}},"Compose":{"runAfter":{"Create_HTML_table":["Succeeded"]},"metadata":{"operationMetadataId":"8d9d235c-4387-40e5-9cdc-4b207ffe4487"},"type":"Compose","inputs":"<style>\ntable {\n  border: 1px solid #000000;\n  background-color: #ffffff;\n  width: 100%;\n  text-align: left;\n  border-collapse: collapse;\n}\ntable td, table th {\n  border: 1px solid #000000;\n  padding: 3px 2px;\n}\ntable tbody td {\n  font-size: 13px;\n}\ntable thead {\n  background: #000000;\n  border-bottom: 2px solid #000000;\n}\ntable thead th {\n  font-size: 15px;\n  font-weight: bold;\n  color: #000000;\n  border-left: 2px solid #000000;\n}\ntable thead th:first-child {\n  border-left: none;\n}\n</style>\n@{body('Create_HTML_table')}"},"Create_file":{"runAfter":{"Compose":["Succeeded"]},"metadata":{"operationMetadataId":"6cd77bb8-6ce1-4d31-a108-6d737ab986a7"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","connectionName":"shared_onedriveforbusiness","operationId":"CreateFile"},"parameters":{"folderPath":"/PowerApps/Flows/Heavy & Light Bookings","name":"@{concat(string(outputs('Get_response_details')?['body/r9ce6f515173e4d93aa5c5f305826aa67']), '_', string(outputs('Get_response_details')?['body/rc8fd0c8de47142dcb0d3118e645ce83d']), '_', string(outputs('Get_response_details')?['body/rb4c96f0a98de4fecb3d2627226dce6b7']))}.html","body":"@outputs('Compose')"},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}},"Convert_HTML_to_PDF":{"runAfter":{"Create_file":["Succeeded"]},"metadata":{"operationMetadataId":"5f9878c1-dfc9-4c91-93b0-b21c959c75a9"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_encodiandocumentmanager","connectionName":"shared_encodiandocumentmanager","operationId":"HtmlToPDF"},"parameters":{"operation/outputFilename":"@outputs('Create_file')?['body/Name']","operation/fileContent":"@outputs('Compose')","operation/pageOrientation":"Landscape","operation/pageSize":"A4","operation/viewPort":"Default","operation/MarginTop":25,"operation/MarginBottom":25,"operation/MarginRight":25,"operation/MarginLeft":25,"operation/enableBookmarks":true,"operation/enableJavaScript":true,"operation/enableHyperlinks":true,"operation/createPdfForm":false,"operation/decodeHtmlData":true,"operation/cssType":"Screen","operation/repeatTableHeader":true,"operation/repeatTableFooter":true,"operation/splitImages":false,"operation/splitTextLines":false,"operation/delay":5000,"operation/FinalOperation":true},"authentication":"@parameters('$authentication')"}},"Create_file_3":{"runAfter":{"Convert_HTML_to_PDF":["Succeeded"]},"metadata":{"operationMetadataId":"92514091-8730-4973-876c-bf4179af4a3a"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","connectionName":"shared_onedriveforbusiness","operationId":"CreateFile"},"parameters":{"folderPath":"/PowerApps/Flows/Heavy & Light Bookings","name":"@outputs('Convert_HTML_to_PDF')?['body/Filename']","body":"@outputs('Convert_HTML_to_PDF')?['body/FileContent']"},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}},"Delete_file":{"runAfter":{"Create_file_3":["Succeeded"]},"metadata":{"operationMetadataId":"557ecb80-e64c-4f93-a13f-fc67189519d5"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","connectionName":"shared_onedriveforbusiness","operationId":"DeleteFile"},"parameters":{"id":"@outputs('Create_file')?['body/Id']"},"authentication":"@parameters('$authentication')"}},"Get_file_content":{"runAfter":{"Delete_file":["Succeeded"]},"metadata":{"operationMetadataId":"743491f9-3386-46e4-8fb8-a3540637f3d6"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","connectionName":"shared_onedriveforbusiness","operationId":"GetFileContent"},"parameters":{"id":"@outputs('Create_file_3')?['body/Id']","inferContentType":true},"authentication":"@parameters('$authentication')"}},"Condition_4":{"actions":{"Send_an_email_(V2)":{"runAfter":{},"metadata":{"operationMetadataId":"ce67880d-9c90-46c9-8442-b9c777a2f7d0"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"Peter.Whereat@bristol.ac.uk;fesrh@bristol.ac.uk;il21961@bristol.ac.uk","emailMessage/Subject":"Machine Booking Request","emailMessage/Body":"<p><strong>A new booking request has been submitted for actioning.</strong><br>\n<br>\n<strong>Name:</strong> @{outputs('Get_response_details')?['body/r9ce6f515173e4d93aa5c5f305826aa67']}<br>\n<br>\n<strong>Email:</strong> @{outputs('Get_response_details')?['body/ra52386120cf94d6080a8b05594c012e2']}<br>\n<br>\n<strong>Phone number:</strong> @{outputs('Get_response_details')?['body/r4a7add85fb174da883decd524bd82912']}<br>\n<br>\n<strong>Research Group:</strong> @{outputs('Get_response_details')?['body/r3f81d488880647758f5d8294a697a3c7']}<br>\n<br>\n<strong>Type of test:</strong> @{outputs('Get_response_details')?['body/r5e0bf79d72f8473bb71c2f07346cffdb']}<br>\n<br>\n<strong>Date machine required:</strong> @{outputs('Get_response_details')?['body/rb4c96f0a98de4fecb3d2627226dce6b7']}<br>\n<br>\n<strong>Length of booking: </strong>@{outputs('Get_response_details')?['body/rd8afca61af6f44e28e158f5d2e3f616a']}<br>\n<br>\n<strong>Name or number of machine:</strong> @{outputs('Get_response_details')?['body/rc8fd0c8de47142dcb0d3118e645ce83d']}<br>\n<br>\n<strong>Type of test:</strong> @{outputs('Get_response_details')?['body/r5e0bf79d72f8473bb71c2f07346cffdb']}<br>\n<br>\n<strong>Grip Choice:</strong> @{outputs('Get_response_details')?['body/rc10a30386191445ba3f5f7d78870e3bc']}<br>\n<br>\n<strong>Load cell capacity:</strong> @{outputs('Get_response_details')?['body/r2bace948caf94953933fd3de3ea6c5b7']}<br>\n<br>\n<strong>Grip choice:</strong> @{outputs('Get_response_details')?['body/rc10a30386191445ba3f5f7d78870e3bc']}<br>\n<br>\n<strong>Jaw size:</strong> @{outputs('Get_response_details')?['body/rcc6a42deeac945df9b9c752eb95162b4']}<br>\n<br>\n<strong>Type:</strong> @{outputs('Get_response_details')?['body/rca262d142d3a40efa2e95a7c79d0aed1']}<br>\n<br>\n<strong>Number of grips:</strong> @{outputs('Get_response_details')?['body/rd49b6422ae8a4576bda8c43f92cd8701']}<br>\n<br>\n<strong>Crosshead height:</strong>@{outputs('Get_response_details')?['body/r08c3500c58bf4325999d8b578e982922']}<br>\n<br>\n<strong>Data logger required if so how many channels: </strong>@{outputs('Get_response_details')?['body/r2097ac1a455e4333a204d1d8d15d5306']}<br>\n<br>\n<strong>Drawing if included:</strong><br>\nNot Submitted<br>\n<br>\n<strong>Further information or special requests: </strong>@{outputs('Get_response_details')?['body/r3f796bb2611a4dbdb8441717e310578d']}<br>\n<br>\n<strong>User Status:<br>\n</strong>@{outputs('Get_response_details')?['body/r82ee161638394c18a184b89c5dc94988']}<strong><br>\n<br>\n</strong><strong>Undergraduate Unit Code:<br>\n</strong>@{outputs('Get_response_details')?['body/r54940444fb4b44e8bd94ebdaf3931512']}<strong><br>\n<br>\nMachine or Technician Meeting:<br>\n</strong>@{outputs('Get_response_details')?['body/r59e745fbfa1a4f61ad74e7477a7a23b8']}</p>","emailMessage/Attachments":[{"Name":"@outputs('Create_file_3')?['body/Name']","ContentBytes":"@outputs('Get_file_content')?['body']"}]},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Get_file_content":["Succeeded"]},"else":{"actions":{"Parse_JSON_2":{"runAfter":{},"metadata":{"operationMetadataId":"43c95049-dda7-4d56-b138-4e936825c86a"},"type":"ParseJson","inputs":{"content":"@outputs('Get_response_details')?['body/r9de715f9a0b942b19bdb6d60bb80eb8c']","schema":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"link":{"type":"string"},"id":{"type":"string"},"type":{},"size":{"type":"integer"},"referenceId":{"type":"string"},"driveId":{"type":"string"},"status":{"type":"integer"},"uploadSessionUrl":{}},"required":["name","link","id","type","size","referenceId","driveId","status","uploadSessionUrl"]}}}},"Apply_to_each_3":{"foreach":"@body('Parse_JSON_2')","actions":{"Send_an_email_(V2)_2":{"runAfter":{},"metadata":{"operationMetadataId":"05f22ce9-149b-4fa8-ac12-cf543d78a0da"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"Peter.Whereat@bristol.ac.uk;fesrh@bristol.ac.uk;il21961@bristol.ac.uk","emailMessage/Subject":"Machine Booking Request","emailMessage/Body":"<p><strong>A new booking request has been submitted for actioning.</strong><br>\n<br>\n<strong>Name:</strong> @{outputs('Get_response_details')?['body/r9ce6f515173e4d93aa5c5f305826aa67']}<br>\n<br>\n<strong>Email:</strong> @{outputs('Get_response_details')?['body/ra52386120cf94d6080a8b05594c012e2']}<br>\n<br>\n<strong>Phone number:</strong> @{outputs('Get_response_details')?['body/r4a7add85fb174da883decd524bd82912']}<br>\n<br>\n<strong>Research Group:</strong> @{outputs('Get_response_details')?['body/r3f81d488880647758f5d8294a697a3c7']}<br>\n<br>\n<strong>Type of test:</strong> @{outputs('Get_response_details')?['body/r5e0bf79d72f8473bb71c2f07346cffdb']}<br>\n<br>\n<strong>Date machine required:</strong> @{outputs('Get_response_details')?['body/rb4c96f0a98de4fecb3d2627226dce6b7']}<br>\n<br>\n<strong>Length of booking: </strong>@{outputs('Get_response_details')?['body/rd8afca61af6f44e28e158f5d2e3f616a']}<br>\n<br>\n<strong>Name or number of machine:</strong> @{outputs('Get_response_details')?['body/rc8fd0c8de47142dcb0d3118e645ce83d']}<br>\n<br>\n<strong>Type of test:</strong> @{outputs('Get_response_details')?['body/r5e0bf79d72f8473bb71c2f07346cffdb']}<br>\n<br>\n<strong>Grip Choice:</strong> @{outputs('Get_response_details')?['body/rc10a30386191445ba3f5f7d78870e3bc']}<br>\n<br>\n<strong>Load cell capacity:</strong> @{outputs('Get_response_details')?['body/r2bace948caf94953933fd3de3ea6c5b7']}<br>\n<br>\n<strong>Grip choice:</strong> @{outputs('Get_response_details')?['body/rc10a30386191445ba3f5f7d78870e3bc']}<br>\n<br>\n<strong>Jaw size:</strong> @{outputs('Get_response_details')?['body/rcc6a42deeac945df9b9c752eb95162b4']}<br>\n<br>\n<strong>Type:</strong> @{outputs('Get_response_details')?['body/rca262d142d3a40efa2e95a7c79d0aed1']}<br>\n<br>\n<strong>Number of grips:</strong> @{outputs('Get_response_details')?['body/rd49b6422ae8a4576bda8c43f92cd8701']}<br>\n<br>\n<strong>Crosshead height:</strong>@{outputs('Get_response_details')?['body/r08c3500c58bf4325999d8b578e982922']}<br>\n<br>\n<strong>Data logger required if so how many channels: </strong>@{outputs('Get_response_details')?['body/r2097ac1a455e4333a204d1d8d15d5306']}<br>\n<br>\n<strong>Drawing if included:</strong><br>\n@{items('Apply_to_each_3')['link']}<br>\n<br>\n<strong>Further information or special requests: </strong>@{outputs('Get_response_details')?['body/r3f796bb2611a4dbdb8441717e310578d']}<br>\n<strong>User Status:</strong><br>\n@{outputs('Get_response_details')?['body/r82ee161638394c18a184b89c5dc94988']}<br>\n<br>\n<strong>Undergraduate Unit Code:</strong><br>\n@{outputs('Get_response_details')?['body/r54940444fb4b44e8bd94ebdaf3931512']}<br>\n<br>\n<strong>Machine or Technician Meeting:</strong><br>\n@{outputs('Get_response_details')?['body/r59e745fbfa1a4f61ad74e7477a7a23b8']}</p>","emailMessage/Attachments":[{"Name":"@outputs('Create_file_3')?['body/Name']","ContentBytes":"@outputs('Get_file_content')?['body']"}]},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Parse_JSON_2":["Succeeded"]},"metadata":{"operationMetadataId":"a959b984-9b4e-4182-ab84-1de7261f3315"},"type":"Foreach"}}},"expression":{"equals":["@empty(outputs('Get_response_details')?['body/r9de715f9a0b942b19bdb6d60bb80eb8c'])",true]},"metadata":{"operationMetadataId":"87579a8e-64e5-4341-b66e-f7773af2ec71"},"type":"If"}},"runAfter":{"Initialize_variable":["Succeeded"]},"metadata":{"operationMetadataId":"e31dbdfa-55a8-46e6-9980-666b0f049e66"},"type":"Scope"},"Send_an_email_(V2)_3":{"runAfter":{"Scope_2":["Failed"]},"metadata":{"operationMetadataId":"9632be11-216a-4cbb-aec4-ae15688b2140"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365_1","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"steven.rae@bristol.ac.uk","emailMessage/Subject":"Heavy & Light Booking Error","emailMessage/Body":"<p>@{outputs('Get_response_details')?['body/responder']}<br>\n@{utcNow()}</p>"},"authentication":"@parameters('$authentication')"}}}}