Lab Registration_FlowDef.json
{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_new_response_is_submitted":{"splitOn":"@triggerOutputs()?['body/value']","metadata":{"operationMetadataId":"3f1d9bf5-7e30-4b9b-b582-cbae6c2ad4f8"},"type":"OpenApiConnectionWebhook","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_microsoftforms","connectionName":"shared_microsoftforms","operationId":"CreateFormWebhook"},"parameters":{"form_id":"MH_ksn3NTkql2rGM8aQVG2PvPX4q_EVEiz61XmYMV4RUNEYyWE4zUlZCTDNCNjhCSEE5U1pTSU81RiQlQCN0PWcu"},"authentication":"@parameters('$authentication')"}}},"actions":{"Get_response_details":{"runAfter":{},"metadata":{"operationMetadataId":"5649d8a8-8e4c-4b6f-9e42-db8886279fcb"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_microsoftforms","connectionName":"shared_microsoftforms","operationId":"GetFormResponseById"},"parameters":{"form_id":"MH_ksn3NTkql2rGM8aQVG2PvPX4q_EVEiz61XmYMV4RUNEYyWE4zUlZCTDNCNjhCSEE5U1pTSU81RiQlQCN0PWcu","response_id":"@triggerOutputs()?['body/resourceData/responseId']"},"authentication":"@parameters('$authentication')"}},"Get_items":{"runAfter":{"Condition_4":["Succeeded"]},"metadata":{"operationMetadataId":"d8e48215-8668-4f41-8076-5031f4f1df9e"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItems"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","table":"a2df07f2-720d-4869-a439-dfe282b0af0c","$filter":"Title eq '@{variables('username')}' and AcademicYear eq '@{outputs('Get_response_details')?['body/r5e4de784edc14e80a963174c3b2b1ac5']}'"},"authentication":"@parameters('$authentication')"}},"Get_user_profile_(V2)":{"runAfter":{"Get_response_details":["Succeeded"]},"metadata":{"operationMetadataId":"197fcc4a-03ea-475d-8966-acb8e7ef2018"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365users","connectionName":"shared_office365users","operationId":"UserProfile_V2"},"parameters":{"id":"@outputs('Get_response_details')?['body/responder']"},"authentication":"@parameters('$authentication')"}},"Initialize_variable_-_username":{"runAfter":{"Send_an_email_(V2)_2":["Succeeded"]},"metadata":{"operationMetadataId":"bfe10646-20d6-44b7-a2f0-b8cb309467a0"},"type":"InitializeVariable","inputs":{"variables":[{"name":"username","type":"string","value":"@outputs('Get_user_profile_(V2)')?['body/mailNickname']"}]}},"Condition":{"actions":{"Send_an_email_from_a_shared_mailbox_(V2)_3":{"runAfter":{},"metadata":{"operationMetadataId":"42bcc6b1-df9a-4f82-951c-72350a0fc7e6"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SharedMailboxSendEmailV2"},"parameters":{"emailMessage/MailboxAddress":"BCITechSupport@bristol.ac.uk","emailMessage/To":"@outputs('Get_user_profile_(V2)')?['body/mail']","emailMessage/Subject":"Lab Registartion - Issue","emailMessage/Body":"<p>Hi @{outputs('Get_user_profile_(V2)')?['body/givenName']},<br>\n<br>\nA record under your name has already been registered for the current academic year.<br>\n<br>\nIf you believe this is an error, please contact the lab team directly.<br>\n<br>\n(BCITechSupport@bristol.ac.uk)<br>\n<br>\n<br>\n<br>\n<br>\n**This is an automated email. Please do not reply.**</p>"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Get_items":["Succeeded"]},"else":{"actions":{"Send_an_email_from_a_shared_mailbox_(V2)":{"runAfter":{},"metadata":{"operationMetadataId":"3feee5b0-1005-4946-9558-54ae26095e39"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SharedMailboxSendEmailV2"},"parameters":{"emailMessage/MailboxAddress":"BCITechSupport@bristol.ac.uk","emailMessage/To":"@outputs('Get_user_profile_(V2)')?['body/mail']","emailMessage/Subject":"Lab Registration Request","emailMessage/Body":"<p>Hi @{outputs('Get_user_profile_(V2)')?['body/givenName']},<br>\n<br>\nYour lab registration request is currently with your supervisor for review. If you do not receive a response, please check with your supervisor first. You will be notified once your supervisor has actioned the request.<br>\n<br>\nThanks,<br>\nLab Team<br>\n<br>\n**This is an automated email. Please do not reply.**</p>"},"authentication":"@parameters('$authentication')"}},"Condition_2":{"actions":{"Send_an_email_from_a_shared_mailbox_(V2)_4":{"runAfter":{},"metadata":{"operationMetadataId":"0adff806-922c-439d-922c-1bb23dc42207"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SharedMailboxSendEmailV2"},"parameters":{"emailMessage/MailboxAddress":"BCITechSupport@bristol.ac.uk","emailMessage/To":"@outputs('Get_user_profile_(V2)')?['body/mail']","emailMessage/Subject":"Lab Registration - Update","emailMessage/Body":"<p>Hi @{outputs('Get_user_profile_(V2)')?['body/givenName']},<br>\n<br>\nYour supervisor has approved your lab registration request and is now with the Lab Team for final approval.<br>\n<br>\nThanks,<br>\nLab Team<br>\n<br>\n<br>\n**This is an automated email. Please do not reply.**</p>"},"authentication":"@parameters('$authentication')"}},"Start_and_wait_for_an_approval_2_-_BCI":{"runAfter":{"Send_an_email_from_a_shared_mailbox_(V2)_4":["Succeeded"]},"metadata":{"operationMetadataId":"a8cb50e2-7fa5-479e-87ed-d1940d58fc33"},"type":"OpenApiConnectionWebhook","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_approvals","connectionName":"shared_approvals","operationId":"StartAndWaitForAnApproval"},"parameters":{"approvalType":"Basic","WebhookApprovalCreationInput/title":"Lab Registration","WebhookApprovalCreationInput/assignedTo":"steven.rae@bristol.ac.uk; Yusuf.Mahadik@bristol.ac.uk; james.thatcher@bristol.ac.uk; Allison.McIntosh-Smith@bristol.ac.uk; katie.smith@bristol.ac.uk; rv15685@bristol.ac.uk","WebhookApprovalCreationInput/details":"### Action Required - Lab Registration Request\n\n@{outputs('Get_user_profile_(V2)')?['body/givenName']}  has submitted a lab registration request. Please check the below details are correct.\n\nIf any details are incorrect please select \"**Reject**\" and explain in the comments box provided, then click \"**Submit**\".  These comments will be passed to @{outputs('Get_user_profile_(V2)')?['body/givenName']}  to make the necessary changes before re-submission.  \n\nOnly if all details are correct select \"**Accept**\" and then click \"**Submit**\". \n\n-**Name:**  @{outputs('Get_user_profile_(V2)')?['body/displayName']}\n-**Supervisor:** @{outputs('Get_user_profile_(V2)_2_-_Supervisor')?['body/displayName']}\n-**Academic Year:** @{outputs('Get_response_details')?['body/r5e4de784edc14e80a963174c3b2b1ac5']}\n-**Status:** @{outputs('Get_response_details')?['body/rf081c7c943784359be09ae5f77f5dad5']}\n-**Charge Code:** @{outputs('Get_response_details')?['body/r9932fb0e6ab6495a8f7f6c6c94ac80a4']}\n-**Project End Date:** @{outputs('Get_response_details')?['body/r6800cf0e07414ae7893697ba42e61ade']}","WebhookApprovalCreationInput/enableNotifications":true,"WebhookApprovalCreationInput/enableReassignment":true},"authentication":"@parameters('$authentication')"}},"Condition_3":{"actions":{"Create_item":{"runAfter":{},"metadata":{"operationMetadataId":"92a92a1f-06a3-412c-91ce-00dc8443f346"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PostItem"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","table":"a2df07f2-720d-4869-a439-dfe282b0af0c","item/Title":"@variables('username')","item/Surname":"@outputs('Get_user_profile_(V2)')?['body/surname']","item/FirstName":"@outputs('Get_user_profile_(V2)')?['body/givenName']","item/Status":"@outputs('Get_response_details')?['body/rf081c7c943784359be09ae5f77f5dad5']","item/ChargeCode":"@outputs('Get_response_details')?['body/r9932fb0e6ab6495a8f7f6c6c94ac80a4']","item/AcademicYear":"@outputs('Get_response_details')?['body/r5e4de784edc14e80a963174c3b2b1ac5']","item/Duration":"@outputs('Get_response_details')?['body/r2b461770a8fd4a74a13f85b3ea352f8c']","item/Lab":"@outputs('Get_response_details')?['body/rac7bf9e5717a482daeb928b802c524ce']","item/Supervisor":"@outputs('Get_user_profile_(V2)_2_-_Supervisor')?['body/displayName']","item/Supervisoremail":"@outputs('Get_user_profile_(V2)_2_-_Supervisor')?['body/mail']","item/ProjectEnd":"@outputs('Get_response_details')?['body/r6800cf0e07414ae7893697ba42e61ade']"},"authentication":"@parameters('$authentication')"}},"Send_an_email_from_a_shared_mailbox_(V2)_6":{"runAfter":{"Create_item":["Succeeded"]},"metadata":{"operationMetadataId":"ed41c43a-711a-4876-8ceb-21f1ab4c9cce"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SharedMailboxSendEmailV2"},"parameters":{"emailMessage/MailboxAddress":"BCITechSupport@bristol.ac.uk","emailMessage/To":"@outputs('Get_user_profile_(V2)')?['body/mail']","emailMessage/Subject":"Lab Registration - Update","emailMessage/Body":"<p>Hi @{outputs('Get_user_profile_(V2)')?['body/givenName']},<br>\n<br>\nThe lab team has approved your lab registration request for the academic year @{outputs('Get_response_details')?['body/r5e4de784edc14e80a963174c3b2b1ac5']}.<br>\n<br>\nIf you are a new lab user, or require a refresher, please sign up to a lab induction <a href=\"https://apps.powerapps.com/play/ec90c2f9-55f1-4c4e-bcd5-12f034b88da5?tenantId=b2e47f30-cd7d-4a4e-a5da-b18cf1a4151b\">here</a>.<br>\n<br>\nThanks,<br>\nLab Team<br>\n<br>\n**This is an automated email. Please do not reply.**</p>"},"authentication":"@parameters('$authentication')"}},"Compose":{"runAfter":{"Send_an_email_from_a_shared_mailbox_(V2)_6":["Succeeded"]},"metadata":{"operationMetadataId":"a770fa24-3f29-477e-82ee-f2c13e708e8e"},"type":"Compose","inputs":"https://outlook.office.com/ecp/MyGroups/EditDistributionGroup.aspx?ActivityCorrelationID=01b57b6c-e842-dca8-e294-01fe8b8713ed&reqId=1630582275774&pwmcid=1&ReturnObjectType=1&id=f16f86c8-33a4-4bd1-9af4-5d66f69f09a7"},"Send_email_with_options":{"runAfter":{"Compose_2":["Succeeded"]},"metadata":{"operationMetadataId":"d9a999cb-1eed-4788-a3a2-38429052e6a5"},"type":"OpenApiConnectionWebhook","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendMailWithOptions"},"parameters":{"optionsEmailSubscription/Message/To":"@outputs('Compose_2')","optionsEmailSubscription/Message/Subject":"Lab Registration - Your input is required","optionsEmailSubscription/Message/Options":"Confirm","optionsEmailSubscription/Message/HeaderText":"Check Mailing List","optionsEmailSubscription/Message/Body":"<p style=\"font-size: 1em;\">@{outputs('Get_user_profile_(V2)')?['body/displayName']} has been added to the lab register. Please check they have been added to the 'Composites Lab User' email distribution group <a href = \"@{outputs('Compose')}\">here</a> .</p>\n<ul>\n<li style=\"font-size: 1em;\">Select 'membership'</li>\n<li style=\"font-size: 1em;\">Scroll through the list of users.</li>\n<li style=\"font-size: 1em;\">To add, click the + symbol.</li>\n<li style=\"font-size: 1em;\">Select 'default global address list'</li>\n<li style=\"font-size: 1em;\">Click in the search box, type the user's name.</li>\n<li style=\"font-size: 1em;\">Select the user.</li>\n<li style=\"font-size: 1em;\">Click 'save'.</li>\n</ul>\n<p style=\"font-size: 1em;\">If/once the user has been added to the email list, please click '<strong>confirm'</strong>&nbsp;below.</p>\n\n\n","optionsEmailSubscription/Message/Importance":"Normal","optionsEmailSubscription/Message/UseOnlyHTMLMessage":true,"optionsEmailSubscription/Message/HideHTMLMessage":false,"optionsEmailSubscription/Message/ShowHTMLConfirmationDialog":false},"authentication":"@parameters('$authentication')"}},"Compose_2":{"runAfter":{"Compose":["Succeeded"]},"metadata":{"operationMetadataId":"de637d50-287c-4bc3-ac7e-7f546836b9db"},"type":"Compose","inputs":"@body('Start_and_wait_for_an_approval_2_-_BCI')?['responses']?[0]?['responder']?['email']"},"Condition_5":{"actions":{"Update_item":{"runAfter":{},"metadata":{"operationMetadataId":"4008222c-305c-47fd-b49f-9f680d61c82a"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","table":"a2df07f2-720d-4869-a439-dfe282b0af0c","id":"@outputs('Create_item')?['body/ID']","item/Title":"@variables('username')","item/MailList":"Yes"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Send_email_with_options":["Succeeded"]},"expression":{"equals":["@outputs('Send_email_with_options')?['body/SelectedOption']","Confirm"]},"metadata":{"operationMetadataId":"73e9533f-4e8b-4f04-bacb-3e1730bf8a26"},"type":"If"}},"runAfter":{"Start_and_wait_for_an_approval_2_-_BCI":["Succeeded"]},"else":{"actions":{"Send_an_email_from_a_shared_mailbox_(V2)_5":{"runAfter":{},"metadata":{"operationMetadataId":"dc0ed14a-af6b-41bf-93f0-a5ce005f8262"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SharedMailboxSendEmailV2"},"parameters":{"emailMessage/MailboxAddress":"BCITechSupport@bristol.ac.uk","emailMessage/To":"@outputs('Get_user_profile_(V2)')?['body/mail']","emailMessage/Subject":"Lab Registration - Rejected","emailMessage/Body":"<p>Hi @{outputs('Get_user_profile_(V2)')?['body/givenName']},<br>\n<br>\nThe lab team has rejected your lab registration request. Please see comments below before resubmitting your registration form.<br>\n<br>\nThanks,<br>\nLab Team<br>\n<br>\n**BCI Lab Team Comments:**<br>\n<br>\n@{first(body('Start_and_wait_for_an_approval_2_-_BCI')?['responses'])?['comments']\r\n}<br>\n<br>\n<br>\n<br>\n**This is an automated email. Please do not reply.**</p>"},"authentication":"@parameters('$authentication')"}}}},"expression":{"equals":["@outputs('Start_and_wait_for_an_approval_2_-_BCI')?['body/outcome']","Approve"]},"metadata":{"operationMetadataId":"6d867cf6-a366-4fab-a01e-68a9468f7bb2"},"type":"If"}},"runAfter":{"Start_and_wait_for_an_approval_-_Supervisor":["Succeeded"]},"else":{"actions":{"Send_an_email_from_a_shared_mailbox_(V2)_2":{"runAfter":{},"metadata":{"operationMetadataId":"cebce87b-4811-40be-8d11-46fbe99e6c9a"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SharedMailboxSendEmailV2"},"parameters":{"emailMessage/MailboxAddress":"BCITechSupport@bristol.ac.uk","emailMessage/To":"@outputs('Get_user_profile_(V2)')?['body/mail']","emailMessage/Subject":"Lab Registration - Rejected","emailMessage/Body":"<p>Hi @{outputs('Get_user_profile_(V2)')?['body/givenName']},<br>\n<br>\nYour supervisor has rejected your lab registration request. Please see comments below before resubmitting your registration form.<br>\n<br>\nThanks,<br>\nLab Team<br>\n<br>\n**Supervisor Comments**<br>\n<br>\n@{first(body('Start_and_wait_for_an_approval_-_Supervisor')?['responses'])?['comments']}<br>\n<br>\n**This is an automated email. Please do not reply.**</p>"},"authentication":"@parameters('$authentication')"}}}},"expression":{"equals":["@outputs('Start_and_wait_for_an_approval_-_Supervisor')?['body/outcome']","Approve"]},"metadata":{"operationMetadataId":"14c5a729-97ef-47f9-b6d1-1f436637ba86"},"type":"If"},"Start_and_wait_for_an_approval_-_Supervisor":{"runAfter":{"Send_an_email_from_a_shared_mailbox_(V2)":["Succeeded"]},"metadata":{"operationMetadataId":"79df10f5-cdde-4acd-a11e-0ec8ecc44f8f"},"type":"OpenApiConnectionWebhook","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_approvals","connectionName":"shared_approvals","operationId":"StartAndWaitForAnApproval"},"parameters":{"approvalType":"Basic","WebhookApprovalCreationInput/title":"Lab Registration","WebhookApprovalCreationInput/assignedTo":"@{outputs('Get_user_profile_(V2)_2_-_Supervisor')?['body/mail']};","WebhookApprovalCreationInput/details":"### Action Required - Lab Registration Request\n\n@{outputs('Get_user_profile_(V2)')?['body/givenName']}  has submitted a lab registration request. Please check the below details are correct.\n\nIf any details are incorrect please select \"**Reject**\" and explain in the comments box provided, then click \"**Submit**\".  These comments will be passed to @{outputs('Get_user_profile_(V2)')?['body/givenName']}  to make the necessary changes before re-submission.  \n\nOnly if all details are correct select \"**Accept**\" and then click \"**Submit**\". The request will be forwarded to the BCI Technical Team for final review.\n\n-**Name:**  @{outputs('Get_user_profile_(V2)')?['body/displayName']}\n-**Academic Year:** @{outputs('Get_response_details')?['body/r5e4de784edc14e80a963174c3b2b1ac5']}\n-**Status:** @{outputs('Get_response_details')?['body/rf081c7c943784359be09ae5f77f5dad5']}\n-**Charge Code:** @{outputs('Get_response_details')?['body/r9932fb0e6ab6495a8f7f6c6c94ac80a4']}\n-**Project End Date:** @{outputs('Get_response_details')?['body/r6800cf0e07414ae7893697ba42e61ade']}","WebhookApprovalCreationInput/enableNotifications":true,"WebhookApprovalCreationInput/enableReassignment":true},"authentication":"@parameters('$authentication')"}}}},"expression":{"greater":["@length(body('Get_items')?['value'])",0]},"metadata":{"operationMetadataId":"95562517-2ccf-492e-a2b7-0a56fc0d51c4"},"type":"If"},"Switch":{"runAfter":{"Initialize_variable_-_supervisor":["Succeeded"]},"cases":{"Case":{"case":"Michael Wisnom","actions":{"Set_variable":{"runAfter":{},"type":"SetVariable","inputs":{"name":"supervisor","value":"aemrw"}}}},"Case_2":{"case":"Giuliano Allegri","actions":{"Set_variable_2":{"runAfter":{},"type":"SetVariable","inputs":{"name":"supervisor","value":"aexga"}}}},"Case_3":{"case":"Janice Barton","actions":{"Set_variable_3":{"runAfter":{},"type":"SetVariable","inputs":{"name":"supervisor","value":"ra19273"}}}},"Case_4":{"case":"Ian Bond","actions":{"Set_variable_4":{"runAfter":{},"type":"SetVariable","inputs":{"name":"supervisor","value":"i.p.bond"}}}},"Case_5":{"case":"Stephen Eichhorn","actions":{"Set_variable_5":{"runAfter":{},"type":"SetVariable","inputs":{"name":"supervisor","value":"se17541"}}}},"Case_6":{"case":"Ian Farrow","actions":{"Set_variable_6":{"runAfter":{},"type":"SetVariable","inputs":{"name":"supervisor","value":"aeirf"}}}},"Case_7":{"case":"Stephen Hallett","actions":{"Set_variable_7":{"runAfter":{},"type":"SetVariable","inputs":{"name":"supervisor","value":"aesrh"}}}},"Case_8":{"case":"Ian Hamerton","actions":{"Set_variable_8":{"runAfter":{},"type":"SetVariable","inputs":{"name":"supervisor","value":"ih15362"}}}},"Case_9":{"case":"Dmitry Ivanov","actions":{"Set_variable_9":{"runAfter":{},"type":"SetVariable","inputs":{"name":"supervisor","value":"aezdi"}}}},"Case_10":{"case":"Luiz Kawashita","actions":{"Set_variable_10":{"runAfter":{},"type":"SetVariable","inputs":{"name":"supervisor","value":"aelfk"}}}},"Case_11":{"case":"Eric Kim","actions":{"Set_variable_11":{"runAfter":{},"type":"SetVariable","inputs":{"name":"supervisor","value":"aebck"}}}},"Case_12":{"case":"James Kratz","actions":{"Set_variable_12":{"runAfter":{},"type":"SetVariable","inputs":{"name":"supervisor","value":"jk13222"}}}},"Case_13":{"case":"Ivana Partridge","actions":{"Set_variable_13":{"runAfter":{},"type":"SetVariable","inputs":{"name":"supervisor","value":"ip12976"}}}},"Case_14":{"case":"Alberto Pirrera","actions":{"Set_variable_14":{"runAfter":{},"type":"SetVariable","inputs":{"name":"supervisor","value":"aexap"}}}},"Case_15":{"case":"Ole Thomson","actions":{"Set_variable_15":{"runAfter":{},"type":"SetVariable","inputs":{"name":"supervisor","value":"ae19146"}}}},"Case_16":{"case":"Fabrizio Scarpa","actions":{"Set_variable_16":{"runAfter":{},"type":"SetVariable","inputs":{"name":"supervisor","value":"aefls"}}}},"Case_17":{"case":"Mark Schenk","actions":{"Set_variable_17":{"runAfter":{},"type":"SetVariable","inputs":{"name":"supervisor","value":"ms14626"}}}},"Case_18":{"case":"Valeska Ting","actions":{"Set_variable_18":{"runAfter":{},"type":"SetVariable","inputs":{"name":"supervisor","value":"vt16989"}}}},"Case_19":{"case":"Richard Trask","actions":{"Set_variable_19":{"runAfter":{},"type":"SetVariable","inputs":{"name":"supervisor","value":"aerst"}}}},"Case_20":{"case":"Carwyn Ward","actions":{"Set_variable_20":{"runAfter":{},"type":"SetVariable","inputs":{"name":"supervisor","value":"aexcw"}}}},"Case_21":{"case":"Paul Weaver","actions":{"Set_variable_21":{"runAfter":{},"type":"SetVariable","inputs":{"name":"supervisor","value":"aepmw"}}}},"Case_22":{"case":"Ben Woods","actions":{"Set_variable_22":{"runAfter":{},"type":"SetVariable","inputs":{"name":"supervisor","value":"bw15824"}}}}},"default":{"actions":{"Set_variable_23":{"runAfter":{},"type":"SetVariable","inputs":{"name":"supervisor","value":"@outputs('Get_response_details')?['body/refb66093f1974f3f9d85a7cb54520fb8']"}}}},"expression":"@outputs('Get_response_details')?['body/refb66093f1974f3f9d85a7cb54520fb8']","metadata":{"operationMetadataId":"fed51259-fa0d-4af2-bb08-921378c1670f"},"type":"Switch"},"Initialize_variable_-_supervisor":{"runAfter":{"Initialize_variable_-_username":["Succeeded"]},"metadata":{"operationMetadataId":"64c2e08e-c226-4e88-b6f2-c12895ad3a6e"},"type":"InitializeVariable","inputs":{"variables":[{"name":"supervisor","type":"string"}]}},"Get_user_profile_(V2)_2_-_Supervisor":{"runAfter":{"Switch":["Succeeded"]},"metadata":{"operationMetadataId":"9c52530c-4a90-4130-9aec-687dd6d53362"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365users","connectionName":"shared_office365users","operationId":"UserProfile_V2"},"parameters":{"id":"@concat(variables('supervisor'), '@bristol.ac.uk')"},"authentication":"@parameters('$authentication')"}},"Send_an_email_(V2)":{"runAfter":{"Get_user_profile_(V2)":["Failed"]},"metadata":{"operationMetadataId":"5538c19a-22d0-40ca-b811-e21ab6814deb"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"steven.rae@bristol.ac.uk","emailMessage/Subject":"Flow Error - Lab Registration","emailMessage/Body":"<p>Flow encountered error at 'Get user profile (V2) at . Please investigate.<br>\n<br>\nuser email: @{outputs('Get_response_details')?['body/responder']}<br>\ntime: @{outputs('Get_response_details')?['body/submitDate']}</p>"},"authentication":"@parameters('$authentication')"}},"Send_an_email_from_a_shared_mailbox_(V2)_7":{"runAfter":{"Get_user_profile_(V2)_2_-_Supervisor":["Failed"]},"metadata":{"operationMetadataId":"b1310076-2fa2-42bd-bf6a-857d45fc2c84"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SharedMailboxSendEmailV2"},"parameters":{"emailMessage/MailboxAddress":"BCITechSupport@bristol.ac.uk","emailMessage/To":"@outputs('Get_user_profile_(V2)')?['body/mail']","emailMessage/Subject":"Lab Registration - Error","emailMessage/Body":"<p>Hi @{outputs('Get_user_profile_(V2)')?['body/givenName']},<br>\n<br>\nAn error was encountered when submitting your lab registration form. Your supervisor's details could not be found on the system.<br>\n<br>\nIf you are manually entering your supervisor for question 1, please enter ONLY your supervisor's username as it appears before '@bristol.ac.uk' in their email address.<br>\n<br>\nIf you continue to receive this error please contact the lab support team.<br>\n<br>\n(BCITechSupport@bristol.ac.uk)</p>"},"authentication":"@parameters('$authentication')"}},"Condition_4":{"actions":{"Send_an_email_from_a_shared_mailbox_(V2)_8":{"runAfter":{},"metadata":{"operationMetadataId":"b38a2c9c-aaab-4cae-a085-1876ab4d417a"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SharedMailboxSendEmailV2"},"parameters":{"emailMessage/MailboxAddress":"BCITechSupport@bristol.ac.uk","emailMessage/To":"@outputs('Get_user_profile_(V2)')?['body/mail']","emailMessage/Subject":"Lab Registration - Error","emailMessage/Body":"<p>Hi @{outputs('Get_user_profile_(V2)')?['body/givenName']},<br>\n<br>\nAn error was encountered when submitting your lab registration request. Your supervisor cannot be yourself.<br>\n<br>\nIf you believe this is an error, please contact the lab team directly.<br>\n<br>\n(BCITechSupport@bristol.ac.uk)</p>"},"authentication":"@parameters('$authentication')"}},"Terminate":{"runAfter":{"Send_an_email_from_a_shared_mailbox_(V2)_8":["Succeeded"]},"metadata":{"operationMetadataId":"85f64df3-c08f-4bee-be23-59569dddb065"},"type":"Terminate","inputs":{"runStatus":"Cancelled"}}},"runAfter":{"Get_user_profile_(V2)_2_-_Supervisor":["Succeeded"]},"expression":{"equals":["@outputs('Get_user_profile_(V2)_2_-_Supervisor')?['body/userPrincipalName']","@outputs('Get_user_profile_(V2)')?['body/userPrincipalName']"]},"metadata":{"operationMetadataId":"8879228e-94e7-4ef3-b1c5-f30a81ba6579"},"type":"If"},"Send_an_email_(V2)_2":{"runAfter":{"Get_user_profile_(V2)":["Succeeded"]},"metadata":{"operationMetadataId":"f0950bbf-1465-4f7c-967d-9ed24a89bc47"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"steven.rae@bristol.ac.uk","emailMessage/Subject":"Add user to PowerApp Lab Induction","emailMessage/Body":"<p>@{outputs('Get_user_profile_(V2)')?['body/displayName']}</p>"},"authentication":"@parameters('$authentication')"}}}}