Lab Bookings_FlowDef.json
{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_new_response_is_submitted":{"splitOn":"@triggerOutputs()?['body/value']","type":"OpenApiConnectionWebhook","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_microsoftforms","connectionName":"shared_microsoftforms","operationId":"CreateFormWebhook"},"parameters":{"form_id":"MH_ksn3NTkql2rGM8aQVG54FkNnj11ZKkgBvA9WlZSdUOUFHOVY2UDhYTDFWVjJWS1ZINTlWMTI3NS4u"},"authentication":"@parameters('$authentication')"}}},"actions":{"Get_response_details":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_microsoftforms","connectionName":"shared_microsoftforms","operationId":"GetFormResponseById"},"parameters":{"form_id":"MH_ksn3NTkql2rGM8aQVG54FkNnj11ZKkgBvA9WlZSdUOUFHOVY2UDhYTDFWVjJWS1ZINTlWMTI3NS4u","response_id":"@triggerOutputs()?['body/resourceData/responseId']"},"authentication":"@parameters('$authentication')"}},"startTime":{"runAfter":{"Get_response_details":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"startTime","type":"string"}]}},"timeBuffer":{"runAfter":{"startTime":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"timeBuffer","type":"integer","value":48}]},"description":"set threshold time (hours) users cant book within"},"Initialize_variable_-_trainedEquipArray":{"runAfter":{"timeBuffer":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"trainedEquipArray","type":"array"}]},"description":"variable to hold fetched training array"},"Initialize_variable_-_sanatise_equip":{"runAfter":{"Initialize_variable_-_trainedEquipArray":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"sanatisedEquipment","type":"string"}]}},"Initialize_variable_-_sanatise_additional_equip_array":{"runAfter":{"Initialize_variable_-_sanatise_equip":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"sanatisedAddEquipArray","type":"array"}]}},"Initialize_variable_-_not_trained_array":{"runAfter":{"Initialize_variable_-_sanatise_additional_equip_array":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"notTrained","type":"array"}]}},"Scope":{"actions":{"Time_parameters":{"actions":{"defineStartTime":{"runAfter":{},"cases":{"Case":{"case":"12:30 - 16:30","actions":{"Set_variable_12":{"runAfter":{},"type":"SetVariable","inputs":{"name":"startTime","value":"12:30:00"}}}},"Case_2":{"case":"11:30 - 13:30","actions":{"Set_variable_13":{"runAfter":{},"type":"SetVariable","inputs":{"name":"startTime","value":"11:30:00"}}}},"Case_3":{"case":"14:00 - 16:30","actions":{"Set_variable_14":{"runAfter":{},"type":"SetVariable","inputs":{"name":"startTime","value":"14:00:00"}}}}},"default":{"actions":{"Set_variable_15":{"runAfter":{},"type":"SetVariable","inputs":{"name":"startTime","value":"08:30:00"}}}},"expression":"@outputs('Get_response_details')?['body/r62ce84fa4bd4489aa15d24a0a78a7d1f']","type":"Switch"},"utcNow":{"runAfter":{"defineStartTime":["Succeeded"]},"type":"Compose","inputs":"@utcNow()"},"startDate":{"runAfter":{"utcNow":["Succeeded"]},"type":"Compose","inputs":"@formatDateTime(concat(outputs('Get_response_details')?['body/ra2f054713d404fd4b1be1e1efc3312d0'], 'T', variables('startTime')), 'yyyy-MM-ddTHH:mm')"},"dateDiff":{"runAfter":{"startDate":["Succeeded"]},"type":"Compose","inputs":"@div(sub(ticks(outputs('startDate')), ticks(outputs('utcNow'))), 36000000000)","description":"find diff in hours between now and requested start date"},"dayOfWeek":{"runAfter":{"dateDiff":["Succeeded"]},"type":"Compose","inputs":"@dayOfWeek(utcNow())"},"Switch_2":{"runAfter":{"dayOfWeek":["Succeeded"]},"cases":{"Case":{"case":4,"actions":{"Increment_variable":{"runAfter":{},"type":"IncrementVariable","inputs":{"name":"timeBuffer","value":48}}}},"Case_2":{"case":5,"actions":{"Increment_variable_2":{"runAfter":{},"type":"IncrementVariable","inputs":{"name":"timeBuffer","value":48}}}},"Case_3":{"case":6,"actions":{"Increment_variable_3":{"runAfter":{},"type":"IncrementVariable","inputs":{"name":"timeBuffer","value":48}}}},"Case_4":{"case":0,"actions":{"Increment_variable_4":{"runAfter":{},"type":"IncrementVariable","inputs":{"name":"timeBuffer","value":12}}}}},"default":{"actions":{}},"expression":"@outputs('dayOfWeek')","type":"Switch","description":"increment the time buffer to account for bookings requests over the weekend"},"Condition_4":{"actions":{"Send_an_email_from_a_shared_mailbox_(V2)_3":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365_1","operationId":"SharedMailboxSendEmailV2"},"parameters":{"emailMessage/MailboxAddress":"BCITechSupport@bristol.ac.uk","emailMessage/To":"@outputs('Get_response_details')?['body/responder']","emailMessage/Subject":"Lab Booking Rejected","emailMessage/Body":"<p>The requested start date is within the 48 working hours threshold for response. Please speak to the lab team directly who may be able to accomodate your request. Alternatively, please book for a later date.<br>\n<br>\nThis is an automated email, please do not reply.</p>"},"authentication":"@parameters('$authentication')"}},"Terminate":{"runAfter":{"Send_an_email_from_a_shared_mailbox_(V2)_3":["Succeeded"]},"type":"Terminate","inputs":{"runStatus":"Cancelled"}}},"runAfter":{"Switch_2":["Succeeded"]},"expression":{"less":["@outputs('dateDiff')","@variables('timeBuffer')"]},"type":"If","description":"determine if time difference is less than allowable buffer"}},"runAfter":{},"type":"Scope"},"Get_user_profile_(V2)":{"runAfter":{"Time_parameters":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365users","connectionName":"shared_office365users","operationId":"UserProfile_V2"},"parameters":{"id":"@outputs('Get_response_details')?['body/responder']"},"authentication":"@parameters('$authentication')"}},"ComposeUsername":{"runAfter":{"Get_user_profile_(V2)":["Succeeded"]},"type":"Compose","inputs":"@outputs('Get_user_profile_(V2)')?['body/mailNickname']"},"Get_items_Registration":{"runAfter":{"ComposeUsername":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItems"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","table":"a2df07f2-720d-4869-a439-dfe282b0af0c","$filter":"Title eq '@{outputs('ComposeUsername')}' and AcademicYear eq '2021 - 2022'"},"authentication":"@parameters('$authentication')"}},"test_if_multiple_kit_can_be_processed":{"actions":{"ComposeEquipment":{"runAfter":{},"type":"Compose","inputs":"@substring(string(outputs('Get_response_details')?['body/rf69fd0e2d48e4edfb9c8d3023b13a622']), 8)","description":"extract main piece of equipment user requests to book"},"ControlledAccess_2":{"runAfter":{"Condition":["Succeeded"]},"type":"Compose","inputs":"@createArray('Robot Cell', 'Small Robot', 'Shimadzu', 'Cscanner', 'HDI Rig', 'Hot Press', 'Oven', 'Induction Heater', 'Polisher', 'Precision Saw', 'SEM', 'Zeiss Microscope', 'Olympus Microscope', 'Alicona', 'Video Gauge', 'LaVision 16 MP DIC', 'LaVision 5 MP DIC', 'FLIR T650', 'FLIR E60', 'Telops', 'MatchID', 'Infratec', 'SAZ')","description":"list of bookable equipment requiring trained user access only"},"Switch_3":{"runAfter":{"ComposeEquipment":["Succeeded"]},"cases":{"Case":{"case":"Shimadzu 1","actions":{"Set_variable_10":{"runAfter":{},"type":"SetVariable","inputs":{"name":"sanatisedEquipment","value":"Shimadzu"}}}},"Case_2":{"case":"Shimadzu 2","actions":{"Set_variable_16":{"runAfter":{},"type":"SetVariable","inputs":{"name":"sanatisedEquipment","value":"Shimadzu"}}}},"Case_3":{"case":"Shimadzu 3","actions":{"Set_variable_17":{"runAfter":{},"type":"SetVariable","inputs":{"name":"sanatisedEquipment","value":"Shimadzu"}}}},"Case_4":{"case":"Shimadzu 4","actions":{"Set_variable_18":{"runAfter":{},"type":"SetVariable","inputs":{"name":"sanatisedEquipment","value":"Shimadzu"}}}},"Case_5":{"case":"Clean Room 1","actions":{"Set_variable_19":{"runAfter":{},"type":"SetVariable","inputs":{"name":"sanatisedEquipment","value":"Clean Room"}}}},"Case_6":{"case":"Clean Room 2","actions":{"Set_variable_20":{"runAfter":{},"type":"SetVariable","inputs":{"name":"sanatisedEquipment","value":"Clean Room"}}}},"Case_7":{"case":"Oven Room - Small 1","actions":{"Set_variable_21":{"runAfter":{},"type":"SetVariable","inputs":{"name":"sanatisedEquipment","value":"Oven"}}}},"Case_8":{"case":"Oven Room - Small 2","actions":{"Set_variable_22":{"runAfter":{},"type":"SetVariable","inputs":{"name":"sanatisedEquipment","value":"Oven"}}}},"Case_9":{"case":"Oven Room - Large","actions":{"Set_variable_23":{"runAfter":{},"type":"SetVariable","inputs":{"name":"sanatisedEquipment","value":"Oven"}}}}},"default":{"actions":{"Set_variable_24":{"runAfter":{},"type":"SetVariable","inputs":{"name":"sanatisedEquipment","value":"@{outputs('ComposeEquipment')}"}}}},"expression":"@outputs('ComposeEquipment')","type":"Switch","description":"remove characters for multiple kit"},"Append_to_array_variable_3":{"runAfter":{"clean_additional_equip":["Succeeded"]},"type":"AppendToArrayVariable","inputs":{"name":"sanatisedAddEquipArray","value":"@variables('sanatisedEquipment')"},"description":"Add the main equipment booked to the sanatised array of additional equipment"},"Apply_to_each_4":{"foreach":"@variables('sanatisedAddEquipArray')","actions":{"Condition_6":{"actions":{"Condition_7":{"actions":{},"runAfter":{"create_trained_equipment_array":["Succeeded"]},"else":{"actions":{"Append_to_array_variable_13":{"runAfter":{},"type":"AppendToArrayVariable","inputs":{"name":"notTrained","value":"@items('Apply_to_each_4')"}}}},"expression":{"contains":["@variables('trainedEquipArray')","@items('Apply_to_each_4')"]},"type":"If","description":"Check if item of booking request is in training list"},"create_trained_equipment_array":{"actions":{"Get_items_Training_2":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItems"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","table":"c4759eef-e3d1-48ac-8bf3-6b6ecf4ed941","$filter":"Title eq '@{outputs('ComposeUsername')}'"},"authentication":"@parameters('$authentication')"},"description":"get training record for user"},"Condition_3":{"actions":{"Send_an_email_from_a_shared_mailbox_(V2)_6":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SharedMailboxSendEmailV2"},"parameters":{"emailMessage/MailboxAddress":"BCITechSupport@bristol.ac.uk","emailMessage/To":"@outputs('Get_response_details')?['body/responder']","emailMessage/Subject":"Lab Booking Request - Issue Found","emailMessage/Body":"<p>Hi @{outputs('Get_user_profile_(V2)')?['body/givenName']},<br>\n<br>\nThe piece of equipment you have requested (@{items('Apply_to_each_4')}) is only available for users who have received training. Please make sure you have updated your training record here.<br>\n<br>\nOnly when you have received confirmation that your training record has been updated can you resubmit your booking request.<br>\n<br>\nThis is an automated email, please do not reply.</p>"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Compose_39":["Succeeded"]},"else":{"actions":{"ComposeTrainedEquip_2":{"runAfter":{},"type":"Compose","inputs":"@outputs('Get_items_Training_2')?['body']?['value'][0]?['equipArray']","description":"create array of equipment user has been trained on"},"Parse_JSON_2":{"runAfter":{"ComposeTrainedEquip_2":["Succeeded"]},"type":"ParseJson","inputs":{"content":"@outputs('ComposeTrainedEquip_2')","schema":{"type":"array","items":{"type":"object","properties":{"@@odata.type":{"type":"string"},"Id":{"type":"integer"},"Value":{"type":"string"}},"required":["@@odata.type","Id","Value"]}}}},"Apply_to_each_2":{"foreach":"@body('Parse_JSON_2')","actions":{"Compose_2":{"runAfter":{},"type":"Compose","inputs":"@items('Apply_to_each_2')['Value']"},"Append_to_array_variable_2":{"runAfter":{"Compose_2":["Succeeded"]},"type":"AppendToArrayVariable","inputs":{"name":"trainedEquipArray","value":"@outputs('Compose_2')"}}},"runAfter":{"Parse_JSON_2":["Succeeded"]},"type":"Foreach"}}},"expression":{"equals":["@first(outputs('Get_items_Training_2')?['body/value'])","@null"]},"type":"If"},"Compose_39":{"runAfter":{"Get_items_Training_2":["Succeeded"]},"type":"Compose","inputs":"@first(outputs('Get_items_Training_2')?['body/value'])"}},"runAfter":{},"type":"Scope"}},"runAfter":{"current_item":["Succeeded"]},"expression":{"contains":["@outputs('ControlledAccess_2')","@items('Apply_to_each_4')"]},"type":"If","description":"Is booking for controlled access/use"},"current_item":{"runAfter":{},"type":"Compose","inputs":"@items('Apply_to_each_4')"}},"runAfter":{"ControlledAccess_2":["Succeeded"]},"type":"Foreach","description":"for all peices of equipment requested, check if any of them have controlled access, if yes, return user training record and compare"},"Send_an_email_from_a_shared_mailbox_(V2)_5":{"runAfter":{"Condition_2":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365_1","operationId":"SharedMailboxSendEmailV2"},"parameters":{"emailMessage/MailboxAddress":"BCITechSupport@bristol.ac.uk","emailMessage/To":"BCITechSupport@bristol.ac.uk","emailMessage/Subject":"Lab Booking Request","emailMessage/Body":"<html>\n<head>\n<meta http-equiv=\"Content-Type\" content=\"text/html; charset=iso-8859-1\">\n<style type=\"text/css\" style=\"display:none;\"> P {margin-top:0;margin-bottom:0;} </style>\n</head>\n<body dir=\"ltr\">\n<div style=\"font-family: Calibri, Arial, Helvetica, sans-serif; font-size: 12pt; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);\">\n<div style=\"margin: 0px; font-size: 12pt; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);\">\n<b style=\"font-family: inherit; font-size: 14pt; font-style: inherit; font-variant-ligatures: inherit; font-variant-caps: inherit;\">New Lab Booking Request</b><br>\n</div>\n<div dir=\"ltr\" style=\"margin: 0px; font-size: 14px; font-family: &quot;Segoe UI&quot;, &quot;Segoe UI Web (West European)&quot;, &quot;Segoe UI&quot;, -apple-system, BlinkMacSystemFont, Roboto, &quot;Helvetica Neue&quot;, sans-serif; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);\">\n<div style=\"margin: 0px; font-size: 12pt; font-family: Calibri, Arial, Helvetica, sans-serif; background-color: rgb(255, 255, 255);\">\n<br>\n</div>\n<div style=\"margin: 0px; font-size: 12pt; font-family: Calibri, Arial, Helvetica, sans-serif; background-color: rgb(255, 255, 255);\">\n@{outputs('Get_user_profile_(V2)')?['body/displayName']} has submitted a booking request with the following details:</div>\n<div style=\"margin: 0px; font-size: 12pt; font-family: Calibri, Arial, Helvetica, sans-serif; background-color: rgb(255, 255, 255);\">\n<br>\n</div>\n<div style=\"margin: 0px; font-size: 12pt; font-family: Calibri, Arial, Helvetica, sans-serif; background-color: rgb(255, 255, 255);\">\n<table style=\"border-collapse:collapse\">\n<tbody>\n<tr style=\"background-color: rgb(255, 255, 255);\">\n<td style=\"width:120px;border-width:1px;border-style:solid;border-color:rgb(171, 171, 171)\">\n<b>Equipment</b></td>\n<td style=\"width:120px;border-width:1px;border-style:solid;border-color:rgb(171, 171, 171)\">\n<b>Start Date</b></td>\n<td style=\"width:120px;border-width:1px;border-style:solid;border-color:rgb(171, 171, 171)\">\n<b>Duration</b></td>\n</tr>\n<tr style=\"background-color: rgb(255, 255, 255);\">\n<td style=\"width:120px;border-width:1px;border-style:solid;border-color:rgb(171, 171, 171)\">\n@{replace(trim(replace(replace(replace(string(variables('sanatisedAddEquipArray')), '[', ''), ']', ''), '\"', '')), ',', '<br>')}</td>\n<td style=\"width:120px;border-width:1px;border-style:solid;border-color:rgb(171, 171, 171)\">\n<span style=\"margin: 0px; text-align: left; background-color: rgb(255, 255, 255); display: inline !important;\">@{formatDateTime(outputs('startDate'), 'dd/MM/yyyy HH:mm')}</span><br>\n</td>\n<td style=\"width:120px;border-width:1px;border-style:solid;border-color:rgb(171, 171, 171)\">\n@{outputs('Get_response_details')?['body/r62ce84fa4bd4489aa15d24a0a78a7d1f']}</td>\n</tr>\n</tbody>\n</table>\n<br>\n</div>\n<div style=\"margin: 0px; font-size: 12pt; font-family: Calibri, Arial, Helvetica, sans-serif; background-color: rgb(255, 255, 255);\">\n<br>\n</div>\n<div style=\"margin: 0px; font-size: 12pt; font-family: Calibri, Arial, Helvetica, sans-serif; background-color: rgb(255, 255, 255);\">\n<div style=\"margin:0px\">Note: In receiving this email, if the duration requested is greater than 3 days, it has already been approved by a Technical Specialist.</div>\n<div style=\"margin:0px\"><br>\n</div>\n<div style=\"margin:0px\">The user's training record has been consulted: If the user has not been trained on any of the equipment requested it will be listed below:</div>\n<div style=\"margin:0px\"><br>\n</div>\n<div style=\"margin:0px\">\n<table cellspacing=\"0\" cellpadding=\"1\" style=\"border-collapse: collapse;\">\n<tbody>\n<tr style=\"background-color: rgb(255, 255, 255);\">\n<td style=\"width: 120px; border-width: 1px; border-style: solid; border-color: rgb(171, 171, 171);\">\n<b>Not Trained</b></td>\n</tr>\n<tr style=\"background-color: rgb(255, 255, 255);\">\n<td style=\"width: 120px; border-width: 1px; border-style: solid; border-color: rgb(171, 171, 171);\">\n@{replace(trim(replace(replace(replace(string(variables('notTrained')), '[', ''), ']', ''), '\"', '')), ',', '<br>')}</td>\n</tr>\n</tbody>\n</table>\n</div>\n<div style=\"margin:0px\"><br>\n</div>\n<div style=\"margin:0px\"><br>\n</div>\n<div style=\"margin:0px\"> If the user has indicated they would like training, the table below lists the tech team members with a score indicating the proporation of requested equipment they can provide traiing on. Please contact the most appropriate person to discuss their availability.</div>\n<div style=\"margin:0px\"><br>\n</div><br>\n@{replace(replace(replace(replace(string(variables('ranked')), '[', ''), ']', ''), '\"', ''), ',', '<br>')}\n<div style=\"margin:0px\">The user has stated the below Risk Assessment details cover work pertinent to this booking. If status is not yet 'Approved' please check with the reviewer stated. The risk assessment is also attached to this email.</div>\n<div style=\"margin:0px\"><br>\n</div>\n<div style=\"margin:0px\">\n<table style=\"border-collapse:collapse\">\n<tbody>\n<tr style=\"background-color: rgb(255, 255, 255);\">\n<td style=\"width:120px;border-width:1px;border-style:solid;border-color:rgb(171, 171, 171)\">\n<b>ID</b></td>\n<td style=\"width:120px;border-width:1px;border-style:solid;border-color:rgb(171, 171, 171)\">\n<b>Status</b></td>\n<td style=\"width:120px;border-width:1px;border-style:solid;border-color:rgb(171, 171, 171)\">\n<b>Reviewers</b></td>\n<td style=\"width:120px;border-width:1px;border-style:solid;border-color:rgb(171, 171, 171)\">\n<b>Link</b></td>\n</tr>\n<tr style=\"background-color: rgb(255, 255, 255);\">\n<td style=\"width:120px;border-width:1px;border-style:solid;border-color:rgb(171, 171, 171)\">\n@{outputs('Get_response_details')?['body/r305880728d53428997d04f4905199a43']}</td>\n<td style=\"width:120px;border-width:1px;border-style:solid;border-color:rgb(171, 171, 171)\">\n@{outputs('RA_Approval_Status')}</td>\n<td style=\"width:120px;border-width:1px;border-style:solid;border-color:rgb(171, 171, 171)\">\n@{outputs('RA_Reviewers')}</td>\n<td style=\"width:120px;border-width:1px;border-style:solid;border-color:rgb(171, 171, 171)\">\n<A HREF=\"@{outputs('RA_Link')}\">Go to RA register</A></td>\n</tr>\n</tbody>\n</table>\n<br>\n<b>Notes from lab user: @{outputs('Get_response_details')?['body/r8a0632ac097746e8bf09c1c0294f388b']}</b><br>\n<br>\n</div>\n</div>\n</div>\n</div>\n</body>\n</html>\n","emailMessage/Attachments":[{"Name":"RA.@{outputs('Compose_6')}","ContentBytes":"@outputs('Get_attachment_content')?['body']"}]},"authentication":"@parameters('$authentication')"}},"Risk_Assessment":{"actions":{"Get_item":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItem"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","table":"a9fd6fed-0f52-4dd8-ae61-b0af21d79fa2","id":"@outputs('Get_response_details')?['body/r305880728d53428997d04f4905199a43']"},"authentication":"@parameters('$authentication')"}},"RA_Approval_Status":{"runAfter":{"Get_item":["Succeeded"]},"type":"Compose","inputs":"@outputs('Get_item')?['body/Approval']"},"RA_Link":{"runAfter":{"RA_Reviewers":["Succeeded"]},"type":"Compose","inputs":"@outputs('Get_item')?['body/{Link}']"},"Get_attachments":{"runAfter":{"RA_Link":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItemAttachments"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","table":"a9fd6fed-0f52-4dd8-ae61-b0af21d79fa2","itemId":"@outputs('Get_item')?['body/ID']"},"authentication":"@parameters('$authentication')"}},"Get_attachment_content":{"runAfter":{"Compose_6":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetAttachmentContent"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","table":"a9fd6fed-0f52-4dd8-ae61-b0af21d79fa2","itemId":"@outputs('Get_item')?['body/ID']","attachmentId":"@first(outputs('Get_attachments')?['body'])?['Id']"},"authentication":"@parameters('$authentication')"}},"Compose_6":{"runAfter":{"Get_attachments":["Succeeded"]},"type":"Compose","inputs":"@last(split(first(outputs('Get_attachments')?['body'])?['DisplayName'], '.'))"},"RA_Reviewers":{"runAfter":{"RA_Approval_Status":["Succeeded"]},"type":"Compose","inputs":"@outputs('Get_item')?['body/BCIReviewer']"},"Send_an_email_(V2)_2":{"runAfter":{"Compose":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"@outputs('Get_response_details')?['body/responder']","emailMessage/Subject":"Risk Assessment Retrieval","emailMessage/Body":"<p>Hi @{outputs('Get_user_profile_(V2)')?['body/displayName']},<br>\n<br>\nA risk assessment for the ID number provided (@{outputs('Get_response_details')?['body/r305880728d53428997d04f4905199a43']}) could not be found.<br>\n<br>\nPlease use this <A HREF=\"@{outputs('Compose')}\">link</A> to review all your submitted risk assessments and obtain the correct ID number before resubmitting your request.</p>"},"authentication":"@parameters('$authentication')"}},"Compose":{"runAfter":{"Get_item":["Failed"]},"type":"Compose","inputs":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam/Lists/Risk%20Assessment%20Submission%20Test%20Flow/AllItems.aspx?FilterField1=username&FilterValue1=@{outputs('ComposeUsername')}"}},"runAfter":{"Apply_to_each_4":["Succeeded"]},"type":"Scope"},"clean_additional_equip":{"actions":{"AddEquipString":{"runAfter":{},"type":"Compose","inputs":"@outputs('Get_response_details')?['body/r3587e5d7e36047588e8c412ef12a98e9']"},"Compose_3":{"runAfter":{"AddEquipString":["Succeeded"]},"type":"Compose","inputs":"@replace(replace(replace(outputs('AddEquipString'),']',''),'[',''),'\"','')"},"Compose_4":{"runAfter":{"Compose_3":["Succeeded"]},"type":"Compose","inputs":"@split(outputs('Compose_3'), ',')"},"Apply_to_each_3":{"foreach":"@outputs('Compose_4')","actions":{"Switch_4":{"runAfter":{},"cases":{"Case":{"case":"Video Gauge 1","actions":{"Append_to_array_variable_4":{"runAfter":{},"type":"AppendToArrayVariable","inputs":{"name":"sanatisedAddEquipArray","value":"Video Gauge"}}}},"Case_2":{"case":"Video Gauge 2","actions":{"Append_to_array_variable_5":{"runAfter":{},"type":"AppendToArrayVariable","inputs":{"name":"sanatisedAddEquipArray","value":"Video Gauge"}}}},"Case_3":{"case":"Video Gauge 3","actions":{"Append_to_array_variable_6":{"runAfter":{},"type":"AppendToArrayVariable","inputs":{"name":"sanatisedAddEquipArray","value":"Video Gauge"}}}},"Case_4":{"case":"Infratec 1","actions":{"Append_to_array_variable_7":{"runAfter":{},"type":"AppendToArrayVariable","inputs":{"name":"sanatisedAddEquipArray","value":"Infratec"}}}},"Case_5":{"case":"Infratec 2","actions":{"Append_to_array_variable_8":{"runAfter":{},"type":"AppendToArrayVariable","inputs":{"name":"sanatisedAddEquipArray","value":"Infratec"}}}},"Case_6":{"case":"SAZ 1","actions":{"Append_to_array_variable_9":{"runAfter":{},"type":"AppendToArrayVariable","inputs":{"name":"sanatisedAddEquipArray","value":"SAZ"}}}},"Case_7":{"case":"SAZ 2","actions":{"Append_to_array_variable_10":{"runAfter":{},"type":"AppendToArrayVariable","inputs":{"name":"sanatisedAddEquipArray","value":"SAZ"}}}},"Case_8":{"case":"SA1","actions":{"Append_to_array_variable_11":{"runAfter":{},"type":"AppendToArrayVariable","inputs":{"name":"sanatisedAddEquipArray","value":"SAZ"}}}}},"default":{"actions":{"Append_to_array_variable_12":{"runAfter":{},"type":"AppendToArrayVariable","inputs":{"name":"sanatisedAddEquipArray","value":"@items('Apply_to_each_3')"}}}},"expression":"@items('Apply_to_each_3')","type":"Switch"},"Compose_5":{"runAfter":{"Switch_4":["Succeeded"]},"type":"Compose","inputs":"@variables('sanatisedAddEquipArray')"}},"runAfter":{"Compose_4":["Succeeded"]},"type":"Foreach"}},"runAfter":{"Switch_3":["Succeeded"]},"type":"Scope"},"Condition":{"actions":{"Start_and_wait_for_an_approval":{"runAfter":{},"type":"OpenApiConnectionWebhook","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_approvals","connectionName":"shared_approvals","operationId":"StartAndWaitForAnApproval"},"parameters":{"approvalType":"Basic","WebhookApprovalCreationInput/title":"Extended Booking Request","WebhookApprovalCreationInput/assignedTo":"steven.rae@bristol.ac.uk;","WebhookApprovalCreationInput/details":"A request to book a piece of equipment for longer than the standard 3 days has been submitted. Please review the details below, if the request is justified, select 'Approve' and 'Submit'. The request will be forwarded to the BCI Technical Support shared mailbox.\n\nOtherwise, please select 'Reject' and provide comments to be fed back to the lab user before submitting.\n\nName: @{outputs('Get_user_profile_(V2)')?['body/displayName']}\nEquipment: @{string(variables('sanatisedAddEquipArray'))}\nStart Date: @{outputs('startDate')}\nDuration: @{outputs('Get_response_details')?['body/r62ce84fa4bd4489aa15d24a0a78a7d1f']}\nJustification: @{outputs('Get_response_details')?['body/r8a0632ac097746e8bf09c1c0294f388b']}","WebhookApprovalCreationInput/enableNotifications":true,"WebhookApprovalCreationInput/enableReassignment":true},"authentication":"@parameters('$authentication')"}},"Check_booking_duration":{"actions":{},"runAfter":{"Start_and_wait_for_an_approval":["Succeeded"]},"else":{"actions":{"Send_an_email_from_a_shared_mailbox_(V2)":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SharedMailboxSendEmailV2"},"parameters":{"emailMessage/MailboxAddress":"BCITechSupport@bristol.ac.uk","emailMessage/To":"@outputs('Get_response_details')?['body/responder']","emailMessage/Subject":"Extended Booking Request Rejected","emailMessage/Body":"<p>Hi @{outputs('Get_user_profile_(V2)')?['body/givenName']},<br>\n<br>\nThe BCI lab team have rejected your request for an extended booking time on the choosen equipment. Please see the comments provided below for further information.<br>\n<br>\n<strong>Feedback: </strong>@{first(outputs('Start_and_wait_for_an_approval')?['comments'])}<strong><br>\n<br>\n</strong>If you believe you have received this email in error, please contact the BCI team directly. This is an automated email, please do not reply.</p>"},"authentication":"@parameters('$authentication')"}},"Terminate_2":{"runAfter":{"Send_an_email_from_a_shared_mailbox_(V2)":["Succeeded"]},"type":"Terminate","inputs":{"runStatus":"Cancelled"}}}},"expression":{"equals":["@outputs('Start_and_wait_for_an_approval')?['body/outcome']","Approve"]},"type":"If"}},"runAfter":{"Append_to_array_variable_3":["Succeeded"]},"expression":{"and":[{"not":{"equals":["@outputs('Get_response_details')?['body/r62ce84fa4bd4489aa15d24a0a78a7d1f']","08:30 - 12:30"]}},{"not":{"equals":["@outputs('Get_response_details')?['body/r62ce84fa4bd4489aa15d24a0a78a7d1f']","12:30 - 16:30"]}},{"not":{"equals":["@outputs('Get_response_details')?['body/r62ce84fa4bd4489aa15d24a0a78a7d1f']","1 Day"]}},{"not":{"equals":["@outputs('Get_response_details')?['body/r62ce84fa4bd4489aa15d24a0a78a7d1f']","2 Days"]}},{"not":{"equals":["@outputs('Get_response_details')?['body/r62ce84fa4bd4489aa15d24a0a78a7d1f']","3 Days"]}},{"not":{"equals":["@outputs('Get_response_details')?['body/r62ce84fa4bd4489aa15d24a0a78a7d1f']","08:30 - 11:00 (Polishing Lab Only)"]}},{"not":{"equals":["@outputs('Get_response_details')?['body/r62ce84fa4bd4489aa15d24a0a78a7d1f']","11:30 - 13:30 (Polishing Lab Only)"]}},{"not":{"equals":["@outputs('Get_response_details')?['body/r62ce84fa4bd4489aa15d24a0a78a7d1f']","14:00 - 16:30 (Polishing Lab Only)"]}}]},"type":"If"},"Condition_2":{"actions":{"equipBooked":{"runAfter":{},"type":"Compose","inputs":"@variables('sanatisedAddEquipArray')"},"countEquip":{"runAfter":{"equipBooked":["Succeeded"]},"type":"Compose","inputs":"@length(outputs('equipBooked'))"},"scopeSteve":{"actions":{"Compose_7":{"runAfter":{},"type":"Compose","inputs":"@intersection(outputs('equipBooked'), variables('Steve'))"},"Compose_8":{"runAfter":{"Compose_7":["Succeeded"]},"type":"Compose","inputs":"@length(outputs('Compose_7'))"},"Compose_9":{"runAfter":{"Compose_8":["Succeeded"]},"type":"Compose","inputs":"@mul(div(float(outputs('Compose_8')), float(outputs('countEquip'))), 100)"},"Append_to_array_variable":{"runAfter":{"Compose_16":["Succeeded"]},"type":"AppendToArrayVariable","inputs":{"name":"ranked","value":"@concat('Steve: ', outputs('Compose_16'), '%', '<br>')"}},"Compose_16":{"runAfter":{"Compose_9":["Succeeded"]},"type":"Compose","inputs":"@first(split(string(outputs('Compose_9')), '.'))"}},"runAfter":{"countEquip":["Succeeded"]},"type":"Scope"},"scopeYusuf":{"actions":{"Compose_13":{"runAfter":{},"type":"Compose","inputs":"@intersection(outputs('equipBooked'), variables('yusuf'))"},"Compose_14":{"runAfter":{"Compose_13":["Succeeded"]},"type":"Compose","inputs":"@length(outputs('Compose_13'))"},"Compose_15":{"runAfter":{"Compose_14":["Succeeded"]},"type":"Compose","inputs":"@mul(div(float(outputs('Compose_14')), float(outputs('countEquip'))), 100)"},"Append_to_array_variable_15":{"runAfter":{"Compose_17":["Succeeded"]},"type":"AppendToArrayVariable","inputs":{"name":"ranked","value":"@concat('Yusuf: ', outputs('Compose_17'), '%', '<br>')"}},"Compose_17":{"runAfter":{"Compose_15":["Succeeded"]},"type":"Compose","inputs":"@first(split(string(outputs('Compose_15')), '.'))"}},"runAfter":{"countEquip":["Succeeded"]},"type":"Scope"},"scopeKatie":{"actions":{"Compose_10":{"runAfter":{},"type":"Compose","inputs":"@intersection(outputs('equipBooked'), variables('Katie'))"},"Compose_11":{"runAfter":{"Compose_10":["Succeeded"]},"type":"Compose","inputs":"@length(outputs('Compose_10'))"},"Compose_12":{"runAfter":{"Compose_11":["Succeeded"]},"type":"Compose","inputs":"@mul(div(float(outputs('Compose_11')), float(outputs('countEquip'))), 100)"},"Append_to_array_variable_14":{"runAfter":{"Compose_18":["Succeeded"]},"type":"AppendToArrayVariable","inputs":{"name":"ranked","value":"@concat('Katie: ', outputs('Compose_18'), '%', '<br>')"}},"Compose_18":{"runAfter":{"Compose_12":["Succeeded"]},"type":"Compose","inputs":"@first(split(string(outputs('Compose_12')), '.'))"}},"runAfter":{"countEquip":["Succeeded"]},"type":"Scope"},"scopeAllison":{"actions":{"Compose_19":{"runAfter":{},"type":"Compose","inputs":"@intersection(outputs('equipBooked'), variables('Allison'))"},"Compose_20":{"runAfter":{"Compose_19":["Succeeded"]},"type":"Compose","inputs":"@length(outputs('Compose_19'))"},"Compose_21":{"runAfter":{"Compose_20":["Succeeded"]},"type":"Compose","inputs":"@mul(div(float(outputs('Compose_20')), float(outputs('countEquip'))), 100)"},"Append_to_array_variable_16":{"runAfter":{"Compose_22":["Succeeded"]},"type":"AppendToArrayVariable","inputs":{"name":"ranked","value":"@concat('Allison: ', outputs('Compose_22'), '%', '<br>')"}},"Compose_22":{"runAfter":{"Compose_21":["Succeeded"]},"type":"Compose","inputs":"@first(split(string(outputs('Compose_21')), '.'))"}},"runAfter":{"countEquip":["Succeeded"]},"type":"Scope"},"scopeJames":{"actions":{"Compose_23":{"runAfter":{},"type":"Compose","inputs":"@intersection(outputs('equipBooked'), variables('James'))"},"Compose_24":{"runAfter":{"Compose_23":["Succeeded"]},"type":"Compose","inputs":"@length(outputs('Compose_23'))"},"Compose_25":{"runAfter":{"Compose_24":["Succeeded"]},"type":"Compose","inputs":"@mul(div(float(outputs('Compose_24')), float(outputs('countEquip'))), 100)"},"Append_to_array_variable_17":{"runAfter":{"Compose_26":["Succeeded"]},"type":"AppendToArrayVariable","inputs":{"name":"ranked","value":"@concat('James: ', outputs('Compose_26'), '%', '<br>')"}},"Compose_26":{"runAfter":{"Compose_25":["Succeeded"]},"type":"Compose","inputs":"@first(split(string(outputs('Compose_25')), '.'))"}},"runAfter":{"countEquip":["Succeeded"]},"type":"Scope"},"scopeHugh":{"actions":{"Compose_27":{"runAfter":{},"type":"Compose","inputs":"@intersection(outputs('equipBooked'), variables('Hugh'))"},"Compose_28":{"runAfter":{"Compose_27":["Succeeded"]},"type":"Compose","inputs":"@length(outputs('Compose_27'))"},"Compose_29":{"runAfter":{"Compose_28":["Succeeded"]},"type":"Compose","inputs":"@mul(div(float(outputs('Compose_28')), float(outputs('countEquip'))), 100)"},"Append_to_array_variable_18":{"runAfter":{"Compose_30":["Succeeded"]},"type":"AppendToArrayVariable","inputs":{"name":"ranked","value":"@concat('Hugh: ', outputs('Compose_30'), '%', '<br>')"}},"Compose_30":{"runAfter":{"Compose_29":["Succeeded"]},"type":"Compose","inputs":"@first(split(string(outputs('Compose_29')), '.'))"}},"runAfter":{"countEquip":["Succeeded"]},"type":"Scope"},"scopeIan":{"actions":{"Compose_31":{"runAfter":{},"type":"Compose","inputs":"@intersection(outputs('equipBooked'), variables('Ian'))"},"Compose_32":{"runAfter":{"Compose_31":["Succeeded"]},"type":"Compose","inputs":"@length(outputs('Compose_31'))"},"Compose_33":{"runAfter":{"Compose_32":["Succeeded"]},"type":"Compose","inputs":"@mul(div(float(outputs('Compose_32')), float(outputs('countEquip'))), 100)"},"Append_to_array_variable_19":{"runAfter":{"Compose_34":["Succeeded"]},"type":"AppendToArrayVariable","inputs":{"name":"ranked","value":"@concat('Ian: ', outputs('Compose_34'), '%', '<br>')"}},"Compose_34":{"runAfter":{"Compose_33":["Succeeded"]},"type":"Compose","inputs":"@first(split(string(outputs('Compose_33')), '.'))"}},"runAfter":{"countEquip":["Succeeded"]},"type":"Scope"},"scopeRich":{"actions":{"Compose_35":{"runAfter":{},"type":"Compose","inputs":"@intersection(outputs('equipBooked'), variables('Rich'))"},"Compose_36":{"runAfter":{"Compose_35":["Succeeded"]},"type":"Compose","inputs":"@length(outputs('Compose_35'))"},"Compose_37":{"runAfter":{"Compose_36":["Succeeded"]},"type":"Compose","inputs":"@mul(div(float(outputs('Compose_36')), float(outputs('countEquip'))), 100)"},"Append_to_array_variable_20":{"runAfter":{"Compose_38":["Succeeded"]},"type":"AppendToArrayVariable","inputs":{"name":"ranked","value":"@concat('Rich: ', outputs('Compose_38'), '%', '<br>')"}},"Compose_38":{"runAfter":{"Compose_37":["Succeeded"]},"type":"Compose","inputs":"@first(split(string(outputs('Compose_37')), '.'))"}},"runAfter":{"countEquip":["Succeeded"]},"type":"Scope"}},"runAfter":{"Risk_Assessment":["Succeeded"]},"expression":{"equals":["@outputs('Get_response_details')?['body/r52b24ce084c34d4fb5cdaedc17b122ec']","Yes"]},"type":"If"}},"runAfter":{"Get_items_Registration":["Succeeded"]},"else":{"actions":{"Send_an_email_from_a_shared_mailbox_(V2)_4":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365_1","operationId":"SharedMailboxSendEmailV2"},"parameters":{"emailMessage/MailboxAddress":"BCITechSupport@bristol.ac.uk","emailMessage/To":"@outputs('Get_user_profile_(V2)')?['body/mail']","emailMessage/Subject":"Booking Request Denied","emailMessage/Body":"<p>Hi @{outputs('Get_user_profile_(V2)')?['body/givenName']},<br>\n<br>\nYour details could not be found on the lab register for the academic year 2021 - 2022. You must be a registered lab user before you can book equipment.<br>\n<br>\nIf you believe this is an error, please speak to the BCI Technical Support Team.<br>\n<br>\nYour booking request has been cancelled.<br>\n<br>\nThis is an automated email, please do not reply directly.</p>"},"authentication":"@parameters('$authentication')"}}}},"expression":{"greater":["@length(outputs('Get_items_Registration')?['body/value'])",0]},"type":"If","description":"check that user is registered as a lab user"}},"runAfter":{"Rich":["Succeeded"]},"type":"Scope"},"Send_an_email_(V2)":{"runAfter":{"Scope":["Failed","TimedOut"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"steven.rae@bristol.ac.uk","emailMessage/Subject":"Lab Booking Flow Failure","emailMessage/Body":"<p>@{outputs('Get_response_details')?['body/responder']}<br>\n@{utcNow()}<br>\n<br>\nStart Time: @{utcNow()}</p>"},"authentication":"@parameters('$authentication')"}},"ranked":{"runAfter":{"Initialize_variable_-_not_trained_array":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"ranked","type":"array"}]}},"Yusuf":{"runAfter":{"ranked":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"Yusuf","type":"array","value":["Shimadzu","Oven","Zeiss Microscope","Olympus Microscope","VG Studio PC","Video Gauge","LaVision 16 MP DIC","LaVision 5 MP DIC","New DIC","FLIR T650","FLIR E60","MatchID","DSLR","SAZ","LED High Speed","Pico Logger"]}]}},"Steve":{"runAfter":{"Yusuf":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"Steve","type":"array","value":["Shimadzu","Hot Press","Oven","TA DSC","SEM","Zeiss Microscope","Olympus Microscope","Alicona","Video Gauge","LaVision 16 MP DIC","LaVision 5 MP DIC","FLIR T650","FLIR E60","DSLR","SAZ","Pico Logger","Kirana"]}]}},"Katie":{"runAfter":{"Steve":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"Katie","type":"array","value":["Cscanner","HDI Rig","TA DSC","Polisher","Precision Saw","Zeiss Microscope","VG Studio PC"]}]}},"James":{"runAfter":{"Allison":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"James","type":"array","value":[]}]}},"Hugh":{"runAfter":{"James":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"Hugh","type":"array","value":[]}]}},"Ian":{"runAfter":{"Hugh":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"Ian","type":"array","value":[]}]}},"Rich":{"runAfter":{"Ian":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"Rich","type":"array","value":["Shimadzu","Video Gauge","Oven","Zeiss Microscope","Precision Saw","TA DSC","Rheometer","VG Studio PC"]}]}},"Allison":{"runAfter":{"Katie":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"Allison","type":"array","value":["Shimadzu","Oven","SEM","Zeiss Microscope","Video Gauge","Cscanner","Polisher"]}]}},"Send_an_email_from_a_shared_mailbox_(V2)_2":{"runAfter":{"Scope":["Failed","TimedOut"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SharedMailboxSendEmailV2"},"parameters":{"emailMessage/MailboxAddress":"BCITechSupport@bristol.ac.uk","emailMessage/To":"@outputs('Get_response_details')?['body/responder']","emailMessage/Subject":"Lab Booking Error","emailMessage/Body":"<p>Hi @{outputs('Get_user_profile_(V2)')?['body/givenName']},<br>\n<br>\nThere was an error submitting your request for a new lab booking. Please check all the information you have entered is correct before resubmitting.<br>\n<br>\nIf you continue to receive error messages, please contact the BCI Tech Support team directly.<br>\n<br>\nThis is an automated email, please do not reply directly.</p>"},"authentication":"@parameters('$authentication')"}}}}