Ply Job Query_FlowDef.json
{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"splitOn":"@triggerBody()['rows']","type":"Request","kind":"ApiConnection","inputs":{"schema":{"type":"object","properties":{"rows":{"type":"array","items":{"type":"object","properties":{"text":{"title":"Has this job been completed?","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT","enum":["No","Yes"]},"number":{"title":"Linear Metres","type":"number","x-ms-dynamically-added":true,"description":"Please enter a number","x-ms-content-hint":"NUMBER"},"text_1":{"title":"Notes to user","type":"string","x-ms-dynamically-added":true,"description":"Please add any other notes you wish to be sent to the customer","x-ms-content-hint":"TEXT"},"text_2":{"title":"Time Out Freezer","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_3":{"title":"Storage Location","type":"string","x-ms-dynamically-added":true,"description":"Please state where the customer can find their cut plies","x-ms-content-hint":"TEXT"},"entity":{"type":"object","properties":{"ID":{"title":"ID","type":"integer","format":"int64"}},"required":["ID"]}},"required":["text","number","text_2","text_3","entity"]}}},"required":["rows"]},"host":{"connection":{"name":"@parameters('$connections')['shared_sharepointonline']['connectionId']"}},"operationId":"GetItemHybridTriggerSchema","parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","table":"7101b86f-1d00-42c1-806c-4e0441dbfc79"}}}},"actions":{"Initialize_variable":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"response","type":"string","value":"@triggerBody()['text']"}]}},"Condition":{"actions":{"Send_an_email_from_a_shared_mailbox_(V2)":{"runAfter":{"Update_item":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SharedMailboxSendEmailV2"},"parameters":{"emailMessage/MailboxAddress":"BCITechSupport@bristol.ac.uk","emailMessage/To":"@concat(outputs('Update_item')?['body/Username'], '@bristol.ac.uk')","emailMessage/Subject":"Ply Cutting Request","emailMessage/Body":"<p>Hi @{outputs('Update_item')?['body/Name']},<br>\n<br>\nYour plies (Job No. @{triggerBody()?['entity']?['ID']}) have been cut and ready to collect from the lab.<br>\n<br>\nLocation: <br>\n<br>\nTime Out Freezer: @{outputs('Update_item')?['body/TimeOutFreezer']}<br>\n<br>\nNotes: @{outputs('Update_item')?['body/Notestouser']}<br>\n<br>\nThis email is automated, please do not reply directly.</p>"},"authentication":"@parameters('$authentication')"}},"Update_item":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","table":"7101b86f-1d00-42c1-806c-4e0441dbfc79","id":"@triggerBody()?['entity']?['ID']","item/LinearMetre":"@triggerBody()['number']","item/TimeOutFreezer":"@triggerBody()['text_2']","item/Location":"@triggerBody()['text_3']","item/Status":"Ready to collect","item/Completed_x003f_/Value":"Yes","item/Notestouser":"@triggerBody()['text_1']"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Initialize_variable":["Succeeded"]},"else":{"actions":{"Terminate":{"runAfter":{},"type":"Terminate","inputs":{"runStatus":"Succeeded"}}}},"expression":{"equals":["@variables('response')","Yes"]},"type":"If"}}}