PowerApp Backup_FlowDef.json
{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"70f5de0f-61d8-461c-a0ca-ef8859f0bad5"},"type":"Request","kind":"Button","inputs":{"schema":{"type":"object","properties":{},"required":[]}}}},"actions":{"Get_App":{"runAfter":{},"metadata":{"operationMetadataId":"5b58c266-1719-4d2a-8769-9a282b9aa1c8"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_powerappsforappmakers","connectionName":"shared_powerappsforappmakers","operationId":"Get-App"},"parameters":{"app":"16782d79-5b1b-46c0-8b70-507851eeab41","api-version":"2016-11-01"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"HTTP":{"runAfter":{"Get_App":["Succeeded"]},"metadata":{"operationMetadataId":"16a15e01-d565-4c8d-83ca-14307ae5e38b"},"type":"Http","inputs":{"method":"GET","uri":"@outputs('Get_App')?['body/properties/appUris/documentUri/readonlyValue']"}},"Create_file":{"runAfter":{"HTTP":["Succeeded"]},"metadata":{"operationMetadataId":"cf7e53e2-3e6c-4eee-94e0-ef25aa737ef6"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","connectionName":"shared_onedriveforbusiness","operationId":"CreateFile"},"parameters":{"folderPath":"/PowerBackup","name":"@{outputs('Get_App')?['body/name']}_Backup.msapp","body":"@body('HTTP')"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}}}}