Risk Assessment Submission_FlowDef.json
{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_new_response_is_submitted":{"splitOn":"@triggerOutputs()?['body/value']","metadata":{"operationMetadataId":"1405c384-f455-404c-b938-9a5e26ae8c42"},"type":"OpenApiConnectionWebhook","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_microsoftforms","connectionName":"shared_microsoftforms","operationId":"CreateFormWebhook"},"parameters":{"form_id":"MH_ksn3NTkql2rGM8aQVG2PvPX4q_EVEiz61XmYMV4RUMjMwWEZQWjBKRjA4REE4SFE5VlBXWUoyWCQlQCN0PWcu"},"authentication":"@parameters('$authentication')"}}},"actions":{"Scope":{"actions":{"Get_response_details":{"runAfter":{},"metadata":{"operationMetadataId":"6ea1742b-3f9d-4467-b7ce-6af882047739"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_microsoftforms","connectionName":"shared_microsoftforms","operationId":"GetFormResponseById"},"parameters":{"form_id":"MH_ksn3NTkql2rGM8aQVG2PvPX4q_EVEiz61XmYMV4RUMjMwWEZQWjBKRjA4REE4SFE5VlBXWUoyWCQlQCN0PWcu","response_id":"@triggerOutputs()?['body/resourceData/responseId']"},"authentication":"@parameters('$authentication')"}},"Get_user_profile_(V2)":{"runAfter":{"Get_response_details":["Succeeded"]},"metadata":{"operationMetadataId":"debad86d-18ca-4221-b6a1-e88e70fa2698"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365users","connectionName":"shared_office365users","operationId":"UserProfile_V2"},"parameters":{"id":"@outputs('Get_response_details')?['body/responder']"},"authentication":"@parameters('$authentication')"}},"username":{"runAfter":{"Get_user_profile_(V2)":["Succeeded"]},"metadata":{"operationMetadataId":"dfdb1fbb-51af-4bd5-b459-e1bbf1eeedca"},"type":"Compose","inputs":"@outputs('Get_user_profile_(V2)')?['body/mailNickname']"},"Get_items":{"runAfter":{"Compose_-_reviewlink":["Succeeded"]},"metadata":{"operationMetadataId":"d30d08a6-a781-4009-81aa-87ec6a59d1a9"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItems"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","table":"a2df07f2-720d-4869-a439-dfe282b0af0c","$filter":"Title eq '@{outputs('username')}' and AcademicYear eq '2021 - 2022'"},"authentication":"@parameters('$authentication')"}},"ComposeSupervisor":{"runAfter":{"Get_items":["Succeeded"]},"metadata":{"operationMetadataId":"1ab82d7b-0f87-485f-8e30-c6c7cfd00b11"},"type":"Compose","inputs":"@first(outputs('Get_items')?['body/value'])?['supervisoremail']"},"Condition":{"actions":{"Compose":{"runAfter":{},"metadata":{"operationMetadataId":"2379a178-b181-4980-bf7e-00bd7423aaa3"},"type":"Compose","inputs":"@first(body('Get_items')?['value'])?['Supervisor']"},"Parse_JSON":{"runAfter":{"Compose":["Succeeded"]},"metadata":{"operationMetadataId":"7b86c8e8-f9a2-4663-8f7b-542c0596e14f"},"type":"ParseJson","inputs":{"content":"@outputs('Get_response_details')?['body/rad026ab19fdd45e9894a4d5ccea55202']","schema":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"link":{"type":"string"},"id":{"type":"string"},"type":{},"size":{"type":"integer"},"referenceId":{"type":"string"},"driveId":{"type":"string"},"status":{"type":"integer"},"uploadSessionUrl":{}},"required":["name","link","id","type","size","referenceId","driveId","status","uploadSessionUrl"]}}}},"Compose_2":{"runAfter":{"Parse_JSON":["Succeeded"]},"metadata":{"operationMetadataId":"2f541434-c9a8-4a22-8fc4-fac816a7bc7c"},"type":"Compose","inputs":"@last(split(first(body('Parse_JSON'))['name'], '.'))"},"Create_item":{"runAfter":{"Get_file_content_using_path_2":["Succeeded"]},"metadata":{"operationMetadataId":"bf0d933b-8027-49f6-92f1-e937335631af"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PostItem"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","table":"a9fd6fed-0f52-4dd8-ae61-b0af21d79fa2","item/Title":"@{outputs('Get_user_profile_(V2)')?['body/surname']}_@{outputs('Get_response_details')?['body/r47782169041047fd80a7265bd799ae80']}","item/Approval":"Pending","item/username":"@outputs('username')","item/Surname":"@outputs('Get_user_profile_(V2)')?['body/surname']","item/FirstName_x0028_s_x0029_":"@outputs('Get_user_profile_(V2)')?['body/givenName']","item/Area":"@outputs('Get_response_details')?['body/r47782169041047fd80a7265bd799ae80']","item/Supervisor":"@outputs('Compose')","item/Supervisoremail":"@first(body('Get_items')?['value'])?['Supervisor']","item/UploadRiskAssessment":"@outputs('Get_response_details')?['body/rad026ab19fdd45e9894a4d5ccea55202']"},"authentication":"@parameters('$authentication')"}},"Add_attachment":{"runAfter":{"Update_item_8":["Succeeded"]},"metadata":{"operationMetadataId":"e34ee1f8-689c-4fd3-86e5-2bb3ebf5cc67"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"CreateAttachment"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","table":"a9fd6fed-0f52-4dd8-ae61-b0af21d79fa2","itemId":"@outputs('Create_item')?['body/ID']","displayName":"@{outputs('Get_user_profile_(V2)')?['body/surname']}_@{outputs('Create_item')?['body/ID']}.@{outputs('Compose_2')}","body":"@outputs('Get_file_content_using_path_2')?['body']"},"authentication":"@parameters('$authentication')"},"description":"Adds the submitted risk assessment doc file as an attachment to the item in the sharepoint list."},"Start_and_wait_for_an_approval":{"runAfter":{"Send_an_email_from_a_shared_mailbox_(V2)_5":["Succeeded"]},"metadata":{"operationMetadataId":"1c950483-abe8-4e37-b3ca-d5ee9f2a3d9a"},"type":"OpenApiConnectionWebhook","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_approvals","connectionName":"shared_approvals","operationId":"StartAndWaitForAnApproval"},"parameters":{"approvalType":"Basic","WebhookApprovalCreationInput/title":"Risk Assessment Approval","WebhookApprovalCreationInput/assignedTo":"@outputs('ComposeSupervisor')","WebhookApprovalCreationInput/details":"## Action Required - Risk Assessment Approval\n\n@{body('Get_user_profile_(V2)')?['givenName']}  has submitted a risk assessment for a procedure they wish to undertake in the laboratory.  \n\nAs their supervisor, please review their assessment of the risks associated with this activity. \n\n### Major Omissions\n\nIf they have missed any important safety considerations, please select \"**Reject**\" and enter your comments in the box provided, then click \"**Submit**\".  These comments will be passed to @{body('Get_user_profile_(V2)')?['displayName']} to make the necessary changes before re-submission.  \n\n### Minor Omissions\n\nIf only minor changes are required, please select \"**Accept**\" and enter your comments in the box provied, then click \"**Submit**\". The risk assessment will be forwarded to the BCI Technical Team for final review whereby your comments will be included in the feedback to @{body('Get_user_profile_(V2)')?['displayName']} before the final draft is submitted.  \n\n### Note\nPlease note any changes made to the attached document won't be saved.","WebhookApprovalCreationInput/enableNotifications":true,"WebhookApprovalCreationInput/enableReassignment":true,"WebhookApprovalCreationInput/attachments":[{"name":"@outputs('Add_attachment')?['body/DisplayName']","content":"@outputs('Get_file_content_using_path_2')?['body']"}]},"authentication":"@parameters('$authentication')"}},"Condition_2":{"actions":{"Send_an_email_from_a_shared_mailbox_(V2)_2":{"runAfter":{},"metadata":{"operationMetadataId":"65011383-50ba-43ad-9f7b-df02540a1e2e"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SharedMailboxSendEmailV2"},"parameters":{"emailMessage/MailboxAddress":"BCITechSupport@bristol.ac.uk","emailMessage/To":"@outputs('Get_user_profile_(V2)')?['body/mail']","emailMessage/Subject":"Risk Assessment Approval","emailMessage/Body":"<p>Hi @{body('Get_user_profile_(V2)')?['givenName']},<br>\n<br>\nYour supervisor has approved your Risk Assessment. It has now been passed to the BCI Team for final review.<br>\n<br>\nYou can check the status of your Risk Assessment and view who it has been assigned to for review using this <A HREF=\"@{outputs('Compose_-_reviewlink')}\">link</A>.<br>\n<br>\nThis is an automated email. Please do not reply.</p>"},"authentication":"@parameters('$authentication')"}},"Update_item":{"runAfter":{"Send_an_email_from_a_shared_mailbox_(V2)_2":["Succeeded"]},"metadata":{"operationMetadataId":"15b67f7c-65c6-4799-9c7e-9ad807b0aa14"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","table":"a9fd6fed-0f52-4dd8-ae61-b0af21d79fa2","id":"@outputs('Create_item')?['body/ID']","item/Title":"@{outputs('Create_item')?['body/Surname']}_@{outputs('Create_item')?['body/ID']}","item/Approval":"Passed Supervisor"},"authentication":"@parameters('$authentication')"}},"Switch":{"runAfter":{"Update_item":["Succeeded"]},"cases":{"Case":{"case":"Resin Chemistry","actions":{"Update_item_2":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","table":"a9fd6fed-0f52-4dd8-ae61-b0af21d79fa2","id":"@outputs('Update_item')?['body/ID']","item/Title":"@{outputs('Create_item')?['body/Surname']}_@{outputs('Create_item')?['body/ID']}","item/Approval":"Passed Supervisor","item/BCIReviewer":"Steve Rae / Hugh James"},"authentication":"@parameters('$authentication')"}},"Start_and_wait_for_an_approval_2":{"runAfter":{"Update_item_2":["Succeeded"]},"type":"OpenApiConnectionWebhook","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_approvals","connectionName":"shared_approvals","operationId":"StartAndWaitForAnApproval"},"parameters":{"approvalType":"Basic","WebhookApprovalCreationInput/title":"Risk Assessment Approval","WebhookApprovalCreationInput/assignedTo":"steven.rae@bristol.ac.uk; Hugh.James@bristol.ac.uk","WebhookApprovalCreationInput/details":"## Action Required - Risk Assessment Approval\n\n@{body('Get_user_profile_(V2)')?['displayName']}  has submitted a risk assessment that requires your approval. It has already been approved by their supervisor  with any minor comments listed below. These comments will be included in the feedback email automatically if you reject the approval.\n\nSupervisor Comments: @{first(body('Start_and_wait_for_an_approval')?['responses'])?['comments']}\n\n\n\nIf amendments are required please select \"**Reject**\" and use the comments box before submitting. These comments will be forwarded to @{body('Get_user_profile_(V2)')?['givenName']} for their final draft submission.\n\nPlease remember any changes to the attached draft won't be saved.","WebhookApprovalCreationInput/enableNotifications":true,"WebhookApprovalCreationInput/enableReassignment":true,"WebhookApprovalCreationInput/attachments":[{"name":"@outputs('Add_attachment')?['body/DisplayName']","content":"@outputs('Get_file_content_using_path_2')?['body']"}]},"authentication":"@parameters('$authentication')"}},"Condition_8":{"actions":{},"runAfter":{"Start_and_wait_for_an_approval_2":["Succeeded"]},"else":{"actions":{"BCIcom1":{"runAfter":{},"type":"Compose","inputs":"@outputs('Start_and_wait_for_an_approval_2')['body']['responses'][0]?['comments']"}}},"expression":{"equals":["@outputs('Start_and_wait_for_an_approval_2')?['body']?['responses'][0]?['comments']","@null"]},"type":"If"},"Condition_9":{"actions":{"Update_item_9":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","table":"a9fd6fed-0f52-4dd8-ae61-b0af21d79fa2","id":"@outputs('Create_item')?['body/ID']","item/Title":"@{outputs('Update_item')?['body/Surname']}_@{outputs('Update_item')?['body/ID']}","item/Approval":"Approved"},"authentication":"@parameters('$authentication')"}},"Send_an_email_from_a_shared_mailbox_(V2)_7":{"runAfter":{"Update_item_9":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SharedMailboxSendEmailV2"},"parameters":{"emailMessage/MailboxAddress":"BCITechSupport@bristol.ac.uk","emailMessage/To":"@outputs('Get_user_profile_(V2)')?['body/mail']","emailMessage/Subject":"Risk Assessment Approval","emailMessage/Body":"<p>Hi @{outputs('Get_user_profile_(V2)')?['body/givenName']},<br>\n<br>\nBCI has approved your risk assessment. Please use only the attached version and keep with any active experimental work.<br>\n<br>\n<strong>To book equipment you will need to use your Risk Assessment Reference Number: </strong><strong>@{outputs('Update_item_9')?['body/ID']}</strong><strong><br>\n<br>\n</strong>To view all your risk assessments and check their status please click <a href=\"https://uob.sharepoint.com/teams/ACCISLabSupportTeam/Lists/Risk%20Assessment%20Submission%20Test%20Flow/AllItems.aspx?FilterField1=username&amp;FilterValue1=&lt;object custom=\"></a>@{outputs('username')}<a href=\"https://uob.sharepoint.com/teams/ACCISLabSupportTeam/Lists/Risk%20Assessment%20Submission%20Test%20Flow/AllItems.aspx?FilterField1=username&amp;FilterValue1=&lt;object custom=\">\"&gt;here.</a><br>\nAlthough your risk assessment has been approved, please make any required changes as per the comments below:<br>\n<br>\n<strong>BCI Team:<br>\n<br>\n</strong><strong>@{outputs('BCIcom1')}</strong><strong><br>\n<br>\nSupervisor:<br>\n<br>\n</strong><strong>@{first(body('Start_and_wait_for_an_approval')?['responses'])?['comments']}</strong><strong></strong></p>","emailMessage/Attachments":[{"Name":"@outputs('Add_attachment')?['body/DisplayName']","ContentBytes":"@outputs('Get_file_content_using_path_2')?['body']"}]},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Condition_8":["Succeeded"]},"else":{"actions":{"Delete_item_3":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"DeleteItem"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","table":"a9fd6fed-0f52-4dd8-ae61-b0af21d79fa2","id":"@outputs('Create_item')?['body/ID']"},"authentication":"@parameters('$authentication')"}},"Send_an_email_from_a_shared_mailbox_(V2)_8":{"runAfter":{"Delete_item_3":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SharedMailboxSendEmailV2"},"parameters":{"emailMessage/MailboxAddress":"BCITechSupport@bristol.ac.uk","emailMessage/To":"@outputs('Get_user_profile_(V2)')?['body/mail']","emailMessage/Subject":"Risk Assessment Approval","emailMessage/Body":"<p>Hi @{outputs('Get_user_profile_(V2)')?['body/givenName']},<br>\n<br>\nThe BCI team has rejected the risk assessment you submitted. Please check their comments below and make the necessary changes before resubmitting. Included are any minor comments your supervisor made before passing your risk assessment to the BCI team.<br>\n<br>\n<strong>BCI Team:<br>\n<br>\n</strong><strong>@{outputs('BCIcom1')}</strong><strong><br>\n<br>\nSupervisor:<br>\n<br>\n</strong><strong>@{first(body('Start_and_wait_for_an_approval')?['responses'])?['comments']}</strong><strong></strong></p>"},"authentication":"@parameters('$authentication')"}}}},"expression":{"equals":["@outputs('Start_and_wait_for_an_approval_2')?['body/outcome']","Approve"]},"type":"If"}}},"Case_2":{"case":"Manufacturing","actions":{"Update_item_4":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","table":"a9fd6fed-0f52-4dd8-ae61-b0af21d79fa2","id":"@outputs('Update_item')?['body/ID']","item/Title":"@{outputs('Create_item')?['body/Surname']}_@{outputs('Create_item')?['body/ID']}","item/Approval":"Passed Supervisor","item/BCIReviewer":"Richard van Gelder / Ian Chorley"},"authentication":"@parameters('$authentication')"}},"Start_and_wait_for_an_approval_3":{"runAfter":{"Update_item_4":["Succeeded"]},"type":"OpenApiConnectionWebhook","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_approvals","connectionName":"shared_approvals","operationId":"StartAndWaitForAnApproval"},"parameters":{"approvalType":"Basic","WebhookApprovalCreationInput/title":"Risk Assessment Approval","WebhookApprovalCreationInput/assignedTo":"rv15685@bristol.ac.uk; feikc@bristol.ac.uk","WebhookApprovalCreationInput/details":"## Action Required - Risk Assessment Approval\n\n@{body('Get_user_profile_(V2)')?['displayName']}  has submitted a risk assessment that requires your approval. It has already been approved by their supervisor  with any minor comments listed below. These comments will be included in the feedback email automatically if you reject the approval.\n\nSupervisor Comments: @{first(body('Start_and_wait_for_an_approval')?['responses'])?['comments']}\n\n\n\nIf amendments are required please select \"**Reject**\" and use the comments box before submitting. These comments will be forwarded to @{body('Get_user_profile_(V2)')?['givenName']} for their final draft submission.\n\nPlease remember any changes to the attached draft won't be saved.","WebhookApprovalCreationInput/enableNotifications":true,"WebhookApprovalCreationInput/enableReassignment":true,"WebhookApprovalCreationInput/attachments":[{"name":"@outputs('Add_attachment')?['body/DisplayName']","content":"@outputs('Get_file_content_using_path_2')?['body']"}]},"authentication":"@parameters('$authentication')"}},"Condition_7":{"actions":{},"runAfter":{"Start_and_wait_for_an_approval_3":["Succeeded"]},"else":{"actions":{"BCIcom2":{"runAfter":{},"type":"Compose","inputs":"@outputs('Start_and_wait_for_an_approval_3')['body']['responses'][0]?['comments']"}}},"expression":{"equals":["@outputs('Start_and_wait_for_an_approval_3')?['body']?['responses'][0]?['comments']","@null"]},"type":"If"},"Condition_10":{"actions":{"Update_item_10":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","table":"a9fd6fed-0f52-4dd8-ae61-b0af21d79fa2","id":"@outputs('Create_item')?['body/ID']","item/Title":"@{outputs('Update_item')?['body/Surname']}_@{outputs('Update_item')?['body/ID']}","item/Approval":"Approved"},"authentication":"@parameters('$authentication')"}},"Send_an_email_from_a_shared_mailbox_(V2)_9":{"runAfter":{"Update_item_10":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SharedMailboxSendEmailV2"},"parameters":{"emailMessage/MailboxAddress":"BCITechSupport@bristol.ac.uk","emailMessage/To":"@outputs('Get_user_profile_(V2)')?['body/mail']","emailMessage/Subject":"Risk Assessment Approval","emailMessage/Body":"<p>Hi @{outputs('Get_user_profile_(V2)')?['body/givenName']},<br>\n<br>\nBCI has approved your risk assessment. Please use only the attached version and keep with any active experimental work.<br>\n<br>\n<strong>To book equipment you will need to use your Risk Assessment Reference Number: </strong><strong>@{outputs('Update_item_10')?['body/ID']}</strong><strong><br>\n<br>\n</strong>To view all your risk assessments and check their status please click <a href=\"https://uob.sharepoint.com/teams/ACCISLabSupportTeam/Lists/Risk%20Assessment%20Submission%20Test%20Flow/AllItems.aspx?FilterField1=username&amp;FilterValue1=@{outputs('username')}\">here.</a><br>\nAlthough your risk assessment has been approved, please make any required changes as per the comments below:<br>\n<br>\n<strong>BCI Team:<br>\n<br>\n</strong><strong>@{outputs('BCIcom2')}</strong><strong><br>\n<br>\nSupervisor:<br>\n<br>\n</strong><strong>@{first(body('Start_and_wait_for_an_approval')?['responses'])?['comments']}</strong><strong></strong></p>","emailMessage/Attachments":[{"Name":"@outputs('Add_attachment')?['body/DisplayName']","ContentBytes":"@outputs('Get_file_content_using_path_2')?['body']"}]},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Condition_7":["Succeeded"]},"else":{"actions":{"Delete_item_4":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"DeleteItem"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","table":"a9fd6fed-0f52-4dd8-ae61-b0af21d79fa2","id":"@outputs('Create_item')?['body/ID']"},"authentication":"@parameters('$authentication')"}},"Send_an_email_from_a_shared_mailbox_(V2)_10":{"runAfter":{"Delete_item_4":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SharedMailboxSendEmailV2"},"parameters":{"emailMessage/MailboxAddress":"BCITechSupport@bristol.ac.uk","emailMessage/To":"@outputs('Get_user_profile_(V2)')?['body/mail']","emailMessage/Subject":"Risk Assessment Approval","emailMessage/Body":"<p>Hi @{outputs('Get_user_profile_(V2)')?['body/givenName']},<br>\n<br>\nThe BCI team has rejected the risk assessment you submitted. Please check their comments below and make the necessary changes before resubmitting. Included are any minor comments your supervisor made before passing your risk assessment to the BCI team.<br>\n<br>\n<strong>BCI Team:<br>\n<br>\n</strong><strong>@{outputs('BCIcom2')}</strong><strong><br>\n<br>\nSupervisor:<br>\n<br>\n</strong><strong>@{first(body('Start_and_wait_for_an_approval')?['responses'])?['comments']}</strong><strong></strong></p>"},"authentication":"@parameters('$authentication')"}}}},"expression":{"equals":["@outputs('Start_and_wait_for_an_approval_3')?['body/outcome']","Approve"]},"type":"If"}}},"Case_3":{"case":"Mechanical Testing","actions":{"Update_item_5":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","table":"a9fd6fed-0f52-4dd8-ae61-b0af21d79fa2","id":"@outputs('Update_item')?['body/ID']","item/Title":"@{outputs('Create_item')?['body/Surname']}_@{outputs('Create_item')?['body/ID']}","item/Approval":"Passed Supervisor","item/BCIReviewer":"Yusuf Mahadik / James Thatcher"},"authentication":"@parameters('$authentication')"}},"Start_and_wait_for_an_approval_4":{"runAfter":{"Update_item_5":["Succeeded"]},"type":"OpenApiConnectionWebhook","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_approvals","connectionName":"shared_approvals","operationId":"StartAndWaitForAnApproval"},"parameters":{"approvalType":"Basic","WebhookApprovalCreationInput/title":"Risk Assessment Approval","WebhookApprovalCreationInput/assignedTo":"Yusuf.Mahadik@bristol.ac.uk; james.thatcher@bristol.ac.uk;","WebhookApprovalCreationInput/details":"## Action Required - Risk Assessment Approval\n\n@{body('Get_user_profile_(V2)')?['displayName']}  has submitted a risk assessment that requires your approval. It has already been approved by their supervisor  with any minor comments listed below. These comments will be included in the feedback email automatically if you reject the approval.\n\nSupervisor Comments: @{first(body('Start_and_wait_for_an_approval')?['responses'])?['comments']}\n\n\n\nIf amendments are required please select \"**Reject**\" and use the comments box before submitting. These comments will be forwarded to @{body('Get_user_profile_(V2)')?['givenName']} for their final draft submission.\n\nPlease remember any changes to the attached draft won't be saved.","WebhookApprovalCreationInput/enableNotifications":true,"WebhookApprovalCreationInput/enableReassignment":true,"WebhookApprovalCreationInput/attachments":[{"name":"@outputs('Add_attachment')?['body/DisplayName']","content":"@outputs('Get_file_content_using_path_2')?['body']"}]},"authentication":"@parameters('$authentication')"}},"Condition_6":{"actions":{},"runAfter":{"Start_and_wait_for_an_approval_4":["Succeeded"]},"else":{"actions":{"BCIcom3":{"runAfter":{},"type":"Compose","inputs":"@outputs('Start_and_wait_for_an_approval_4')['body']['responses'][0]?['comments']"}}},"expression":{"equals":["@outputs('Start_and_wait_for_an_approval_4')?['body']?['responses'][0]?['comments']","@null"]},"type":"If"},"Condition_11":{"actions":{"Update_item_11":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","table":"a9fd6fed-0f52-4dd8-ae61-b0af21d79fa2","id":"@outputs('Create_item')?['body/ID']","item/Title":"@{outputs('Update_item')?['body/Surname']}_@{outputs('Update_item')?['body/ID']}","item/Approval":"Approved"},"authentication":"@parameters('$authentication')"}},"Send_an_email_from_a_shared_mailbox_(V2)_11":{"runAfter":{"Update_item_11":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SharedMailboxSendEmailV2"},"parameters":{"emailMessage/MailboxAddress":"BCITechSupport@bristol.ac.uk","emailMessage/To":"@outputs('Get_user_profile_(V2)')?['body/mail']","emailMessage/Subject":"Risk Assessment Approval","emailMessage/Body":"<p>Hi @{outputs('Get_user_profile_(V2)')?['body/givenName']},<br>\n<br>\nBCI has approved your risk assessment. Please use only the attached version and keep with any active experimental work.<br>\n<br>\n<strong>To book equipment you will need to use your Risk Assessment Reference Number: </strong><strong>@{outputs('Update_item_11')?['body/ID']}</strong><strong><br>\n<br>\n</strong>To view all your risk assessments and check their status please click <a href=\"https://uob.sharepoint.com/teams/ACCISLabSupportTeam/Lists/Risk%20Assessment%20Submission%20Test%20Flow/AllItems.aspx?FilterField1=username&amp;FilterValue1=@{outputs('username')}\">here.</a><br>\nAlthough your risk assessment has been approved, please make any required changes as per the comments below:<br>\n<br>\n<strong>BCI Team:<br>\n<br>\n</strong><strong>@{outputs('BCIcom3')}</strong><strong><br>\n<br>\nSupervisor:<br>\n<br>\n</strong><strong>@{first(body('Start_and_wait_for_an_approval')?['responses'])?['comments']}</strong><strong></strong></p>","emailMessage/Attachments":[{"Name":"@outputs('Add_attachment')?['body/DisplayName']","ContentBytes":"@outputs('Get_file_content_using_path_2')?['body']"}]},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Condition_6":["Succeeded"]},"else":{"actions":{"Delete_item_5":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"DeleteItem"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","table":"a9fd6fed-0f52-4dd8-ae61-b0af21d79fa2","id":"@outputs('Create_item')?['body/ID']"},"authentication":"@parameters('$authentication')"}},"Send_an_email_from_a_shared_mailbox_(V2)_12":{"runAfter":{"Delete_item_5":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SharedMailboxSendEmailV2"},"parameters":{"emailMessage/MailboxAddress":"BCITechSupport@bristol.ac.uk","emailMessage/To":"@outputs('Get_user_profile_(V2)')?['body/mail']","emailMessage/Subject":"Risk Assessment Approval","emailMessage/Body":"<p>Hi @{outputs('Get_user_profile_(V2)')?['body/givenName']},<br>\n<br>\nThe BCI team has rejected the risk assessment you submitted. Please check their comments below and make the necessary changes before resubmitting. Included are any minor comments your supervisor made before passing your risk assessment to the BCI team.<br>\n<br>\n<strong>BCI Team:<br>\n<br>\n</strong><strong>@{outputs('BCIcom3')}</strong><strong><br>\n<br>\nSupervisor:<br>\n<br>\n</strong><strong>@{first(body('Start_and_wait_for_an_approval')?['responses'])?['comments']}</strong><strong></strong></p>"},"authentication":"@parameters('$authentication')"}}}},"expression":{"equals":["@outputs('Start_and_wait_for_an_approval_4')?['body/outcome']","Approve"]},"type":"If"}}},"Case_4":{"case":"Specimen Preparation","actions":{"Update_item_6":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","table":"a9fd6fed-0f52-4dd8-ae61-b0af21d79fa2","id":"@outputs('Update_item')?['body/ID']","item/Title":"@{outputs('Create_item')?['body/Surname']}_@{outputs('Create_item')?['body/ID']}","item/Approval":"Passed Supervisor","item/BCIReviewer":"Steven Rae / Katie Smith"},"authentication":"@parameters('$authentication')"}},"Start_and_wait_for_an_approval_5":{"runAfter":{"Update_item_6":["Succeeded"]},"type":"OpenApiConnectionWebhook","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_approvals","connectionName":"shared_approvals","operationId":"StartAndWaitForAnApproval"},"parameters":{"approvalType":"Basic","WebhookApprovalCreationInput/title":"Risk Assessment Approval","WebhookApprovalCreationInput/assignedTo":"steven.rae@bristol.ac.uk; katie.smith@bristol.ac.uk","WebhookApprovalCreationInput/details":"## Action Required - Risk Assessment Approval\n\n@{body('Get_user_profile_(V2)')?['displayName']}  has submitted a risk assessment that requires your approval. It has already been approved by their supervisor  with any minor comments listed below. These comments will be included in the feedback email automatically if you reject the approval.\n\nSupervisor Comments: @{first(body('Start_and_wait_for_an_approval')?['responses'])?['comments']}\n\n\n\nIf amendments are required please select \"**Reject**\" and use the comments box before submitting. These comments will be forwarded to @{body('Get_user_profile_(V2)')?['givenName']} for their final draft submission.\n\nPlease remember any changes to the attached draft won't be saved.","WebhookApprovalCreationInput/enableNotifications":true,"WebhookApprovalCreationInput/enableReassignment":true,"WebhookApprovalCreationInput/attachments":[{"name":"@outputs('Add_attachment')?['body/DisplayName']","content":"@outputs('Get_file_content_using_path_2')?['body']"}]},"authentication":"@parameters('$authentication')"}},"Condition_5":{"actions":{},"runAfter":{"Start_and_wait_for_an_approval_5":["Succeeded"]},"else":{"actions":{"BCIcom4":{"runAfter":{},"type":"Compose","inputs":"@outputs('Start_and_wait_for_an_approval_5')['body']['responses'][0]?['comments']"}}},"expression":{"equals":["@outputs('Start_and_wait_for_an_approval_5')?['body']?['responses'][0]?['comments']","@null"]},"type":"If"},"Condition_12":{"actions":{"Update_item_12":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","table":"a9fd6fed-0f52-4dd8-ae61-b0af21d79fa2","id":"@outputs('Create_item')?['body/ID']","item/Title":"@{outputs('Update_item')?['body/Surname']}_@{outputs('Update_item')?['body/ID']}","item/Approval":"Approved"},"authentication":"@parameters('$authentication')"}},"Send_an_email_from_a_shared_mailbox_(V2)_13":{"runAfter":{"Update_item_12":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SharedMailboxSendEmailV2"},"parameters":{"emailMessage/MailboxAddress":"BCITechSupport@bristol.ac.uk","emailMessage/To":"@outputs('Get_user_profile_(V2)')?['body/mail']","emailMessage/Subject":"Risk Assessment Approval","emailMessage/Body":"<p>Hi @{outputs('Get_user_profile_(V2)')?['body/givenName']},<br>\n<br>\nBCI has approved your risk assessment. Please use only the attached version and keep with any active experimental work.<br>\n<br>\n<strong>To book equipment you will need to use your Risk Assessment Reference Number: </strong><strong>@{outputs('Update_item_12')?['body/ID']}</strong><strong><br>\n<br>\n</strong>To view all your risk assessments and check their status please click <a href=\"https://uob.sharepoint.com/teams/ACCISLabSupportTeam/Lists/Risk%20Assessment%20Submission%20Test%20Flow/AllItems.aspx?FilterField1=username&amp;FilterValue1=@{outputs('username')}\">here.</a><br>\nAlthough your risk assessment has been approved, please make any required changes as per the comments below:<br>\n<br>\n<strong>BCI Team:<br>\n<br>\n</strong><strong>@{outputs('BCIcom4')}</strong><strong><br>\n<br>\nSupervisor:<br>\n<br>\n</strong><strong>@{first(body('Start_and_wait_for_an_approval')?['responses'])?['comments']}</strong><strong></strong></p>","emailMessage/Attachments":[{"Name":"@outputs('Add_attachment')?['body/DisplayName']","ContentBytes":"@outputs('Get_file_content_using_path_2')?['body']"}]},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Condition_5":["Succeeded"]},"else":{"actions":{"Delete_item_6":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"DeleteItem"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","table":"a9fd6fed-0f52-4dd8-ae61-b0af21d79fa2","id":"@outputs('Create_item')?['body/ID']"},"authentication":"@parameters('$authentication')"}},"Send_an_email_from_a_shared_mailbox_(V2)_14":{"runAfter":{"Delete_item_6":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SharedMailboxSendEmailV2"},"parameters":{"emailMessage/MailboxAddress":"BCITechSupport@bristol.ac.uk","emailMessage/To":"@outputs('Get_user_profile_(V2)')?['body/mail']","emailMessage/Subject":"Risk Assessment Approval","emailMessage/Body":"<p>Hi @{outputs('Get_user_profile_(V2)')?['body/givenName']},<br>\n<br>\nThe BCI team has rejected the risk assessment you submitted. Please check their comments below and make the necessary changes before resubmitting. Included are any minor comments your supervisor made before passing your risk assessment to the BCI team.<br>\n<br>\n<strong>BCI Team:<br>\n<br>\n</strong><strong>@{outputs('BCIcom4')}</strong><strong><br>\n<br>\nSupervisor:<br>\n<br>\n</strong><strong>@{first(body('Start_and_wait_for_an_approval')?['responses'])?['comments']}</strong><strong></strong></p>"},"authentication":"@parameters('$authentication')"}}}},"expression":{"equals":["@outputs('Start_and_wait_for_an_approval_5')?['body/outcome']","Approve"]},"type":"If"}}}},"default":{"actions":{"Update_item_7":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","table":"a9fd6fed-0f52-4dd8-ae61-b0af21d79fa2","id":"@outputs('Update_item')?['body/ID']","item/Title":"@{outputs('Create_item')?['body/Surname']}_@{outputs('Create_item')?['body/ID']}","item/Approval":"Passed Supervisor","item/BCIReviewer":"Steven Rae / James Thatcher"},"authentication":"@parameters('$authentication')"}},"Start_and_wait_for_an_approval_6":{"runAfter":{"Update_item_7":["Succeeded"]},"type":"OpenApiConnectionWebhook","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_approvals","connectionName":"shared_approvals","operationId":"StartAndWaitForAnApproval"},"parameters":{"approvalType":"Basic","WebhookApprovalCreationInput/title":"Risk Assessment Approval","WebhookApprovalCreationInput/assignedTo":"steven.rae@bristol.ac.uk; james.thatcher@bristol.ac.uk","WebhookApprovalCreationInput/details":"## Action Required - Risk Assessment Approval\n\n@{body('Get_user_profile_(V2)')?['displayName']}  has submitted a risk assessment that requires your approval. It has already been approved by their supervisor  with any minor comments listed below. These comments will be included in the feedback email automatically if you reject the approval.\n\nSupervisor Comments: @{first(body('Start_and_wait_for_an_approval')?['responses'])?['comments']}\n\n\n\nIf amendments are required please select \"**Reject**\" and use the comments box before submitting. These comments will be forwarded to @{body('Get_user_profile_(V2)')?['givenName']} for their final draft submission.\n\nPlease remember any changes to the attached draft won't be saved.","WebhookApprovalCreationInput/enableNotifications":true,"WebhookApprovalCreationInput/enableReassignment":true,"WebhookApprovalCreationInput/attachments":[{"name":"@outputs('Add_attachment')?['body/DisplayName']","content":"@outputs('Get_file_content_using_path_2')?['body']"}]},"authentication":"@parameters('$authentication')"}},"Condition_4":{"actions":{},"runAfter":{"Start_and_wait_for_an_approval_6":["Succeeded"]},"else":{"actions":{"BCIcom5":{"runAfter":{},"type":"Compose","inputs":"@outputs('Start_and_wait_for_an_approval_6')['body']['responses'][0]?['comments']"}}},"expression":{"equals":["@outputs('Start_and_wait_for_an_approval_6')?['body']?['responses'][0]?['comments']","@null"]},"type":"If"},"Condition_13":{"actions":{"Update_item_13":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","table":"a9fd6fed-0f52-4dd8-ae61-b0af21d79fa2","id":"@outputs('Create_item')?['body/ID']","item/Title":"@{outputs('Update_item')?['body/Surname']}_@{outputs('Update_item')?['body/ID']}","item/Approval":"Approved"},"authentication":"@parameters('$authentication')"}},"Send_an_email_from_a_shared_mailbox_(V2)_15":{"runAfter":{"Update_item_13":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SharedMailboxSendEmailV2"},"parameters":{"emailMessage/MailboxAddress":"BCITechSupport@bristol.ac.uk","emailMessage/To":"@outputs('Get_user_profile_(V2)')?['body/mail']","emailMessage/Subject":"Risk Assessment Approval","emailMessage/Body":"<p>Hi @{outputs('Get_user_profile_(V2)')?['body/givenName']},<br>\n<br>\nBCI has approved your risk assessment. Please use only the attached version and keep with any active experimental work.<br>\n<br>\n<strong>To book equipment you will need to use your Risk Assessment Reference Number: </strong><strong>@{outputs('Update_item_13')?['body/ID']}</strong><strong><br>\n<br>\n</strong>To view all your risk assessments and check their status please click <a href=\"https://uob.sharepoint.com/teams/ACCISLabSupportTeam/Lists/Risk%20Assessment%20Submission%20Test%20Flow/AllItems.aspx?FilterField1=username&amp;FilterValue1=@{outputs('username')}\">here.</a><br>\nAlthough your risk assessment has been approved, please make any required changes as per the comments below:<br>\n<br>\n<strong>BCI Team:<br>\n<br>\n</strong><strong>@{outputs('BCIcom5')}</strong><strong><br>\n<br>\nSupervisor:<br>\n<br>\n</strong><strong>@{first(body('Start_and_wait_for_an_approval')?['responses'])?['comments']}</strong><strong></strong></p>","emailMessage/Attachments":[{"Name":"@outputs('Add_attachment')?['body/DisplayName']","ContentBytes":"@outputs('Get_file_content_using_path_2')?['body']"}]},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Condition_4":["Succeeded"]},"else":{"actions":{"Delete_item_7":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"DeleteItem"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","table":"a9fd6fed-0f52-4dd8-ae61-b0af21d79fa2","id":"@outputs('Create_item')?['body/ID']"},"authentication":"@parameters('$authentication')"}},"Send_an_email_from_a_shared_mailbox_(V2)_16":{"runAfter":{"Delete_item_7":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SharedMailboxSendEmailV2"},"parameters":{"emailMessage/MailboxAddress":"BCITechSupport@bristol.ac.uk","emailMessage/To":"@outputs('Get_user_profile_(V2)')?['body/mail']","emailMessage/Subject":"Risk Assessment Approval","emailMessage/Body":"<p>Hi @{outputs('Get_user_profile_(V2)')?['body/givenName']},<br>\n<br>\nThe BCI team has rejected the risk assessment you submitted. Please check their comments below and make the necessary changes before resubmitting. Included are any minor comments your supervisor made before passing your risk assessment to the BCI team.<br>\n<br>\n<strong>BCI Team:<br>\n<br>\n</strong><strong>@{outputs('BCIcom5')}</strong><strong><br>\n<br>\nSupervisor:<br>\n<br>\n</strong><strong>@{first(body('Start_and_wait_for_an_approval')?['responses'])?['comments']}</strong><strong></strong></p>"},"authentication":"@parameters('$authentication')"}}}},"expression":{"equals":["@outputs('Start_and_wait_for_an_approval_6')?['body/outcome']","Approve"]},"type":"If"}}},"expression":"@outputs('Create_item')?['body/Area']","metadata":{"operationMetadataId":"2c07a0e6-6da1-44de-a2c7-049006a929ca"},"type":"Switch"}},"runAfter":{"Start_and_wait_for_an_approval":["Succeeded"]},"else":{"actions":{"Delete_item_2":{"runAfter":{},"metadata":{"operationMetadataId":"587f47a7-2223-43fb-92d5-0b79ae416015"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"DeleteItem"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","table":"a9fd6fed-0f52-4dd8-ae61-b0af21d79fa2","id":"@outputs('Create_item')?['body/ID']"},"authentication":"@parameters('$authentication')"}},"Send_an_email_from_a_shared_mailbox_(V2)_6":{"runAfter":{"Delete_item_2":["Succeeded"]},"metadata":{"operationMetadataId":"88d7b76f-8c61-4222-9b0d-08b388593a84"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SharedMailboxSendEmailV2"},"parameters":{"emailMessage/MailboxAddress":"BCITechSupport@bristol.ac.uk","emailMessage/To":"@outputs('Get_user_profile_(V2)')?['body/mail']","emailMessage/Subject":"Risk Assessment Approval","emailMessage/Body":"<p>Hi @{outputs('Get_user_profile_(V2)')?['body/givenName']},<br>\n<br>\nYour supervisor has rejected the risk assessment you submitted. Please check their comments below and make the necessary changes before resubmitting. <br>\n<br>\nSupervisor:<br>\n<br>\n@{first(body('Start_and_wait_for_an_approval')?['responses'])?['comments']}</p>"},"authentication":"@parameters('$authentication')"}}}},"expression":{"equals":["@outputs('Start_and_wait_for_an_approval')?['body/outcome']","Approve"]},"metadata":{"operationMetadataId":"f45a9870-48ae-4e9a-b4cd-b90b07517868"},"type":"If"},"Compose_3":{"runAfter":{"Compose_2":["Succeeded"]},"metadata":{"operationMetadataId":"5e3e846e-3be5-42c7-acad-c55091667898"},"type":"Compose","inputs":"@outputs('Get_response_details')?['body/rad026ab19fdd45e9894a4d5ccea55202']"},"Update_item_8":{"runAfter":{"Create_item":["Succeeded"]},"metadata":{"operationMetadataId":"1876fa2d-3327-4fa8-8239-2826b1e5e8df"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","table":"a9fd6fed-0f52-4dd8-ae61-b0af21d79fa2","id":"@outputs('Create_item')?['body/ID']","item/Title":"@{outputs('Create_item')?['body/Surname']}_@{outputs('Create_item')?['body/ID']}","item/Approval":"Pending"},"authentication":"@parameters('$authentication')"}},"Send_an_email_from_a_shared_mailbox_(V2)_5":{"runAfter":{"Add_attachment":["Succeeded"]},"metadata":{"operationMetadataId":"86b4c8f0-3eec-40ef-866e-f85e053e32d4"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SharedMailboxSendEmailV2"},"parameters":{"emailMessage/MailboxAddress":"BCITechSupport@bristol.ac.uk","emailMessage/To":"@outputs('Get_user_profile_(V2)')?['body/mail']","emailMessage/Subject":"Risk Assessment Approval","emailMessage/Body":"<p>Hi @{outputs('Get_user_profile_(V2)')?['body/displayName']},<br>\n<br>\nThank you for submitting your risk assessment. You can track the progress of its approval by following the link <a href=\"https://uob.sharepoint.com/teams/ACCISLabSupportTeam/Lists/Risk%20Assessment%20Submission%20Test%20Flow/AllItems.aspx?FilterField1=ID&FilterValue1=@{outputs('Create_item')?['body/ID']}\">here.</a> &nbsp;<br>\n<br>\nThis is an automated email. Please do not reply.</p>"},"authentication":"@parameters('$authentication')"}},"Get_file_content_using_path_2":{"runAfter":{"Compose_3":["Succeeded"]},"metadata":{"operationMetadataId":"094c3ea5-03c4-47f1-814c-2ade55cfe917"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetFileContentByPath"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","path":"/Shared Documents/Apps/Microsoft Forms/Risk Assessment Submission 1/Upload Risk Assessment/@{first(body('Parse_JSON'))?['name']}","inferContentType":true},"authentication":"@parameters('$authentication')"}}},"runAfter":{"ComposeSupervisor":["Succeeded"]},"else":{"actions":{"Send_an_email_from_a_shared_mailbox_(V2)":{"runAfter":{},"metadata":{"operationMetadataId":"f11ea462-1172-4708-8002-1577d30a0d3e"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SharedMailboxSendEmailV2"},"parameters":{"emailMessage/MailboxAddress":"BCITechSupport@bristol.ac.uk","emailMessage/To":"@outputs('Get_user_profile_(V2)')?['body/mail']","emailMessage/Subject":"Risk Assessment Submission","emailMessage/Body":"<p>Hi @{outputs('Get_user_profile_(V2)')?['body/givenName']},<br>\n<br>\nYour details could not be found on the lab register for the academic year 2021 - 2022. You must be a registered lab user before you can submit risk assessments.<br>\n<br>\nIf you believe this is an error, please speak to the BCI Technical Support Team.<br>\n<br>\nYour risk assessment submission has been cancelled.<br>\n<br>\nThis is an automated email, please do not reply directly.</p>"},"authentication":"@parameters('$authentication')"}},"Terminate":{"runAfter":{"Send_an_email_from_a_shared_mailbox_(V2)":["Succeeded"]},"metadata":{"operationMetadataId":"11185e34-9c39-4a78-a808-21d8ce531a8c"},"type":"Terminate","inputs":{"runStatus":"Cancelled"}}}},"expression":{"greater":["@length(body('Get_items')?['value'])",0]},"metadata":{"operationMetadataId":"f68c1e19-4077-48ef-af24-6cc005ef210c"},"type":"If"},"Compose_-_reviewlink":{"runAfter":{"username":["Succeeded"]},"metadata":{"operationMetadataId":"1f130274-2fee-4963-a91f-35979f297fd4"},"type":"Compose","inputs":"@concat('https://uob.sharepoint.com/teams/ACCISLabSupportTeam/Lists/Risk%20Assessment%20Submission%20Test%20Flow/AllItems.aspx?viewid=0397e1bc%2D8586%2D40c8%2Da442%2D9a7d3ccc9215&FilterField1=username&FilterValue1=', outputs('username'))"}},"runAfter":{},"metadata":{"operationMetadataId":"893fdee2-1fde-4024-a807-81f5309776c7"},"type":"Scope"},"Send_an_email_(V2)":{"runAfter":{"Scope":["Failed","Skipped","TimedOut"]},"metadata":{"operationMetadataId":"0aef08a0-8f7f-4aed-ae89-c3bcde4269af"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"steven.rae@bristol.ac.uk","emailMessage/Subject":"Risk Assessment Test Flow Failed","emailMessage/Body":"<p>@{outputs('Get_response_details')?['body/responder']}<br>\n<br>\n@{outputs('Get_response_details')?['body/submitDate']}</p>"},"authentication":"@parameters('$authentication')"}}}}