Training Record Update_FlowDef.json
{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_new_response_is_submitted":{"splitOn":"@triggerOutputs()?['body/value']","metadata":{"operationMetadataId":"1e42fe3b-566f-46cd-b486-41ab926d0ef9"},"type":"OpenApiConnectionWebhook","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_microsoftforms","connectionName":"shared_microsoftforms","operationId":"CreateFormWebhook"},"parameters":{"form_id":"MH_ksn3NTkql2rGM8aQVG2PvPX4q_EVEiz61XmYMV4RUOUZSWkw1VzE4STA4OTJXRlBSV1gwMTUzNiQlQCN0PWcu"},"authentication":"@parameters('$authentication')"}}},"actions":{"Get_response_details":{"runAfter":{},"metadata":{"operationMetadataId":"b0bc3b93-db63-4021-9203-5291e62f1545"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_microsoftforms","connectionName":"shared_microsoftforms","operationId":"GetFormResponseById"},"parameters":{"form_id":"MH_ksn3NTkql2rGM8aQVG2PvPX4q_EVEiz61XmYMV4RUOUZSWkw1VzE4STA4OTJXRlBSV1gwMTUzNiQlQCN0PWcu","response_id":"@triggerOutputs()?['body/resourceData/responseId']"},"authentication":"@parameters('$authentication')"}},"username":{"runAfter":{"Scope":["Succeeded"]},"metadata":{"operationMetadataId":"6315fac8-d1cb-4798-b7ce-5e28c2959c4f"},"type":"InitializeVariable","inputs":{"variables":[{"name":"username","type":"string","value":"@outputs('Get_user_profile_(V2)')?['body/mailNickname']"}]}},"equipArray":{"runAfter":{"Scope_2":["Succeeded"]},"metadata":{"operationMetadataId":"94a9e512-9b99-44b0-89bc-e2566642a730"},"type":"InitializeVariable","inputs":{"variables":[{"name":"equipArray","type":"array"}]}},"existingArray":{"runAfter":{"Apply_to_each":["Succeeded"]},"metadata":{"operationMetadataId":"c46e0fa0-8fc9-4cd0-883a-8ea43c89cb43"},"type":"InitializeVariable","inputs":{"variables":[{"name":"existingArray","type":"array"}]}},"Apply_to_each":{"foreach":"@outputs('generate_array')","actions":{"Append_to_array_variable":{"runAfter":{},"metadata":{"operationMetadataId":"00eab88f-1785-4e4d-ad8f-928c58a40541"},"type":"AppendToArrayVariable","inputs":{"name":"equipArray","value":"@json(concat('{\"Value\":\"',items('Apply_to_each'),'\"}'))\r\n"}}},"runAfter":{"equipArray":["Succeeded"]},"metadata":{"operationMetadataId":"ff2930f4-e25d-48e3-ad08-0c44c6416454"},"type":"Foreach"},"instructor_username":{"runAfter":{"Send_an_email_from_a_shared_mailbox_(V2)_6":["Succeeded"]},"metadata":{"operationMetadataId":"29d0830e-a4b6-4717-bd49-1659888b39cc"},"type":"InitializeVariable","inputs":{"variables":[{"name":"instructor","type":"string"}]}},"Scope":{"actions":{"Switch":{"runAfter":{},"cases":{"Case":{"case":"James Thatcher","actions":{"Set_variable":{"runAfter":{},"type":"SetVariable","inputs":{"name":"instructor","value":"rn19205@bristol.ac.uk"}}}},"Case_2":{"case":"Steven Rae","actions":{"Set_variable_2":{"runAfter":{},"type":"SetVariable","inputs":{"name":"instructor","value":"aesir@bristol.ac.uk"}}}},"Case_3":{"case":"Yusuf Mahadik","actions":{"Set_variable_3":{"runAfter":{},"type":"SetVariable","inputs":{"name":"instructor","value":"ym1191@bristol.ac.uk"}}}},"Case_4":{"case":"Katie Smith","actions":{"Set_variable_4":{"runAfter":{},"type":"SetVariable","inputs":{"name":"instructor","value":"ks7486@bristol.ac.uk"}}}},"Case_5":{"case":"Rich van Gelder","actions":{"Set_variable_5":{"runAfter":{},"type":"SetVariable","inputs":{"name":"instructor","value":"rv15685@bristol.ac.uk"}}}},"Case_6":{"case":"Hugh James","actions":{"Set_variable_6":{"runAfter":{},"type":"SetVariable","inputs":{"name":"instructor","value":"chhcfj@bristol.ac.uk"}}}},"Case_7":{"case":"Ian Chorley","actions":{"Set_variable_7":{"runAfter":{},"type":"SetVariable","inputs":{"name":"instructor","value":"feikc@bristol.ac.uk"}}}},"Case_8":{"case":"Allison McIntosh-Smith","actions":{"Set_variable_8":{"runAfter":{},"type":"SetVariable","inputs":{"name":"instructor","value":"cdakmis@bristol.ac.uk"}}}},"Case_9":{"case":"Pete Whereat","actions":{"Set_variable_9":{"runAfter":{},"type":"SetVariable","inputs":{"name":"instructor","value":"cepjw@bristol.ac.uk"}}}}},"default":{"actions":{"Set_variable_10":{"runAfter":{},"type":"SetVariable","inputs":{"name":"instructor","value":"@outputs('Get_response_details')?['body/r91cf8dd00cc04baca6bee814b8ce9e2c']"}},"Search_for_users_(V2)":{"runAfter":{"Set_variable_10":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365users","connectionName":"shared_office365users","operationId":"SearchUserV2"},"parameters":{"searchTerm":"@outputs('Get_response_details')?['body/r91cf8dd00cc04baca6bee814b8ce9e2c']"},"authentication":"@parameters('$authentication')"}},"Compose_3":{"runAfter":{"Search_for_users_(V2)":["Succeeded"]},"type":"Compose","inputs":"@outputs('Search_for_users_(V2)')?['body/value']"},"Parse_JSON_2":{"runAfter":{"Compose_3":["Succeeded"]},"type":"ParseJson","inputs":{"content":"@outputs('Compose_3')","schema":{"type":"array","items":{"type":"object","properties":{"Id":{"type":"string"},"AccountEnabled":{"type":"boolean"},"BusinessPhones":{"type":"array"},"Department":{"type":"string"},"DisplayName":{"type":"string"},"GivenName":{"type":"string"},"JobTitle":{"type":"string"},"Mail":{"type":"string"},"MailNickname":{"type":"string"},"OfficeLocation":{"type":"string"},"Surname":{"type":"string"},"UserPrincipalName":{"type":"string"}},"required":["Id","AccountEnabled","BusinessPhones","DisplayName","GivenName","Mail","MailNickname","Surname","UserPrincipalName"]}}}},"Filter_array":{"runAfter":{"Parse_JSON_2":["Succeeded"]},"type":"Query","inputs":{"from":"@body('Parse_JSON_2')","where":"@equals(item()['AccountEnabled'], true)"}},"Filter_array_2":{"runAfter":{"Filter_array":["Succeeded"]},"type":"Query","inputs":{"from":"@body('Filter_array')","where":"@not(equals(item()?['Department'], null))"}},"Filter_array_3":{"runAfter":{"Filter_array_2":["Succeeded"]},"type":"Query","inputs":{"from":"@body('Filter_array_2')","where":"@contains(item()?['Department'], 'Engineering')"}},"Condition_6":{"actions":{"Set_variable_11":{"runAfter":{},"type":"SetVariable","inputs":{"name":"instructor","value":"@{body('Filter_array_3')[0]['userPrincipalName']}"}}},"runAfter":{"Filter_array_3":["Succeeded"]},"else":{"actions":{"Send_an_email_from_a_shared_mailbox_(V2)_5":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SharedMailboxSendEmailV2"},"parameters":{"emailMessage/MailboxAddress":"BCITechSupport@bristol.ac.uk","emailMessage/To":"@outputs('Get_response_details')?['body/responder']","emailMessage/Subject":"Training Record Update Fail","emailMessage/Body":"<p>A active profile for @{variables('instructor')} could not be found in the directory. Please ensure you have entered their fullname as it appears in their email address or their university username when prompted.<br>\n<br>\nIf the instructor is no longer a member of the university, please contact the BCI Tech Support Team directly.<br>\n<br>\nThis is an automated email, Please do not reply,</p>"},"authentication":"@parameters('$authentication')"}},"Terminate_4":{"runAfter":{"Send_an_email_from_a_shared_mailbox_(V2)_5":["Succeeded"]},"type":"Terminate","inputs":{"runStatus":"Cancelled"}}}},"expression":{"greater":["@length(body('Filter_array_3'))",0]},"type":"If"}}},"expression":"@outputs('Get_response_details')?['body/r91cf8dd00cc04baca6bee814b8ce9e2c']","metadata":{"operationMetadataId":"eee7caab-fcba-46a0-adff-a86b482ad3a9"},"type":"Switch"},"Get_user_profile_(V2)_-instructor":{"runAfter":{"Switch":["Succeeded"]},"metadata":{"operationMetadataId":"446a4d34-c7d3-48e0-ba09-5c7af640c5cf"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365users","connectionName":"shared_office365users","operationId":"UserProfile_V2"},"parameters":{"id":"@variables('instructor')"},"authentication":"@parameters('$authentication')"}},"Get_user_profile_(V2)":{"runAfter":{"Get_user_profile_(V2)_-instructor":["Succeeded"]},"metadata":{"operationMetadataId":"8b6b6c2b-b7f1-4ece-bf5b-ccfc8e000344"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365users","connectionName":"shared_office365users","operationId":"UserProfile_V2"},"parameters":{"id":"@outputs('Get_response_details')?['body/responder']"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"instructor_username":["Succeeded"]},"metadata":{"operationMetadataId":"af6a1d22-8c72-48ff-a5dc-a6a2d9ac9eaa"},"type":"Scope"},"Send_an_email_(V2)":{"runAfter":{"Send_an_email_(V2)_5":["Succeeded"]},"metadata":{"operationMetadataId":"972d9d96-ef62-47a6-aa9a-9d8b433e252d"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"steven.rae@bristol.ac.uk","emailMessage/Subject":"Training Record Update Fail","emailMessage/Body":"<p>@{outputs('Get_response_details')?['body/responder']}<br>\n<br>\n@{outputs('Get_response_details')?['body/submitDate']}</p>"},"authentication":"@parameters('$authentication')"}},"Scope_2":{"actions":{"removeCharacters":{"runAfter":{},"metadata":{"operationMetadataId":"79a953c1-43d5-466f-9d78-1fada616d140"},"type":"Compose","inputs":"@replace(replace(replace(outputs('Get_response_details')?['body/r34804dc7db6e4759afcfbecd80148757'], ']', ''), '[', ''), '\"', '')"},"generate_array":{"runAfter":{"removeCharacters":["Succeeded"]},"metadata":{"operationMetadataId":"2ff5d303-d6d6-4227-bc24-fdd9bf4fd004"},"type":"Compose","inputs":"@split(outputs('removeCharacters'), ',')"},"Condition_2":{"actions":{"Start_and_wait_for_an_approval":{"runAfter":{},"metadata":{"operationMetadataId":"0493fbd5-459d-46e6-a2d3-084be2ce2282"},"type":"OpenApiConnectionWebhook","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_approvals","connectionName":"shared_approvals","operationId":"StartAndWaitForAnApproval"},"parameters":{"approvalType":"Basic","WebhookApprovalCreationInput/title":"Training Record Update","WebhookApprovalCreationInput/assignedTo":"@outputs('Get_user_profile_(V2)_-instructor')?['body/userPrincipalName']","WebhookApprovalCreationInput/details":"@{outputs('Get_user_profile_(V2)')?['body/displayName']} has requested an update to their training log with yourself listed as instructor. If the person is competent on the equipment listed below, please select 'Approve' and 'Submit'.  \n\nPlease note, failure to update the training record may adversely affect the user's abilitiy to book equipment.  \n\n@{outputs('generate_array')}","WebhookApprovalCreationInput/enableNotifications":true,"WebhookApprovalCreationInput/enableReassignment":true},"authentication":"@parameters('$authentication')"}},"Condition_3":{"actions":{},"runAfter":{"Start_and_wait_for_an_approval":["Succeeded"]},"else":{"actions":{"Terminate":{"runAfter":{"Send_an_email_from_a_shared_mailbox_(V2)":["Succeeded"]},"metadata":{"operationMetadataId":"1b4e1369-7d1c-42b2-8e80-488582b31179"},"type":"Terminate","inputs":{"runStatus":"Cancelled"}},"Send_an_email_from_a_shared_mailbox_(V2)":{"runAfter":{},"metadata":{"operationMetadataId":"84e0c82f-a0df-4084-910b-98f593c52dba"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SharedMailboxSendEmailV2"},"parameters":{"emailMessage/MailboxAddress":"BCITechSupport@bristol.ac.uk","emailMessage/To":"@outputs('Get_user_profile_(V2)')?['body/mail']","emailMessage/Subject":"Training Record Update","emailMessage/Body":"<p>Hi @{outputs('Get_user_profile_(V2)')?['body/givenName']},<br>\n<br>\nYour request to update the training record has been rejected. If the approver has provided any details they will be listed below. Please review and resubmit.<br>\n&nbsp;<br>\nIf you believe this decision is incorrect, please speak to the BCI Technical Support Team directly.<br>\n<br>\n**Approver's Comments** &nbsp;<br>\n<br>\n@{outputs('Start_and_wait_for_an_approval')?['body']?['responses'][0]?['comments']}</p>"},"authentication":"@parameters('$authentication')"}}}},"expression":{"equals":["@outputs('Start_and_wait_for_an_approval')?['body/outcome']","Approve"]},"metadata":{"operationMetadataId":"61840d2b-3541-4dc5-9045-420f6d1cbdd5"},"type":"If"}},"runAfter":{"generate_array":["Succeeded"]},"else":{"actions":{"Start_and_wait_for_an_approval_2":{"runAfter":{},"metadata":{"operationMetadataId":"2de8f46d-8a4d-440f-83ea-6fc465edcf5f"},"type":"OpenApiConnectionWebhook","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_approvals","connectionName":"shared_approvals","operationId":"StartAndWaitForAnApproval"},"parameters":{"approvalType":"Basic","WebhookApprovalCreationInput/title":"Traing Record Update","WebhookApprovalCreationInput/assignedTo":"@outputs('Get_user_profile_(V2)_-instructor')?['body/mail']","WebhookApprovalCreationInput/details":"@{outputs('Get_user_profile_(V2)')?['body/displayName']} has requested an update to their training log with yourself listed as instructor. If the person is competent on the equipment listed below, please select 'Approve' and 'Submit'.  \n\nPlease note, failure to update the training record may adversely affect the user's abilitiy to book equipment.  \n\n@{outputs('generate_array')}","WebhookApprovalCreationInput/enableNotifications":true,"WebhookApprovalCreationInput/enableReassignment":true},"authentication":"@parameters('$authentication')"}},"Condition_4":{"actions":{"Start_and_wait_for_an_approval_3":{"runAfter":{},"metadata":{"operationMetadataId":"2a00aac3-2d4b-4626-b027-aac0850d52dd"},"type":"OpenApiConnectionWebhook","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_approvals","connectionName":"shared_approvals","operationId":"StartAndWaitForAnApproval"},"parameters":{"approvalType":"Basic","WebhookApprovalCreationInput/title":"Traing Record Update","WebhookApprovalCreationInput/assignedTo":"steven.rae@bristol.ac.uk; james.thatcher@bristol.ac.uk; yusuf.mahadik@bristol.ac.uk; katie.smith@bristol.ac.uk; rv15685@bristol.ac.uk; allison.mcintosh-smith@bristol.ac.uk","WebhookApprovalCreationInput/details":"@{outputs('Get_user_profile_(V2)')?['body/displayName']} has requested an update to their training log. They have indicated they were trained by someone not in the lab team (@{outputs('Get_user_profile_(V2)_-instructor')?['body/displayName']}), who has already approved this, on the kit listed below:  \n\n@{outputs('generate_array')}  \n\nIf you are confident the training provided is satisfactory, please 'Approve' and 'submit.","WebhookApprovalCreationInput/enableNotifications":true,"WebhookApprovalCreationInput/enableReassignment":true},"authentication":"@parameters('$authentication')"}},"Condition_5":{"actions":{},"runAfter":{"Start_and_wait_for_an_approval_3":["Succeeded"]},"else":{"actions":{"Send_an_email_from_a_shared_mailbox_(V2)_4":{"runAfter":{},"metadata":{"operationMetadataId":"61cba1ae-4094-42b2-aa9e-92ca624c10ee"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SharedMailboxSendEmailV2"},"parameters":{"emailMessage/MailboxAddress":"BCITechSupport@bristol.ac.uk","emailMessage/To":"@outputs('Get_user_profile_(V2)')?['body/mail']","emailMessage/Subject":"Training Record Update","emailMessage/Body":"<p>Hi @{outputs('Get_user_profile_(V2)')?['body/givenName']},<br>\n<br>\nYour request to update the training record has been rejected. If the approver has provided any details they will be listed below. Please review and resubmit.<br>\n&nbsp;<br>\nIf you believe this decision is incorrect, please speak to the BCI Technical Support Team directly.<br>\n<br>\n**Approver's Comments** &nbsp;<br>\n<br>\n@{outputs('Start_and_wait_for_an_approval_3')?['body']?['responses'][0]?['comments']}</p>"},"authentication":"@parameters('$authentication')"}},"Terminate_3":{"runAfter":{"Send_an_email_from_a_shared_mailbox_(V2)_4":["Succeeded"]},"metadata":{"operationMetadataId":"9d301cee-6f01-4677-bc69-39ebf20e7ab3"},"type":"Terminate","inputs":{"runStatus":"Cancelled"}}}},"expression":{"equals":["@outputs('Start_and_wait_for_an_approval_3')?['body/outcome']","Approve"]},"metadata":{"operationMetadataId":"08ef735f-54ae-4b80-a419-f193f8b02848"},"type":"If"}},"runAfter":{"Start_and_wait_for_an_approval_2":["Succeeded"]},"else":{"actions":{"Send_an_email_from_a_shared_mailbox_(V2)_3":{"runAfter":{},"metadata":{"operationMetadataId":"3b69aeac-4cd7-4374-9c2b-8b7f32a0ba11"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SharedMailboxSendEmailV2"},"parameters":{"emailMessage/MailboxAddress":"BCITechSupport@bristol.ac.uk","emailMessage/To":"@outputs('Get_user_profile_(V2)')?['body/mail']","emailMessage/Subject":"Training Record Update","emailMessage/Body":"<p>Hi @{outputs('Get_user_profile_(V2)')?['body/givenName']},<br>\n<br>\nYour request to update the training record has been rejected. If the approver has provided any details they will be listed below. Please review and resubmit.<br>\n&nbsp;<br>\nIf you believe this decision is incorrect, please speak to the BCI Technical Support Team directly.<br>\n<br>\n**Approver's Comments** &nbsp;<br>\n<br>\n@{outputs('Start_and_wait_for_an_approval_2')?['body']?['responses'][0]?['comments']}</p>"},"authentication":"@parameters('$authentication')"}},"Terminate_2":{"runAfter":{"Send_an_email_from_a_shared_mailbox_(V2)_3":["Succeeded"]},"metadata":{"operationMetadataId":"cb4338d8-a1db-42da-82b6-bd14dc66b8a5"},"type":"Terminate","inputs":{"runStatus":"Cancelled"}}}},"expression":{"equals":["@outputs('Start_and_wait_for_an_approval_2')?['body/outcome']","Approve"]},"metadata":{"operationMetadataId":"a5101417-e9f1-4d90-aaa6-d28e0e1423df"},"type":"If"}}},"expression":{"or":[{"equals":["@outputs('Get_user_profile_(V2)_-instructor')?['body/displayName']","James Thatcher"]},{"equals":["@outputs('Get_user_profile_(V2)_-instructor')?['body/displayName']","Steven Rae"]},{"equals":["@outputs('Get_user_profile_(V2)_-instructor')?['body/displayName']","Yusuf Mahadik"]},{"equals":["@outputs('Get_user_profile_(V2)_-instructor')?['body/displayName']","Katie Smith"]},{"equals":["@outputs('Get_user_profile_(V2)_-instructor')?['body/displayName']","Rich van Gelder"]},{"equals":["@outputs('Get_user_profile_(V2)_-instructor')?['body/displayName']","Hugh James"]},{"equals":["@outputs('Get_user_profile_(V2)_-instructor')?['body/displayName']","Allison McIntosh-Smith"]},{"equals":["@outputs('Get_user_profile_(V2)_-instructor')?['body/displayName']","Ian Chorley"]},{"equals":["@outputs('Get_user_profile_(V2)_-instructor')?['body/displayName']","Peter Whereat"]}]},"metadata":{"operationMetadataId":"dcf2412f-464e-41b6-8183-934c239f7a3b"},"type":"If"}},"runAfter":{"username":["Succeeded"]},"metadata":{"operationMetadataId":"b58d2bf0-6f3f-4865-99a1-73c2df85f821"},"type":"Scope"},"Send_an_email_(V2)_2":{"runAfter":{"Scope_2":["Failed","Skipped"]},"metadata":{"operationMetadataId":"3c1e3970-727b-41c0-94ce-8357b30787f6"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"steven.rae@bristol.ac.uk","emailMessage/Subject":"Training Record Update Fail","emailMessage/Body":"<p>@{outputs('Get_response_details')?['body/responder']}<br>\n@{outputs('Get_response_details')?['body/submitDate']}</p>"},"authentication":"@parameters('$authentication')"}},"Send_an_email_(V2)_3":{"runAfter":{"Apply_to_each":["Failed"]},"metadata":{"operationMetadataId":"a674b26c-56a6-4ad5-9845-a46325835fe8"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"steven.rae@bristol.ac.uk","emailMessage/Subject":"Training Record Update Fail","emailMessage/Body":"<p>@{outputs('Get_response_details')?['body/responder']}<br>\n@{outputs('Get_response_details')?['body/submitDate']}</p>"},"authentication":"@parameters('$authentication')"}},"Scope_3":{"actions":{"Get_items":{"runAfter":{},"metadata":{"operationMetadataId":"3c2cf7b3-2125-4f52-9a59-d9689395d48e"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItems"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","table":"c4759eef-e3d1-48ac-8bf3-6b6ecf4ed941","$filter":"Title eq '@{variables('username')}'"},"authentication":"@parameters('$authentication')"}},"Condition":{"actions":{"Get_item":{"runAfter":{"ComposeID":["Succeeded"]},"metadata":{"operationMetadataId":"60903557-2ce1-41f3-9c0c-d4c49642857b"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItem"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","table":"c4759eef-e3d1-48ac-8bf3-6b6ecf4ed941","id":"@outputs('ComposeID')"},"authentication":"@parameters('$authentication')"}},"ComposeID":{"runAfter":{},"metadata":{"operationMetadataId":"f36ef1a7-6831-4a89-b978-0284ad348e2a"},"type":"Compose","inputs":"@outputs('Get_items')?['body']?['value'][0]?['ID']"},"Update_item":{"runAfter":{"Compose_2":["Succeeded"]},"metadata":{"operationMetadataId":"0a270bfc-aa3d-4da2-b203-b7e1f044d8e3"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","table":"c4759eef-e3d1-48ac-8bf3-6b6ecf4ed941","id":"@outputs('Get_item')?['body/ID']","item/Title":"@variables('username')","item/equipArray":"@outputs('Compose_2')"},"authentication":"@parameters('$authentication')"}},"Compose":{"runAfter":{"Get_item":["Succeeded"]},"metadata":{"operationMetadataId":"ca7f26d5-c908-4f8b-b80f-a0d8ed49b40c"},"type":"Compose","inputs":"@outputs('Get_item')?['body']?['equipArray']"},"Parse_JSON":{"runAfter":{"Compose":["Succeeded"]},"metadata":{"operationMetadataId":"affd9fb4-d10c-4c79-b507-29349b671c2c"},"type":"ParseJson","inputs":{"content":"@outputs('Compose')","schema":{"type":"array","items":{"type":"object","properties":{"@@odata.type":{"type":"string"},"Id":{"type":"integer"},"Value":{"type":"string"}},"required":["@@odata.type","Id","Value"]}}}},"Apply_to_each_2":{"foreach":"@body('Parse_JSON')","actions":{"Append_to_array_variable_2":{"runAfter":{},"metadata":{"operationMetadataId":"175f0aa1-c769-4dc3-94a4-8e96f79bce11"},"type":"AppendToArrayVariable","inputs":{"name":"existingArray","value":"@json(concat('{\"Value\":\"',items('Apply_to_each_2')['Value'],'\"}'))\r\n"}}},"runAfter":{"Parse_JSON":["Succeeded"]},"metadata":{"operationMetadataId":"1aa57a41-eb5a-418c-bdd6-71a6f12b2668"},"type":"Foreach"},"Compose_2":{"runAfter":{"Apply_to_each_2":["Succeeded"]},"metadata":{"operationMetadataId":"4fc153ec-0246-47c6-b6e5-c74ebb1c97ec"},"type":"Compose","inputs":"@union(variables('existingArray'), variables('equipArray'))"}},"runAfter":{"Get_items":["Succeeded"]},"else":{"actions":{"Create_item":{"runAfter":{},"metadata":{"operationMetadataId":"c52b6c5d-902c-4059-8833-5ad1c248ae28"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PostItem"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","table":"c4759eef-e3d1-48ac-8bf3-6b6ecf4ed941","item/Title":"@variables('username')","item/Surname":"@outputs('Get_user_profile_(V2)')?['body/surname']","item/Firstname":"@outputs('Get_user_profile_(V2)')?['body/givenName']","item/equipArray":"@variables('equipArray')"},"authentication":"@parameters('$authentication')"}}}},"expression":{"greater":["@length(outputs('Get_items')?['body/value'])",0]},"metadata":{"operationMetadataId":"a751d9ee-dbcc-4940-9644-df83aa6ee6c3"},"type":"If"},"ComposeURL":{"runAfter":{"Condition":["Succeeded"]},"metadata":{"operationMetadataId":"215d90f4-535f-4131-b3a4-d3e26485feb8"},"type":"Compose","inputs":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam/Lists/Training%20Record/AllItems.aspx?FilterField1=Title&FilterValue1=@{variables('username')}"},"Send_an_email_from_a_shared_mailbox_(V2)_2":{"runAfter":{"ComposeURL":["Succeeded"]},"metadata":{"operationMetadataId":"f2322ec0-d356-495f-a68d-726c5173bcfd"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SharedMailboxSendEmailV2"},"parameters":{"emailMessage/MailboxAddress":"BCITechSupport@bristol.ac.uk","emailMessage/To":"@outputs('Get_user_profile_(V2)')?['body/mail']","emailMessage/Subject":"Training Record Updated","emailMessage/Body":"<p>Hi @{outputs('Get_user_profile_(V2)')?['body/givenName']},<br>\n<br>\nYour training record has been successfully updated for the below listed equipment:<br>\n<br>\n@{outputs('generate_array')}<br>\n<br>\nYou can view your training record here:<br>\n<br>\n@{outputs('ComposeURL')}</p>"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"existingArray":["Succeeded"]},"metadata":{"operationMetadataId":"1c368fe5-b6e2-441c-827e-b322781ad8a1"},"type":"Scope"},"Send_an_email_(V2)_4":{"runAfter":{"Scope_3":["Failed"]},"metadata":{"operationMetadataId":"39c29e0d-627b-4a93-b3dc-a8fa509ca5d9"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"steven.rae@bristol.ac.uk","emailMessage/Subject":"Training Record Update Fail","emailMessage/Body":"<p>@{outputs('Get_response_details')?['body/responder']}<br>\n@{outputs('Get_response_details')?['body/submitDate']}</p>"},"authentication":"@parameters('$authentication')"}},"Send_an_email_from_a_shared_mailbox_(V2)_6":{"runAfter":{"Get_response_details":["Succeeded"]},"metadata":{"operationMetadataId":"2d3f88c1-e6aa-4383-902b-305c2bd5ba80"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SharedMailboxSendEmailV2"},"parameters":{"emailMessage/MailboxAddress":"BCITechSupport@bristol.ac.uk","emailMessage/To":"@outputs('Get_response_details')?['body/responder']","emailMessage/Subject":"Training Record Submission","emailMessage/Body":"<p>Thank you for submitting a request to update your training record.<br>\n<br>\nPlease note, you will need to wait until the instructor listed has approved your request before you can book said equipment if it is on the controlled access list.<br>\n<br>\nYou will be notified once your training record update has been approved.<br>\n<br>\nThis is an automated email. Please do not reply.</p>"},"authentication":"@parameters('$authentication')"}},"Send_an_email_(V2)_5":{"runAfter":{"Scope":["Failed","Skipped","TimedOut"]},"metadata":{"operationMetadataId":"42ec4dfc-3163-4b5f-beba-69a1869c1d97"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"@outputs('Get_response_details')?['body/responder']","emailMessage/Subject":"Training Record Update Fail","emailMessage/Body":"<p>There was an issue updating your training record. Please make sure you enter the instructor's USERNAME (not their full name).<br>\n<br>\nThis is an automated email. Please do not reply.</p>"},"authentication":"@parameters('$authentication')"}},"Send_an_email_(V2)_6":{"runAfter":{"Send_an_email_(V2)_2":["Succeeded"]},"metadata":{"operationMetadataId":"7baffdc7-a2d9-45b8-8167-8085c8aa5be3"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"@outputs('Get_response_details')?['body/responder']","emailMessage/Subject":"Training Record Update Fail","emailMessage/Body":"<p>There was an issue updating your training record. Please make sure you enter the instructor's USERNAME (not their full name).<br>\n<br>\nThis is an automated email. Please do not reply.</p>"},"authentication":"@parameters('$authentication')"}}}}