Update Desk_Authorisation Name_FlowDef.json
{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"b9e7b177-f104-4366-bfac-4b3a93c25c2c"},"type":"Request","kind":"Button","inputs":{"schema":{"type":"object","properties":{},"required":[]}}}},"actions":{"Get_items":{"runAfter":{},"metadata":{"operationMetadataId":"1e6204c7-6c90-40c5-9849-34572038d3d6"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItems"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","table":"ec42bc27-4c19-43cb-9657-dbd22b220e37"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Apply_to_each_2":{"foreach":"@outputs('Get_items')?['body/value']","actions":{"Get_user_profile_(V2)_2":{"runAfter":{},"metadata":{"operationMetadataId":"826527c6-3d80-4d8a-9fe6-6af04dffd12f"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365users","connectionName":"shared_office365users","operationId":"UserProfile_V2"},"parameters":{"id":"@concat(items('Apply_to_each_2')?['Title'], '@bristol.ac.uk')"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Update_item":{"runAfter":{"Get_user_profile_(V2)_2":["Succeeded"]},"metadata":{"operationMetadataId":"95df948e-a79c-463f-8350-3e4f5e83f6fa"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"parameters":{"dataset":"https://uob.sharepoint.com/teams/ACCISLabSupportTeam","table":"ec42bc27-4c19-43cb-9657-dbd22b220e37","id":"@items('Apply_to_each_2')?['ID']","item/Title":"@items('Apply_to_each_2')?['Title']","item/Name/Claims":"@outputs('Get_user_profile_(V2)_2')?['body/displayName']"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}},"runAfter":{"Get_items":["Succeeded"]},"metadata":{"operationMetadataId":"16b45c9e-203e-4c5f-8f91-418fd5ead8bb"},"type":"Foreach"}},"description":"If users have been added to the Desk_Authorisation list manually, run this flow to fetch names"}