Wind Tunnel Booking_FlowDef.json
{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_new_response_is_submitted":{"splitOn":"@triggerOutputs()?['body/value']","type":"OpenApiConnectionWebhook","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_microsoftforms","connectionName":"shared_microsoftforms","operationId":"CreateFormWebhook"},"parameters":{"form_id":"MH_ksn3NTkql2rGM8aQVGxTLttSrapVCndvkxz4nzx1UQ1FVUDk1R1NJV0ZPN0hUODFOQUVFMEMwNi4u"},"authentication":"@parameters('$authentication')"}}},"actions":{"Get_response_details":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_microsoftforms","connectionName":"shared_microsoftforms","operationId":"GetFormResponseById"},"parameters":{"form_id":"MH_ksn3NTkql2rGM8aQVGxTLttSrapVCndvkxz4nzx1UQ1FVUDk1R1NJV0ZPN0hUODFOQUVFMEMwNi4u","response_id":"@triggerOutputs()?['body/resourceData/responseId']"},"authentication":"@parameters('$authentication')"}},"Start_and_wait_for_an_approval":{"runAfter":{"Get_response_details":["Succeeded"]},"type":"OpenApiConnectionWebhook","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_approvals","connectionName":"shared_approvals","operationId":"StartAndWaitForAnApproval"},"parameters":{"approvalType":"Basic","WebhookApprovalCreationInput/title":"Wind Tunnel Booking Request","WebhookApprovalCreationInput/assignedTo":"steven.rae@bristol.ac.uk; xl13182@bristol.ac.uk; tj19902@bristol.ac.uk; wd21495@bristol.ac.uk","WebhookApprovalCreationInput/details":"A new request to book a wind tunnel has been received. Please review the information and Approve or Decline the request. If Declined, please provide comments to send back to the requestor.  \n- Name: @{outputs('Get_response_details')?['body/r9105925189114e1caac627ff42d0f16d']} \n- Supervisor/Budget Holder: @{outputs('Get_response_details')?['body/rc38f7cccd4284c80a4c05e6735cc5076']} \n- Department:  @{outputs('Get_response_details')?['body/r2d9c43d74f0c4f2ead7e29ac0b10e263']} \n- Budget Code: @{outputs('Get_response_details')?['body/rca450876e8ec44f78e2f474a2376b146']} \n- Purpose: @{outputs('Get_response_details')?['body/rb97ec65556944597a75ec1bf0c0a6b15']}  \n- Dates/Times:  @{outputs('Get_response_details')?['body/rdc3e93bb1e7c40c1b774a7beee8171b1']} to @{outputs('Get_response_details')?['body/r01ea2a533a7544b2b04d2140694c21de']}\n- Wind Tunnel: @{outputs('Get_response_details')?['body/r3f4d937e8a504fb9be357940e9ebb8f9']} ","WebhookApprovalCreationInput/enableNotifications":true,"WebhookApprovalCreationInput/enableReassignment":true},"authentication":"@parameters('$authentication')"}},"Condition":{"actions":{"Add_a_row_into_a_table":{"runAfter":{},"metadata":{"01FAYPNXK77EFJN7EZMVFJ3KHUJSDGZYLI":"/PowerApps/Flows/Wind Tunnel Bookings/Wind Tunnel Bookings.xlsx","tableId":"{5544ED52-FE54-47BA-A973-0A76014333E2}"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"AddRowV2"},"parameters":{"source":"me","drive":"b!EdnUauyP10Kh_IyS9JKAecTnoDq6nrpEnsToMmHqgH2TM63wnmCkTb-Szk8eeBA8","file":"01FAYPNXK77EFJN7EZMVFJ3KHUJSDGZYLI","table":"{5544ED52-FE54-47BA-A973-0A76014333E2}","item/Name":"@outputs('Get_response_details')?['body/r9105925189114e1caac627ff42d0f16d']","item/Budget Holder~1Supervisor":"@outputs('Get_response_details')?['body/rc38f7cccd4284c80a4c05e6735cc5076']","item/Dept":"@outputs('Get_response_details')?['body/r2d9c43d74f0c4f2ead7e29ac0b10e263']","item/Budget Code":"@outputs('Get_response_details')?['body/rca450876e8ec44f78e2f474a2376b146']","item/Purpose":"@outputs('Get_response_details')?['body/rb97ec65556944597a75ec1bf0c0a6b15']","item/Wind Tunnel":"@outputs('Get_response_details')?['body/r3f4d937e8a504fb9be357940e9ebb8f9']","item/Dates ~1 Times":"@concat(string(outputs('Get_response_details')?['body/rdc3e93bb1e7c40c1b774a7beee8171b1']), ' - ', string(outputs('Get_response_details')?['body/r01ea2a533a7544b2b04d2140694c21de']))"},"authentication":"@parameters('$authentication')"}},"Create_event_(V4)":{"runAfter":{"Add_a_row_into_a_table":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"V4CalendarPostItem"},"parameters":{"table":"AAMkAGJjNDA1MTJiLWNmMTEtNDcxMi04MTMwLTdkZWFiMmU3ZjZlNgBGAAAAAABsIG_UMfxwTK2v7DBfOggjBwDtRW2DxvykS6GkISEn7kGNAAAAAAEGAADtRW2DxvykS6GkISEn7kGNAAPP3LlaAAA=","item/subject":"@concat(outputs('Get_response_details')?['body/r9105925189114e1caac627ff42d0f16d'], outputs('Get_response_details')?['body/r3f4d937e8a504fb9be357940e9ebb8f9'])","item/start":"@outputs('Get_response_details')?['body/rdc3e93bb1e7c40c1b774a7beee8171b1']","item/end":"@addHours(outputs('Get_response_details')?['body/r01ea2a533a7544b2b04d2140694c21de'], 24)","item/timeZone":"(UTC+00:00) Dublin, Edinburgh, Lisbon, London","item/requiredAttendees":"@outputs('Get_response_details')?['body/responder']"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Start_and_wait_for_an_approval":["Succeeded"]},"else":{"actions":{"Apply_to_each":{"foreach":"@outputs('Start_and_wait_for_an_approval')?['body/responses']","actions":{"Send_an_email_(V2)":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"@outputs('Get_response_details')?['body/responder']","emailMessage/Subject":"Wind Tunnel Booking Declined","emailMessage/Body":"<p>Hi @{outputs('Get_response_details')?['body/r9105925189114e1caac627ff42d0f16d']}, &nbsp;<br>\nYour request to book the wind tunnel was declined. Please see the comments below before resubmitting your request.<br>\n<br>\nComments: @{items('Apply_to_each')?['comments']}<br>\n<br>\nPlease note this is an automated email, please do not reply directly.</p>"},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"type":"Foreach"}}},"expression":{"equals":["@outputs('Start_and_wait_for_an_approval')?['body/outcome']","Approve"]},"type":"If"}}}